
<h1 style="text-align:center; color: white;">Rewards</h1>
<!--Display balance and level summary for user-->
<div id="rewards-summary" style="text-align:center; color: white;">
    <!--Display users current point balance-->
    <p>Balance</p>
    <h2 id="points-balance"></h2>
    <!--This is total lifetime earnings of user contributing to their level-->
    <p id="level-progress"></p>
    <!--Progress Bar containing level progress-->
    <div id="progress-container">
        
    </div>
</div>
<hr>
<!--Display users active running perks if any-->
<div id="perks-active" style="text-align:center; color: white;">
    No Perks Active
</div>
<hr>

<!--Provide buttons for redeeming and learning about rewards-->
<div id="buttons">
    <button type="button" id="redeem-button" class="wide-button">Redeem</button>
    <button type="button" id="learn-button" class="wide-button">Learn</button>
</div>

<hr>

<!--Display history of earnings "Interaction with usernames bit: +15pts"-->
<div id="earnings-history" style="text-align:center; color: white;">
    <h3>Earnings History</h3>
    No rewards Earned
<div>


<!--
    Yourbit rewards is designed to get users engaged and rapidly expand the platform.

    This system will heavily influence the new yourbit algorithm which allows users to adjust the weight
    of their post or other posts in reccomendation using special features.

    This system consists of a new perk system. Users will recieve rewards points for performing the following actions:

        -Like/Dislike a bit:   10 points
        -Share a bit:          15 points
        -Comment on a bit:     15 points
        -Invite a friend:      500 points

    Yourbit will also feature rewards for achievements which will grow and evolve over time and give users weekly challenges for
    motivation to create. These achievements include: 

        -Submit your first post: 100 points
        -Upload your first video: 100 points
        -Upload your first photo: 100 points
        -Change your background: 50 points

    The reward system is not only desgned to help users boost themelves, but engage to provide more feedback which
    in turn gives content creators more insights and reinforces reccomendation algorithms to provide more accurate results. This
    increases the value of yourbit data, exposure of yourbit, and in the end lead to higher profitability. So rewards allow us
    to pay users back in some way, as a token of gratitude for contributing to yourbit.

    Perks are a really awesome new yourbit feature which is expected to be the new killer feature of modern social media that yourbit
    will use as a core selling point. 

    Perk Options:
        -Level 1 (1000pts):
            -Echo2 (500pts): Shared posts will echo to feed of friends of friends friends. 
            -Random Drop In (750pts): 150 randomly selected users will see this post next in dynamic feed. 
            -Small Boost (750pts): Increases ranking in public feed algorithms for calculated audience for 24 hours

        -Level 2 (500pts):
            -Random Drop In (1000pts): 300 randomly selected users will see this post next in dynmic feed
            -Random Target (1500pts): 500 random people within a targeted group will see this post next in dynamic feed
            -Spread the Love (1000pts): Posts will show up in feed of friends of friends who like this bit. A like is equal to share,
            share will not be associated with liking user by profile.

        -Level 3 (10000pts):
            -Echo5 (1500pts): Posts will be visible on feed of friends of friends friends + 3 tiers
            -Super Drop In (1750pts): 1000 randomly selected users will see this post next in dynamic feed.


-->
</div>


<div id="rewards-bubble-text" style="display:none;">
<img id="message-header-logo" src="{% static 'images/logo-flat.png'%}" style="position: relative; display: block; width: 70px; margin-top:5px; margin-left: auto; margin-right: auto;">
<br>
<h3 style="text-align: center;">Yourbit Rewards</h3>
<br>
<strong>What are Yourbit Rewards?</strong>
<p>Yourbit rewards is a program created to help encourage users to engage more with their content. Higher user engagement
    can be helpful for everyone on the platform. More interaction data leads to better reccomendation and more insights for creators.
    Yourbit rewards also provides a way for creators to boost themselves regardless of existing popularity or financial status.
</p>
<strong>How it works</strong>
<p>Every time you provide feedback on a post that you haven't yet provided feedback on, you will recieve rewards points, the amount depends 
    on the action. You can redeem your rewards points for boost perks on your profile, community, or on a specific post. Boost perks may vary
    depending on what scope you choose to promote at.
</p>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

