.yb-container-addPhoto {
    display: none;
    position: relative; 
    background-color: black; 
    border-radius: 10px;  
    height: 0px;
    width: 0px;
    margin: auto;
    transition: 0.5s;
}

.yb-builderBit:focus {
    outline: none;
}

.yb-container-addVideo {
    display: none;
}

.yb-container-addVideo.active {
    display: block;
}


.yb-container-addPhoto.active {
    display: block;
    transition: 0.5s;
    height: 275px;
    width: 275px;
    border-radius: 10px;  
    border: 2px solid #4b4b4b;
    overflow: none;

}

#tags-bit-preview-button {
    display: none;
}

#tags-bit-preview-button.active {
    display: block;
}

.type-button.active {
    filter: brightness(2);
    -webkit-filter: brightness(2);
    transition: 0.5s;
}

.bit-preview-image {
    width: 100%;
    height: 100%;
}

.yb-scope-option:hover {
    -webkit-filter: brightness(1.5) saturate(0.8);
    filter: brightness(1.5) saturate(0.8);
}