<!DOCTYPE html>
<html>
    {% load static %}
    <head>
        <title>Login | Yourbit</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <form method='POST' class='form-group' id='form'>
            <img src="{% static 'images/yourbit-logo-modern.png' %}" width="40%" id="logo">
            <h2>Login to Yourbit</h2>
            {% csrf_token %}
            <div id="form-containter">
                {% for field in login_form %}
                    {{field}}
                    <br><br>
                {% endfor %}
            </div>
            <br>
            <button type="button" class = "auth-button" id="back-login">Sign Up</button>
            <button class = "auth-button" id="submit" type="submit">Login</button>
            <br>
            <div id="build-info">
            <p style="font-size:xx-small">Yourbit_live_DevBuild_v1.00-PYDJA07282022<br>
            Designed by Austin Chaney<br>
            Property of Yourbit Studios
            </p>
        </div>
      </form>  
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
      <script type="text/javascript">
        base_url = window.location.origin;
        $('#back-login').click(function() {
            window.location.href = `${base_url}/register/`;
        });
      </script>
    </body>
        
        
</html>