<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h2>Welcome to the Yourbit Beta</h3>
        <p>
            For the first time in human history we are witnessing a 
            dangerous and dramatic shift in the way that business is done. 
            The number one factor in preventing malpractice in business is
            the peoples right to choose. Companies have effectively turned their
            customers into products and have begun treating their consumers like 
            many businesses treat employees... because you are. Unpaid employees
            generating profit for a massive billion dollar company with nothing 
            in return. Not even a quality consumer focused service. They can now ignore your right to choose
            and profit, whether or not you choose or particularly enjoy them. It's high time we 
            make another dramatic shift, and find a new, more fair way we can succeed as an internet service.
            One that puts YOU first. 
            <br>
            <br>
            Welcome to your new Revolution.
            <br>
            <br>
            Welcome to Yourbit.
        </p>
        <button type = 'button' class="auth-button" id="back-login">Sign Up</button>
        <button type = 'button' class='auth-button' id='back-login'>Login</button>
    </body>
</html>