<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Yourbit</title>
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico'%}">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    </head>
    <body>
        <section>
            <h2>Welcome to YOURBiT!</h2>
            <p>The revolutionary new social platform centered around you.</p>
        </section>
        <section>
            
            <!--Describe modular functionality-->
            <h3>Mold your Social Landscape</h3>

            <p>Yourbit's modular design empowers you to finely craft your experience. 
                Toggle features on and off at your discretion, allowing you to define 
                and curate your own unique social setting.
            </p>
            
            <br>

            <!--Describe personalization functionality-->
            <h3>Color Your World</h3>

            <p>With Yourbit, you can customize your UI and your profile. 
                Incorporate captivating background images, infuse vibrant splashes of color,
                 and showcase your distinctive personality to all who explore your profile.
            </p>

            <br>

            <!--Describe privacy features-->
            <h3>A Revolution in Privacy</h3>

            <p>Yourbit sets the gold standard for privacy, surpassing all other social platforms. 
                Take charge of your messaging preferences, refine discoverability settings, and control the visibility of data showcased on your profile. 
                With Yourbit, you'll receive alerts whenever your data is transmitted beyond the site for third-party processing. 
                This unwavering transparency ensures you're constantly informed about your data's journey and maintains your authority over access rights.
            </p>

            <!---->
        </section>
        <div>
            <button>Login</button>
            <br>
            <button>Sign Up</button>
        </div>


        
        
        <button type = 'button' class="auth-button" id="back-login">Sign Up</button>
        <button type = 'button' class='auth-button' id='back-login'>Login</button>
    </body>
</html>