{% load static %}

<div id='div-header' style='position: relative; display: grid; grid-template-columns: 40px 5fr 40px; margin-left: auto; margin-right: auto; width: 100%; height: 40px; margin-bottom: 20px;' >
    <div class="cb-panel-back"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb">Crop Thumbnail</h3>
</div>
<hr>

<input type="hidden" id="image-edit-data" value="{{type}}" data-wpid = "{{wpid}}">

<!--Profile image cropper-->
<div class="yb-cropper-container profile-image yb-center-transform tb yb-fillWidth" style="transition: 0.5s;" id="square-crop-container">
    <div class = "yb-cropper-preview-container" style = "max-height: 75vh;">
        <img id="crop-image-preview" style="object-fit: contain; max-width:100%; height: 100%; max-height: calc(100%-140px);"/>
        <input type="hidden" id="cropper-output" value="">
    </div>
    <div id="profile-cropper-submission-controls" class="align-center yb-margin-T10" style="width:100%; background-color: rgba(0, 0, 0, 0.5);">
        <button id="image-cropper-save" class="yb-button-flex green font-white" type = "button" style="width: 120px;" name="inactive" data-type="none" data-class="none">Done</button>
    </div>  
</div>

<script src="{% static 'scripts/yb_customize/yb_ajax2.js' %}"></script>
<script src="{% static 'scripts/yb_photo/yb_crop5.js' %}"></script>

<script>
    function cropperGoBack(){
        yb_2WayPage(1, 'profile-image-upload');
        setTimeout(yb_clearSecondaryContent, 500);
    }
    $(document).ready(function(){
        
        resetCropper();

        let type = $('#image-edit-data').val();
        let submit = document.getElementById('image-cropper-save');

        if (type == "bit"){
            console.log("bit");
            previewBitCrop();
        } else if (type == "profile"){
            console.log("profile");
            previewProfileImage();
        } else if (type == "mobile-wallpaper") {
            console.log("mobile-wallpaper");
            previewMobileBackgroundImage();
        } else if (type == "desktop-wallpaper") {
            console.log("desktop-wallpaper");
            previewDesktopBackgroundImage();
        } 

        submit.addEventListener('click', function(){
            if (type == "bit"){
                finishBitCrop();
            } else if (type == "profile"){
                finishProfileImage();
            } else if (type == "mobile-wallpaper") {
                if (wpid != ""){
                    finishMobileBackgroundImage(wpid);
                } else {
                    finishMobileBackgroundImage();
                }
            } else if (type == "desktop-wallpaper") {
                if (wpid != ""){
                    finishDesktopBackgroundImage(wpid);
                } else {
                    finishDesktopBackgroundImage();
                }
            }
        });
    });
</script>
