<!DOCTYPE html>
{%load static %}
<html>
    <head>
        <title>Upload Photo</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
    </head>
    <script 
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
</script>
<script src="{% static 'scripts/yb_photo/yb_photo_upload.js' %}"></script>

    <form id="image-form" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="fileInput" />
        <button type="button" class="upload-button" name="image_field" id="video-upload-button">Upload Photo</button>
        
        <div class="for-ProgressBar"></div>
        
        <div class="uploaded-files">
            <ol></ol>
        </div>
        <input type="hidden" id="csrf-token" value="{{ csrf_token }}">
    </form>
<!-- Load Uppy UMD version from a CDN -->
<script src="https://releases.transloadit.com/uppy/v3.0.1/uppy.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/tus-js-client@latest/dist/tus.min.js"></script>


<script>
    const upload = document.getElementById('video-upload-button');
    upload.addEventListener('click', async (event) => {
        event.preventDefault();
        yb_startImageUpload();
    });
</script>

</html>