{% load static %}
<!--Camera Page-->
<html>
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_photo/yb_camera.css' %}"/>

<body style="background-color: black;">
<div>
    <h2 style="color: white;">Yourbit Live Camera Test</h3>

    <video id="video" style="top: 0; width: 100%;" autoplay playsinline></video>
</div>
<script>
   async function startCamera() {
      const videoElement = document.getElementById('video');
      try {
         // Request camera stream (set video: { facingMode: 'environment' } for back camera)
         const stream = await navigator.mediaDevices.getUserMedia({ video: true });
         videoElement.srcObject = stream;
      } catch (err) {
         console.error("Error accessing camera: ", err);
      }
   }

   startCamera();
</script>
</body>
</html>