@keyframes background-spin{
    0% {
        filter: blur(100px) brightness(30%) saturate(50%) hue-rotate(0deg); 
        -webkit-filter: blur(100px) brightness(30%) saturate(50%) hue-rotate(0deg);
        transform: rotate(0deg) scale(1);
    }
    25% {
        filter: blur(200px) brightness(50%) saturate(200%) hue-rotate(90deg);; 
        -webkit-filter: blur(150px) brightness(50%) saturate(200%) hue-rotate(90deg);
        transform: rotate(90deg) scale(1.7);
    }
    50% {
        filter: blur(90px) brightness(40%) saturate(100%) hue-rotate(180deg); 
        -webkit-filter: blur(90px) brightness(40%) saturate(100%) hue-rotate(180deg);
        transform: rotate(180deg) scale(1);
    }
    75% {
        filter: blur(200px) brightness(50%) saturate(200%) hue-rotate(270deg); 
        -webkit-filter: blur(200px) brightness(50%) saturate(200%) hue-rotate(270deg);
        transform: rotate(270deg) scale(1.7);
    }
    100% {
        filter: blur(100px) brightness(30%) saturate(100%) hue-rotate(360deg); 
        -webkit-filter: blur(100px) brightness(30%) saturate(100%) hue-rotate(360deg);
        transform: rotate(360deg) scale(1);
    }
    
}

@keyframes background-pulse{
    0% {filter: blur(150px) brightness(40%);
        -webkit-filter: blur(150px) brightness(40%);}
    50% {filter: blur(100px) brightness(90%);
        -webkit-filter: blur(150px) brightness(90%);}
    100% {filter: blur(150px) brightness(40%);
        -webkit-filter: blur(150px) brightness(40%);}
}

@keyframes background-saturation-pulse {
    0% {filter: saturate(100%);}
    25% {filter: saturate(80%);}
    50% {filter: saturate(170%);}
    75% {filter: saturate(150%);}
    100% {filter: saturate(100%);}
}

.yb-section-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    padding: 2px 2px 2px 2px;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: hidden;
    transition: 0.5s;
    
}

li {
    font-size: 12px;
    text-decoration: none;
    list-style-type: none;
    text-align: left;
}

.section-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.section-content {
    z-index: 2;
    /* Your content styles here */
}
#video-terrain-scan {
    filter: blur(2px) brightness(150%);
    -webkit-filter: blur(2px) brightness(150%);
}

.yb-container-floatingAction.center {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%);
    height: 40px;
    width: 70vw;
    max-width: 300px;
    column-gap: 8px;
    
    border-radius: 30px;
    padding: 6px 4px 6px 4px;
    background-color: black;
    z-index: 3;
    
}

#welcome-header {
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 50px;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    background-color: rgba(0,0,0,0.5);
    z-index: 5;
}

.hamburger-button {
    position: relative;
    grid-column: 2;
    top: 10px;
    
    width: 30px;
    height: 30px;
    
    z-index: 6;
    
    transition: 0.5s;

}

#hamburger-button.closed {

    background-color: transparent;

}

#hamburger-button.open {

    background-color: white;
    border-radius: 10px;
    
    

}

.hamburger-path {
    transition: 0.5s;
}

.hamburger-path.closed {
    fill:white;
}

.hamburger-path.open {
    fill:black;

}

#logo-header {
    position: relative;
    grid-column: 1;
    
    
    
    height: 40px;
    
    z-index: 6;
    /* top right bottom margin auto left margin 5px */
    margin: auto auto auto 15px;
}

.feathered-background {
    position: fixed;
    background-size: auto;
    background-clip: content-box;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff; /* Set text color */
    min-height: 100vh;
    width: 100%;
    left: 0px;
    filter: blur(150px) brightness(50%) saturate(200%);
    -webkit-filter: blur(150px) brightness(50%) saturate(200%);
    transition: 0.5s;
    animation: background-spin 100s ease-in-out infinite;
    /*animation: background-saturation-pulse 17s ease-in-out infinite;*/
}

.feathered-background h1 {
    margin: 0;
    font-size: 36px;
}

.fieldWrapper {
    margin-top: 10px;
}

.field {
    position: relative;
    height: 50px;
    background-color: transparent;
    backdrop-filter: brightness(300%) blur(10px);
    -webkit-backdrop-filter: brightness(300%) blur(10px);
    border-radius: 10px;
    width: 70vw;
    border-width: 0px;
    margin-top: 5px;
    padding-left: 10px;
    color: white;
    font-size: 14px;
    font-weight: 600;
    max-width: 600px;
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
    color: rgb(150, 150, 150);
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-align: left !important;
}

.logo-form {
    position: relative;
    top: 25px;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    max-width: 72px;
    
    
    z-index: 4;
    

}

#button-container {
    width: 75vw;
    height: 50px;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
}

.side-menu {
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding-top: 10px;
    
    width: 100vw;
    
    background-color: rgba(0,0,0, 0.7);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    z-index: 4;
    transition: 0.5s;
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;

}

@media only screen and (min-width: 700px) {
    .side-menu {
        max-width: 300px;
        height: calc(100vh - 60px);
    }
}

@media only screen and (max-width: 700px) {
    .side-menu {
        max-width: 100vw;
        height: 100vh;
    }
}

.side-menu.closed {
    
    display: none;
    transform: translateX(100%);
}

.side-menu.open {
    display: block;
    transform: translateX(0%);
}

#side-menu-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    

}


a {
    text-decoration: none;
    color: white;
}


