
.yb-button-popout {
    /*positioning*/
    position: fixed;
    display: block;
    z-index: 1000;
    bottom: 57px;

    /*sizing*/
    width: 45px;
    height: 45px;

    /*style*/
    border-radius: 180px;
    border: 3px solid rgb(200, 200, 200);
    line-height: 30px;
    text-align: center;
    padding: 4px 4px 4px 4px;
    
}

.yb-button-split13 {
    display:grid; 
    grid-template-columns: 1fr 3fr; 
    width: fit-content; 
    grid-gap: 10px; 
    line-height: 2; 
    font-weight: 550; 
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    transition: 0.5s;
    
}

.yb-button-split13:hover {
    cursor: pointer;
}


.yb-button-split13:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.shadow {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.shadow:hover {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
@media screen and (prefers-color-scheme: dark) {
    .yb-button-split13 {
        color: white;
        background-color: black;
    }
}

@media screen and (prefers-color-scheme: light) {
    .yb-button-split13 {
        color: black;
        background-color: white;
    }
}


.filter-tab {
    /*Positioning*/
    position: relative;
    display: inline-block;
    
    /*Sizing*/
    height: 30px;
    
    /*Style*/
    border-width: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    text-align: center;
    font-weight: 550;
    transition: all 0.2s ease-in-out;
    padding: 5px 5px 5px 5px;
    transition: 0.25s;

}

@media screen and (min-width: 768px) {
    .yb-close-drawer {
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translate(25%, -25%);
        height: 30px;
        width: 30px;
        font-size: 30px;
        font-weight: 600;
        border-radius: 50%;
        background-color: gray;
        border-width: 0px;
        transition: 0.5s;
    }

    .yb-close-drawer:hover {
        cursor: pointer;
        transform: translate(25%, -25%) scale(1.1);
        background-color: darkgray;
        fill: red !important;
        transition: 0.8s;
    }
}

@media screen and (max-width: 768px) {
    .yb-close-drawer {
        position: absolute;
        top: 0px;
        right: 0px;
        transform: translate(-10%, 10%);
        height: 30px;
        width: 30px;
        font-size: 30px;
        font-weight: 600;
        border-radius: 50%;
        background-color: gray;
        border-width: 0px;
        transition: 0.5s;
    }

    .yb-close-drawer:hover {
        cursor: pointer;
        transform: translate(-10%, 10%) scale(1.1);
        background-color: darkgray;
        fill: red !important;
        transition: 0.8s;
    }
}




.filter-tab.active {
    /*Style*/
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
    transition: 0.25s;
}

.filter-tab.hover {
    /*Style*/
    filter: brightness(1.2);
    -webkit-filter: brightness(1.2);
    /* animation: yb-pulse-small 0.5s linear 1; */
    transform: scale(1.03);
    transition: 0.25s;

}
@media screen and (max-width: 768px) {
    .yb-2Way-expand {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .yb-2Way-expand {
        position: absolute;
        display: block;
        top: 50%;
        left: -50px;
        transform: translateY(-50%);
        width: 40px;
        height: 40px;
    }
}


.yb-button-popout.left {
    left: 7px;
    transition: 0.5s;
}

.yb-button-plain {
    background-color: transparent;
    border: none;
    transition: 0.5s;
}

.yb-button-plain:hover {
    background-color: transparent;
    border: none;
    top: 50%;
    color: skyblue;
    transform: scale(1.08) translateY(-50%);
    transition: 0.5s;
    cursor: pointer;
}

.yb-button-popout.right {
    right: 7px;
    transition: 0.5s;

}

.yb-button-popout.right.hide {
    right: -100px;
    transition: 0.5s;
}

.yb-button-popout.left.hide {
    left: -100px;
    transition: 0.5s;
}

.yb-button-popUp{
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid white;
    text-align: center;
    border-radius: 40px;
    color: white;
    
    font-size: 16px;

    -webkit-filter: drop-shadow(2px 2px 5px black);
    filter: drop-shadow(2px 2px 5px black);
}

@media only screen and (min-width: 768px) {
    .yb-button-popout {
        display: none;
    
    }
}


/* 
        yb-button wide
*/

.yb-button-wide {
    /*Positioning*/
    position: relative;
    display: inline-block;
    
    /*Sizing*/
    height: 30px;
    
    /*Style*/
    border-width: 0px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;

    text-align: center;
    font-weight: 550;
    transition: all 0.2s ease-in-out;
    padding: 5px 5px 5px 5px;
}

.tiny-wide {
    width: 28%;
}

.small-wide {
    width: 33%;
}

.medium-wide {
    width: 80px;
}

.yb-button-wide:hover {
    /*Style*/
    background-color: #f5f5f5;
    border-color: #e6e6e6;
    color: black;
    /* animation: yb-pulse-small 0.5s linear 1; */
    transform: scale(1.03);
}

.yb-button-wide:hover svg {
    fill: black;
}

.yb-button-wide.active {
    /*Style*/
    background-color: black;
    border-width: 2px;
    border-style: solid;
}

@media (prefers-color-scheme: dark){

    .yb-button-wide.active {
        background-color: black;
        color: white;
        border-color: white;
    }

    .yb-button-wide {
        background-color: rgb(35, 35, 35); 
    }

    
    .ff-button {
        background-color: rgb(35, 35, 35);
    }
}

@media (prefers-color-scheme: light){

    .yb-button-wide.active {
        background-color: white;
        color: black;
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
        border-color: black;
    }

    .yb-button-wide {
        background-color: rgb(200, 200, 200); 
    }

    .ff-button {
        background-color: rgb(200, 200, 200);
    }
}

.yb-button-flex {
    /*button that changes size based on text inside with no border color and a small amount of padding around the text */
    /*Positioning*/
    position: relative;
    display: inline-block;
    margin: 0px;

    /*Sizing*/
    height: 40px;
    width: auto;

    /*Style*/
    border-width: 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;

    transition: 0.5s;
}

.yb-button-flex.transparent {
    /*Style*/
    background-color: rgba(0, 0, 0, 0.4);
}

.yb-button-flex:hover {
    /*Style*/
    background-color: white;
    color: black;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transform : scale(1.02);
    transition: 0.5s;
}

.yb-button-threeQuarter {
    display: block;
    position: relative;
    width: 70%;
    height: 35px;
    
    margin-bottom: 5px;
    
    margin-left: auto;
    margin-right: auto;
}

.yb-button-threeQuarter:hover {
    background-color: white;
    color: #4b4b4b;
    transform: scale(1.03);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.bb-button:hover {
    transform: translateX(-50%) scale(1.03) !important;
}

@media (prefers-color-scheme:dark) {
    .yb-button-threeQuarter {
        color: white;
    }
}

@media (prefers-color-scheme:light) {
    .yb-button-threeQuarter {
        color: black;
    }
}

.yb-button-halfWidth {
    display: block;
    position: relative;
    width: 50%;
    height: 30px;
    margin-bottom: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
}

@media (prefers-color-scheme: dark) {
    .yb-button-halfWidth {
        background-color: #4b4b4b;
    }
}

@media (prefers-color-scheme: light) {
    .yb-button-halfWidth {
        background-color: gray;
    }
}

.yb-button-halfWidth:hover {
    background-color: white;
    color: #4b4b4b;
    transform: scale(1.03);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    transition: 0.5s;
}

.yb-button-filter {
    /*Positioning*/
    position: relative;
    display: block;
    margin: auto;
    
    /*Sizing*/
    height: 26px;

    /*Style*/
    background-color: rgba(255, 255, 255, 0.4);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    


}

.yb-button-filter.active {
    /*Positioning*/
    position: relative;
    display: block;
    margin: auto;

    /*Sizing*/
    height: 27px;
    width: 100%;

    /*Style*/
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 0.5s;
}

.yb-button-close {
    display: inline-block;
    text-align: center;
    font-size: 16px; /* Adjust as necessary */
    position: relative;
    margin: 8px 8px auto auto;
    height: 90%;
    width: 90%;
    max-height: 30px;
    max-width: 30px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    border-width: 0px;
    transition: 0.5s;
    padding: 0px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .yb-button-close-text {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -55%);
        padding: 0px;
        margin: 0px;
    }
    
}

@media screen and (prefers-color-scheme: light) {
    .yb-button-close svg {
        fill: black;
    }

}

@media screen and (prefers-color-scheme: dark) {
    .yb-button-close svg {
        fill: white;
    }

}

@media only screen and (min-width: 768px) {
    .yb-button-close-text {
        position:absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px;
        margin: 0px;
    }
    
}


.yb-button-close:hover{
    cursor: pointer;
    animation: yb-bounce 0.5s ease-in-out 1;
    background-color: gray;
    fill: red !important;
    transition: 0.8s;
}

.hangover-corner-right {
    position: absolute;
    right: 0px;
    top: 0px;
    transform: translate(25%, -25%);
}

.yb-button-delete.hangover-corner-right {
    height: 28px;
    width: 28px;
    font-size: 30px;
    font-weight: 600;
    border-radius: 50%;
    background-color: gray;
    border-width: 0px;
    transition: 0.5s;
}