@media screen and (max-width: 768px){
    .yb-card {
        /*Positioning*/
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 150%);
        z-index: 1002;
        border-radius: 25px;

        height: 90vh;
        width: 98vw;

        /*Style*/
        visibility: hidden;
        
        box-shadow: -1px -1px 10px black;
        text-align: center;
        color: white;
        transition: 0.5s;
        overflow-x: hidden;
    }
    .yb-card.open {
        visibility: visible !important;
        transform: translate(-50%, -50%) !important;
        transition: 0.5s;
    }

    .yb-popup-menu {

        bottom: 80px;
        transform: translate(-50%, calc(100% + 85px));

        /* transform: translate(0, calc(100% + 70px)); */
    
    }
    
    
}

@media screen and (min-width: 768px){
    .yb-card {
        /*Positioning*/
        position: fixed;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1002;
        border-radius: 25px;

        height: 610px;
        width: 650px;

        /*Style*/
        visibility: hidden;
        
        box-shadow: -1px -1px 10px black;
        text-align: center;
        color: white;
        transition: 0.5s;
        overflow-x: hidden;
    }

    .yb-card.open {
        visibility: visible !important;
        transform: translate(-50%, -50%);
        transition: 0.5s;
    }

    .yb-popup-menu {

        bottom: 50px;
        transform: translate(-50%, calc(100% + 55px));

        /* transform: translate(-50%, calc(100% + 70px)); */
    
    }
    

}

.yb-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: calc(100% + 10px);
    width: 100%;
    left: 0px;
    border-radius: 10px;
    z-index: 1000;
    
}

.yb-dropdown-option {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    line-height: 40px;
    grid-gap: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    transition: 0.5s;
    padding-left: 15px;
}

.yb-dropdown-option:hover {
    cursor: pointer;
    background-color: #333;
    transition: 0.5s;
}

.yb-dropdown.open {
    display: flex;
    height: auto;
    max-height: 400px;
    transition: 0.5s;
}


.yb-popup-menu.open {
    transform: translate(-50%, 0);
    transition: 0.5s;

}

.yb-popup-menu {
    width: 98%;
    overflow: hidden;
    z-index:100;
    transition: 0.5s;
    box-shadow: 1px 1px 5px black;
    border-radius: 10px;
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 50%;
    font-weight: 575;
}

.yb-popup-menu-item {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    line-height: 40px;
    grid-gap: 10px;
    text-align: center;
    border-bottom: 1px solid #444;
    transition: 0.5s;
    padding-left: 15px;

}

.yb-card hr {
    border: 1px solid white;
    
}

@media (prefers-color-scheme: light){
    .yb-card {
        background-color: gray;
    }

    .yb-popup-menu {
        background-color: white;
        color: #4b4b4b;


    }
}

@media (prefers-color-scheme: dark){
    .yb-card {
        background-color: rgb(30, 30, 30);
    }
    .yb-popup-menu {
        background-color: #333;
        color: white;
    }
}


.yb-fsContainer {
    /*Positioning*/
    position: fixed;
    display: inline-table;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 20;


    /*Style*/
    text-align: center;
    transition: 0.5s;
    overflow-x: hidden;
    box-shadow: 0px -3px 15px black;
    
}

.yb-fsContainer.list-menu {
    z-index: 1001 !important;
}




.yb-fsContainer.still {
    top: 0;
}

.yb-fsContainer.open {
    top: 55vh;
    transition: 0.5s;

}

.yb-header-fsContainer {
    position: relative;
    display: grid;
    grid-template-columns: 9fr 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.yb-heading-card {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-rows: 40px;
    grid-template-columns: 40px 7fr 1fr;
    padding-right: 5px;
    height: 45px;
    text-align: left;
    margin-left: auto;
    padding-left: 4px;
    padding-top: 10px;
}

.yb-heading-label {
    line-height: 2;
    text-align: left;
    margin-right: 10px;
    font-size: 18px;
    font-weight: 600;
}

.yb-listItem {
    /*Positioning*/
    display: grid;
    grid-template-columns: 40px 7fr 1fr;
    position: relative;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    pointer-events: auto;

    /*Sizing*/
    height: auto;
    max-height: 100px;
    min-height: 40px;
    padding: 10px;
    column-gap: 10px;

    /*Style*/
    border-radius: 10px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    overflow: hidden;
    transition: 0.5s;

}

/* General styles for notification list items */





/* Styles for seen and unseen notifications */
/* .notification.seen {
    background-color: #555;
}

.notification.unseen {
    background-color: #222;
} */

/* Notification icon */
.notification-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

/* Notification content */
#notification-contents {
    flex-grow: 1;
}

#notification-contents p {
    margin: 0;
    color: #ddd;
}

/* Notification time */
#notification-time p {
    font-size: 0.8em;
}

/* Close button */
#notification-close {
    position: absolute;
    top: 5px;
    right: 5px;
}

.yb-button-close.notification {
    background: #444;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    line-height: 1;
    margin: 0px;
}

.yb-button-close.notification:hover {
    background: #666;
}

/* Hover effect for the entire notification */
.yb-listItem:hover {
    background-color: #1e1e1e;
    
}

.yb-listItem.notification p {
    transition: 0.4s;
}

.yb-listItem:hover p {
    color: lightgray !important;
    transition: 0.4s;
}

.yb-listItem b {
    transition: 0.4s;
}

.yb-listItem:hover b {
    color: lightgray !important;
    transition: 0.4s;
}

.yb-flexGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.yb-grid-item {
    width: 60px;
    height: 60px;
    display: grid;
    grid-template-rows: 1fr 3fr;
    position: relative;
    transition: 0.5s;


}

.yb-grid-item:hover {
    cursor: pointer;
    animation: yb-bounce 0.5s ease-in-out 1; 

}

.profile-image-thumbnail {
    position: relative;
    display: block;
    object-fit: contain;
    transition: 1s;
    

}

.profile-image-thumbnail:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.yb-2Way-container {
    position: fixed;
    z-index: 99;
    box-shadow: black 0px 0px 50px 0px;
    overflow-x: hidden;

}

@media screen and (max-width: 768px) {
    @media (prefers-color-scheme: dark) {
        .yb-2Way-container {
            backdrop-filter: brightness(0.7) blur(80px) !important;
            -webkit-backdrop-filter: brightness(0.7) blur(80px) !important;
        }
    }
}


.yb-2Way-content {
    overflow: hidden;
    transition: 0.3s;
}
.yb-panel-wide {
    position: relative;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 3px 10px 3px 10px;
    filter: drop-shadow(0px 2px 5px black);
    -webkit-filter: drop-shadow(0px 2px 5px black);
    border-radius: 20px;
    text-align: center; 
    color: white;
}


.yb-panel-wide {
    background-color: var(--yb-panel-color);
    filter: brightness(0.8);
    -webkit-filter: brightness(0.8);
}



.yb-panel-wide.panel-gray {
    background-color: #4b4b4b;
}

/* Customize the scrollbar track */
.yb-hScroll::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
    height: 90%;
    margin-left: 2px;
}

/* Customize the scrollbar track color */
.yb-hScroll::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

/* Customize the scrollbar thumb (handle) */
.yb-hScroll::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    
}

@media screen and (min-width: 2048px) {
    .yb-2Way-container {
        right: 15px;
        border-radius: 10px;
        width: 450px;
        height: calc(100vh - 90px);
        top: calc(50% + 30px);
        transform: translate(150%, -50%);
        transition: 0.35s;
        overflow-x: hidden;
        scrollbar-width: none;
        scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    }

        /* Customize the scrollbar track */
        .yb-2Way-container::-webkit-scrollbar {
            width: 0px; /* Adjust the width as needed */
            height: 90%;
            margin-left: 2px;
        }
        
        /* Customize the scrollbar track color */
        .yb-2Way-container::-webkit-scrollbar-track {
            background-color: var(--scrollbar-track-color);
        }
        
        /* Customize the scrollbar thumb (handle) */
        .yb-2Way-container::-webkit-scrollbar-thumb {
            background-color: var(--scrollbar-thumb-color);
            
        }
    
    
        .yb-2Way-container.open {
            transform: translate(0, -50%);
            transition: 0.25s;
            
        }
    
        .yb-2Way-container.expanded {
            width: 90%;
            max-width: 950px;
            transform: translate(-50%, -50%);
            left: 50%;
            transition: 0.35s;
        }
    
        .yb-2Way-container.expanded2 {
            width: 90%;
            max-width: 950px;
            transform: translate(-50%, -50%);
            left: 50%;
            transition: 0.35s;
        }
} 

@media screen and (min-width: 768px) {
    .yb-2Way-container {
        right: 15px;
        border-radius: 10px;
        width: 350px;
        height: calc(100vh - 90px);
        top: calc(50% + 30px);
        transform: translate(150%, -50%);
        transition: 0.35s;
        overflow-x: hidden;
        scrollbar-width: none; /* Create a thin scrollbar on Firefox */
        scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); /* Set thumb and track colors on Firefox */
    }

    /* Customize the scrollbar track */
    .yb-2Way-container::-webkit-scrollbar {
        width: 0px; /* Adjust the width as needed */
        height: 90%;
        margin-left: 2px;
    }
    
    /* Customize the scrollbar track color */
    .yb-2Way-container::-webkit-scrollbar-track {
        background-color: var(--scrollbar-track-color);
    }
    
    /* Customize the scrollbar thumb (handle) */
    .yb-2Way-container::-webkit-scrollbar-thumb {
        background-color: var(--scrollbar-thumb-color);
        
    }


    .yb-2Way-container.open {
        transform: translate(0, -50%);
        transition: 0.25s;
        
    }

    .yb-2Way-container.expanded {
        width: 90%;
        max-width: 850px;
        transform: translate(-50%, -50%);
        left: 50%;
        transition: 0.35s;
    }

    .yb-2Way-container.expanded2 {
        width: 90%;
        max-width: 850px;
        transform: translate(-50%, -50%);
        left: 50%;
        transition: 0.35s;
    }
}

.yb-2Way-content.inactive {
    transform: translateX(-100%);
    transition: 0.3s;
}

.yb-2Way-secondary {
    transform: translateX(100%);
    transition: 0.3s;
}

.yb-2Way-secondary.active {
    transform: translateX(0);
    transition: 0.3s;
}

@media screen and (max-width: 768px) {
    .yb-2Way-container {
        right: 0px;
        bottom: 0px;
        width: 100vw;
        height: 100vh;
        top: 0px;
        transform: translateY(100vh);
        transition: 0.25s;
        overflow-y: scroll;
    }

    .yb-2Way-container.open {
        transform: translateY(0);
        transition: 0.25s;
    }
}

.yb-2Way-header {
    position: relative;
    display: grid;
    grid-template-columns: 9fr 1fr;
    width: 100%;
    height: 30px;
}

.yb-menu-profile {
    position: relative;
    display: grid;
    width: 100%;
    grid-template-rows: 4fr 1fr 1fr;
    height: 43%;
    text-align: center;
    
    
}

#profile-icon-menu:hover {
    cursor: pointer;
    animation: yb-pulse-small 0.5s linear 1;
}

#yb-menu-name:hover {
    cursor: pointer;
    animation: yb-pulse-small 0.5s linear 1;
}

#yb-menu-username:hover {
    cursor: pointer;
    animation: yb-pulse-small 0.5s linear 1;
}

.yb-menu-grid {
    position: relative;
    
    max-width: 275px;
    margin: auto;
}

.content-container{
    left: 0px;
    top: 0px;
    padding-top: 62px;
    height: 100vh;
    width: 100vw;
    position: fixed;
    overflow: hidden;
    z-index: 3;
    overflow-y: scroll;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    display: none;

}

.content-container.show {
    display: block;
}

/* @media (prefers-color-scheme: dark) {
    .content-container {
        background-color: transparent;
    }
}

@media (prefers-color-scheme: light) {
    .content-container {
        background-color: transparent;
    }
} */

/* Customize the scrollbar track */
.content-container::-webkit-scrollbar {
    width: 0px; /* Adjust the width as needed */
    height: 90%;
    margin-left: 2px;
}

/* Customize the scrollbar track color */
.content-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
}

/* Customize the scrollbar thumb (handle) */
.content-container::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    
}

.spotlight-header {
    position: relative; 
    display: grid; 
    grid-template-columns: 1.5fr 6fr 1fr; 
    margin-left: auto; 
    margin-right: auto; 
    width: 100%; 
    height: 40px;
    margin-bottom: 20px;

}


@media screen and (min-width: 768px) {
    .spotlight-header {
        grid-template-columns: 1.5fr 6fr 1fr; 
    }


}

@media screen and (max-width: 768px) {
    .spotlight-header {
        grid-template-columns: 7fr 1fr; 
        grid-gap: 5px;
    }

    .spotlight-header-label {
        display: none;
    }
    
    .search-filter-button {
        width: 28vw !important;
    }
    
}

.yb-spotlight-content-container {
    position: relative;
    height: calc(100% - 60px); 
    overflow-y: scroll;
}


@media screen and (min-width: 768px) {
    .yb-container-spotlight {
        position: fixed;
        top: 90px;
        left: calc(50% - 350px);
        max-width: 700px;
        width: 90vw;
        height: 80vh;
        max-height: 500px;
        z-index: 99;
        border-radius: 20px;
        border: 1px solid rgb(24, 24, 24);
        box-shadow: black 0px 0px 60px 0px;
        transform: translateY(-100vh);
        transition: 0.5s;
    }

    .yb-container-spotlight.open {

        transform: translateY(0vh);
        transition: 0.5s;
    }

    .yb-spotlight-content-container {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    
 
}
    


@media screen and (max-width: 768px) {
    
    .yb-container-spotlight {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100vw;
        height: calc(53vh);
        z-index: 99;
        border-radius: 0px;
        transform: translateY(100vh);
        box-shadow: black 0px 0px 60px 0px;
        transition: 0.5s;
        overflow-y: hidden;
    }

    .yb-container-spotlight.open {
        
        transform: translateY(0);
        overflow-y: scroll;
        transition: 0.5s;
    }

    .sl-expanded {
        height: calc(100vh - 65px);
    }
    
    .yb-spotlight-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        

    }


    
}


.full-result {
    display: grid;
    grid-template-columns: 65px 3fr 1fr;
    margin-top: 5px;
    background-color: #4b4b4b;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    padding: 5px 5px 5px 5px;
    margin-bottom: 5px;
}

@media screen and (min-width: 768px) {
    .full-result {
        max-width: 500px;
    }
    
 
}

.notification-widget {
    position: absolute;
    display: grid;
    grid-template-columns: 55px auto;
    top: -70px;
    left: 50%;
    width: 55px;
    height: 55px;
    background-color: black;
    color: white;
    z-index: 9999;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: 1s;
    overflow: hidden;
    padding: 5px 5px 5px 5px;

}

.notification-widget.active {
    top: 70px !important;
    transition: 0.5s;
}

.yb-top-banner {
    position: fixed;
    z-index: 500;
    top: 70px;
    left: 50%;
    width: 95%;
    max-width: 500px;
    border-radius: 10px;
    transform: translate(-50%, calc(-100% - 90px));
    transition: 0.5s;
    overflow: hidden;
    padding: 5px;
    box-shadow: 1px 1px 15px black;
}

.yb-top-banner.open {
    transform: translate(-50%, 0);
    transition: 0.5s;
}
@media screen and (max-width: 768px) {
    .notification-widget.expanded {
        width: 95%;
        transition: 0.3s;
        border-radius: 40px;
    }
}

@media screen and (min-width: 768px) {
    .notification-widget.expanded {
        width: 300px;
        transition: 0.3s;
        border-radius: 40px;
    }
}

.yb-top-layer {
    position:fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 100;
    transition: 0.5s;

}

.yb-top-layer.open {
    display: block;
    transition: 0.5s;
}

.yb-container-center {
    position: relative;
    display: none;
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 600px;
    height: 300px;
    text-align: center;
    padding: 3px 10px 3px 10px;
    background-color: rgb(25, 25, 25);
    border-radius: 20px;
    color: white;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s;
    transition-delay: 0.4s;
    overflow: hidden;
}

.yb-container-center.open {
    transform: translate(-50%, -50%) scale(1);
    display: flex;
    transition-delay: 0.4s;
    transition: 0.3s;
}

.yb-prompt-content {
    position: relative;
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    width: 100%;
    height: 100%;

    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    color: white;
    
}

.yb-prompt-title {
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid white;
    color: white;
}

.yb-prompt-body {
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
}

.yb-prompt-footer {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    grid-gap: 20px;
    width: 100%;
    height: 100%;
    border-top: 1px solid white;
    color: white;
    padding-top: 10px;
}

.field-tag {
    position: relative;
    grid-gap: 2px;
    width: 100px;
    height: 30px;
    margin-left: 10px;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    background-color: #4b4b4b;
    overflow: hidden;
    font-size: 12px;
    line-height: 2;
    display: grid;
    grid-template-columns: 70px 30px;
    transform: scale(0);
}

.field-tag.end {
    transform: scale(1);
    transition: 0.5s;
    animation: yb-bounceDown 0.25s ease-in-out 1;
}

.full-result-image-container {
    position: relative;
    display: block;
    object-fit: contain;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    overflow: hidden;
}

.yb-container-floatingText {
    position: fixed;
    display: none;
    bottom: 0px;
    width: 90%;
    max-width: 600px;
    height: 45px;
    padding: 3px 10px 3px 10px;
    color: white;
    z-index: 100;

}

.yb-container-floatingText.open {
    display: block;
}

.yb-input-floating-text {
    height: 40px !important;
    outline: none;

}

.yb-loading-iconContainer {
    display: block;
}

.yb-loading-iconContainer.hide {
    display: none;
}

.tw-loading-iconContainer {
    display: block;
}

.tw-loading-iconContainer.hide {
    display: none;
}

.bit-container {
    position: relative;
    transform: translateY(100vh);
    transition: 0.75s;
    padding-bottom: 30px;
    
}

.bit-container.open {
    transform: translateY(0);
    transition: 0.75s;
}

.attached-photo-container.expanded {
    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    transition: 0.5s;
}

.attached-photo.expanded {
    max-width: 100% !important;
    max-height: 100% !important;
    width: unset;
}

.photo-viewer {
    position: fixed;
    display: block;
    top: 100vh;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1005;
    background-color: black;
}

.full-screen-image {
    position: relative;
    display: block;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media (prefers-color-scheme: dark) {
    .support-issue {
        background-color: rgb(20, 20, 20);
    }
}


@media (prefers-color-scheme: light) {
    .support-issue {
        background-color: darkgray;
    }
}


.yb-container-video-listItem {
    position: relative;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10px;
}

.yb-container-thumbnail-listItem {
    position: relative;
    display: block;
    object-fit: contain;
    grid-column: 1;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    overflow: hidden;
}

.yb-container-videoInfo-listItem {
    position: relative;
    display: grid;
    grid-template-rows: 20px 10px 1fr;
    grid-column: 2;
    width: 100%;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
}

