.yb-container-addPhoto {
    position: relative; 
    background-color: black; 
    border-radius: 10px;  
    width: 100%;
    padding-bottom: 100%;

}

.yb-builderBit:focus {
    outline: none;
}

#bb-field-bitPhoto {
    display: none;
}

#bb-field-bitVideo.active {
    display: block;
}

#bb-field-bitVideo {
    display: none;
}