.yb-container-addPhoto {
    position: relative; 
    background-color: black; 
    border-radius: 10px;  
    width: 100%;
    padding-bottom: 100%;

}

.yb-builderBit:focus {
    outline: none;
}

.yb-container-addVideo {
    display: none;
}

.yb-container-addVideo.active {
    display: block;
}

.yb-container-addPhoto {
    display: none;
}

.yb-container-addPhoto.active {
    display: block;
}

#tags-bit-preview-button {
    display: none;
}

#tags-bit-preview-button.active {
    display: block;
}

.type-button.active {
    filter: brightness(2);
    -webkit-filter: brightness(2);
}