
/* Bit Containers */

.yb-bit-shell {

    /*Positioning*/
    position: relative;
    margin-top: 0px;
    margin-bottom: 8px;
    
    
    /*Sizing*/
    width: 95%;

    /*Style*/
    display: grid;
    grid-row-gap: 3px;
    border-radius: 20px;
    transition: 0.3s;
    cursor: pointer;
    pointer-events: auto;
    /* variable */
    background-color: var(--yb-bit-primary-color);
    box-shadow: 0px 1px 5px black;

    padding: 5px;
    transition: 0.5s;
    backdrop-filter: blur(40px);
    -webkit-backdrop-filter: blur(40px);
}

.field-border {
    border: 2px solid white;
}



@media screen and (min-width: 768px) {
    .yb-bit-shell {
        margin-left: auto;
        margin-right: auto;
        /*Sizing*/
        max-width: 750px;
    }
}

@media screen and (max-width: 768px) {
    .yb-bit-shell {
        margin-left: auto;
        margin-right: auto;
        /*Sizing*/
    }
}
.yb-bit-shell.chatbit {
    
    /*Styling*/
    grid-template-rows: 50px auto auto auto auto auto auto;
    grid-gap: 2px;
    

}

.yb-bit-shell.videobit {
    
    grid-template-rows: 50px auto auto;
    text-align: center;


}

.attached-video-container:hover .play-icon {
    background-color: var(--yb-bit-primary-color);
}


.yb-play-icon {
    transition: 0.5s;
}

.bit-view-count {
    grid-column: 3;
    text-align: right;
    padding-right: 10px;
    font-weight: 500;
    margin: auto;
}

.yb-bit-shell.photobit {
    
    text-align: center;
    grid-template-rows: 50px auto auto auto 50px auto auto;
    grid-gap:2px;

}

.yb-bit-shell.createChat {
    text-align: center;
   
    grid-template-rows: 55px auto auto auto auto auto;
    padding: 5px 5px 5px 5px;

}
.yb-bit-shell.createMedia {
    text-align: center;
    
    grid-template-rows: 55px auto auto auto auto auto auto auto;
    padding: 5px 5px 5px 5px;

}



.yb-bit-options {
    display: block;
    grid-row: 1;
    margin: auto;
    height: 25px;
    width: 50px;
    border-radius: 35px;
    border-width: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.yb-header-bit {
    display: grid;
    grid-template-columns: auto 1fr 1fr 20px;
    height: 50px;
    column-gap: 1%;
    width: 100%;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px; /* Add your desired background color */
    padding: 0 10px;
    box-sizing: border-box;
    grid-row: 1;
}

.yb-header-bit.video {
    grid-row: 1 !important;
}

.yb-button-bitOptions {
    text-align: center;
    width: 24px;
}

.yb-userInfo-bit {
    font-size: 13px;
    color: white; /* Change the color to your preferred text color */
    text-align: left !important;
}

.yb-userInfo-bit small {
    font-size: 80%;
}

.yb-timeLabel-bit {
    text-align: right;
    font-size: 12px;
    color: white;
}

.bit-time-label small {
    font-size: 80%;
    opacity: 0.8;
}

.yb-subContainer-bit {
    position: absolute; 
    top: 0px;
    left: 0px;
    width: 100vw; 
    height: 100vh;
}

.yb-subContainer-bit.home {
    padding-top: 70px;
}

.yb-subContainer-bit.profile {
    padding-top: 130px;
    pointer-events: none; 
}


.yb-title-bit {
    grid-row: 2;
    height: fit-content;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    transition: 0.5s;
}

.yb-title-bit.video {
    display: grid;
    grid-template-columns: 30px auto 80px;
    grid-row: 3 !important;
    text-align: left !important;
    height: fit-content;
    margin-top: 0px;
    width: 100%;
    padding-left: 10px;
    padding-left: 10px;
}


.yb-titleText-bit {
    color: var(--yb-bit-title-color);

}

.yb-titleText-bit.video {
    margin-top: 5px !important;
    margin-bottom: 5px !important;

}


.yb-title-bit.preview {
    grid-row: 2;
}

.yb-body-bit {
    position: relative;
    background-color:transparent;
    border-radius: 10px;
    padding: 5px;
    grid-row: 4;
    z-index:3;
    margin-bottom: 25px;
    max-height: 125px;
    overflow: hidden;
    transition: 0.5s;
    color: var(--yb-bit-text-color);

}




.yb-body-bit.expanded {
    max-height: none;
    transition: 0.5s;
}

.yb-showMore-backdrop {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 70px;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
    z-index: 4;
    transition: 0.5s;
}

.yb-showMore-bit {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 140px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    z-index: 5;
    color: var(--yb-fb-icon-button);
    transform: translateX(-50%);
    background-color: var(--yb-fb-background-color);
    border-radius: 25px;
}


.yb-container-bitFeedback {
    display: flex;
    flex-direction: row;
    position: relative;
    column-gap: 3px;
    grid-row: 5;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    height: 50px;
    transition: 1s;
    
    text-align: left;
}

@media screen and (min-width: 768px) {
    .yb-container-bitFeedback {
        width: 75%;
    }
    
}

@media screen and (max-width: 768px) {
    .yb-container-bitFeedback {
        width: 95%;
    }
    
}



.yb-button-feedback {
    background-color: rgba(0, 0, 0, 0.0);
    position: relative;
    border-radius: 20px;
    width: 50px;
    height: 50px;
    padding: auto;
    cursor: pointer;
    transition: 0.3s;
    border-width: 0px;
    display: block;
    line-height: 60px;
}

.yb-button-feedback:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

.yb-button-feedback.flash {
    animation-name: yb-flash;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.yb-button-feedback.active {
    position: relative;
    display: block;
    background-color: var(--yb-fb-background-color);
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    border-width: 0px;
    line-height: 60px;
}

#smiley-post-button {
    grid-column: 1;
}

#frowny-post-button {
    grid-column: 3;
}

#share-post-button {
    grid-column: 5;
}

#comment-post-button {
    grid-column: 7;
}

#donate-post-button {
    grid-column: 9;
}

/* Comments */
.yb-comment-shell {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 4px;
    margin-bottom: 4px;
    overflow: hidden;
    flex-shrink: 0; /* Prevent flex items from shrinking */
}

/* Base styles for comment items */
.yb-comment-item {
    position: relative;
    display: block;
    text-align: left !important;
    max-width: 50%;
    border-radius: 20px;
    margin-bottom: 10px; /* space between comments */
    padding: 5px;
}

/* Left-aligned comments */
.yb-comment-item.left {
    margin-left: 0;
    margin-right: auto;
}

/* Right-aligned comments */
.yb-comment-item.right {
    margin-left: auto; /* push to the right */
    margin-right: 5px;
}

/* Container styles */
.yb-comment-container {
    display: none;
    color: white;
    grid-row: 6;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    height: 0px;
    transition: 0.5s;
    max-height: 100px;
    z-index: 7;
    overflow: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
    margin-left: auto;
    margin-right: auto;
    width: 95%; /* uniform width for all screen sizes */
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Customize the scrollbar track */
.yb-comment-container::-webkit-scrollbar {
    width: 4px; /* Adjust the width as needed */
    height: 90%;
    transition: 0.5s;
    
}

.yb-comment-container::-webkit-scrollbar:hover {
    width: 6px; /* Adjust the width as needed */
    transition: 0.5s;
    

}

/* Customize the scrollbar track color */
.yb-comment-container::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-color);
    border-radius: 20px;
}

/* Customize the scrollbar thumb (handle) */
.yb-comment-container::-webkit-scrollbar-thumb {
    background-color: rgb(150, 150, 150);
    border-radius: 10px;
    transition: 0.3s;
}

.yb-comment-container::-webkit-scrollbar-thumb:hover {
    background-color: rgb(200, 200, 200);
    transform: scale(1.1);
    transition: 0.3s;

}

.yb-comment-container.open {
    display: flex;
    flex-direction: column-reverse;
    min-height: 30px;
    height: auto;
    max-height: 250px;
    transition: 0.5s;
    overflow-y: auto; /* Allows vertical scrolling */
    overflow-x: hidden; /* Prevents horizontal scrolling */
}


.yb-comment-name {
    /*Positioning*/
    position: relative;
    display: inline-block;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: auto;
    font-size: 12px;
    font-weight: bold;
    color: white;
    text-align: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.yb-comment-text {
    position: relative;
    display: block;
    padding: 5px;
    backdrop-filter: brightness(90%);
    -webkit-backdrop-filter: brightness(90%);
    width: 100%;
    height: 100%;
    
}

.yb-comment-time {
    display: block;
    position: relative;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
    color: rgb(150,150,150);
}

.yb-comment-photo.left {
    position: absolute;
    left: -32px;
    top: 3px;
    width: 20px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.yb-comment-photo.right {
    position: absolute;
    left: -32px;
    top: 3px;
    width: 20px;
    border-radius: 50%;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
}

.yb-container-commentField {
    position: relative;
    display: flex;
    flex-direction: row;
    grid-row: 7;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 95%;
    z-index: 5;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 10px;

}

.yb-field-commentField {
    position: relative;
    padding: 10px;
    grid-column: 1;
    margin: auto;
    background-color: transparent;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    width: 100%;
    

}

.yb-send-comment {
    border-radius: 30px;
    border-width: 0px;
    height: 35px;
    width: 60px;
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

@media (prefers-color-scheme:light) {
    .yb-send-comment {
        background-color: rgba(0, 0, 0, 0.5);
    }
}

@media (prefers-color-scheme:dark) {
    .yb-send-comment {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.yb-send-comment:hover {
    background-color: green !important;
    transform: scale(1.05);
    transition: 0.3s;
}

/* Sub Elements */
@media screen and (min-width: 768px) {
    .yb-container-filter {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}

.counter {
    color: lightgray;
    margin-left: 10px;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 12px;
}
    
.bb-field {
    
    background-color: rgba(0, 0, 0, 0.3);

}

.yb-delete-comment {
    position: absolute;
    text-decoration: none;
    left: -30px;
    top : 10px;
    height: 25px;
    width: 25px;
    text-align: center;
    font-size: 25px;
    background-color: gray;


}

.yb-delete-comment:hover{
    cursor: pointer;
    animation: yb-bounce-once 0.5s ease-in-out 1;
    background-color: white;
    color: red;
    transition: 0.8s;
}

.yb-showMore-bit:hover {
    
    animation: yb-bounceDown 0.25s ease-in-out 1;
}


.attached-photo-container {
    border-radius: 10px;
    margin: auto;
    grid-row: 3;
    border: 2px solid black;
    overflow: hidden;
    background-color: black;
}

@media screen and (min-width: 768px) {
    .attached-photo-container {
        width: 100%;
        max-width: 512px;
    }

}

@media screen and (max-width: 768px) {
    .attached-photo-container {
        width: 100%;
    }

}

.attached-photo {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
}

.attached-video-container {
    position : relative;
    display: block;
    margin: auto;
    width: 99%;
    grid-row: 2;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid black;
    aspect-ratio: 16 / 9;

}

.no-bits-message {
    position: relative;
    display: block;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    max-width: 650px;
    border-radius: 10px;
    height: 150px;
}

.bit-background-color {
    background-color: var(--yb-bit-primary-color);
}

.bit-text-color {
    color: var(--yb-bit-text-color);
}

.bit-title-color {
    color: var(--yb-bit-title-color);
}

.bit-secondary-color {
    color: var(--yb-bit-secondary-color);
}

.bit-icon-color {
    color: var(--yb-bit-icon-color);
}

.bit-button-color {
    color: var(--yb-bit-button-color);
}

.bit-bg-dark-1 {
    background-color: color-mix(in srgb, var(--yb-bit-primary-color), black 30%);
}

.bit-bg-dark-2 {
    background-color: color-mix(in srgb, var(--yb-bit-primary-color), black 50%);
}