.yb-container-addPhoto {
    position: relative; 
    background-color: black; 
    border-radius: 10px;  
    width: 100%;
    padding-bottom: 100%;

}

.yb-builderBit:focus {
    outline: none;
}

#add-video-button {
    display: none;
}

#add-video-button.active {
    display: block;
}

#add-photo-button {
    display: none;
}

#add-photo-button.active {
    display: block;
}

#tags-bit-preview-button {
    display: none;
}

#tags-bit-preview-button.active {
    display: block;
}