<div class="yb-fillWidth yb-customize-toolbar-inner squared">
    <div class="yb-tb-button-back ready font-white toolbar-button" onclick="yb_navigateTo('content-container', 'customize-main');">
        <div class="cb-panel-back"><svg class="yb-transform-center tb" style="left: 5px;" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20" fill="white"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
        <p class="yb-fillWidth yb-margin-center tb align-left">Back</p>
    </div>
    <div class="yb-tb-theme-section">
        <div style="display: grid; grid-template-columns: 1fr 2fr; grid-column: 1; text-align: left; line-height: 1.5; font-weight: 550; margin-left: 10px;">
            <p class="yb-font-autoGray">
                Theme:
            </p>
            <select type="text" id="theme-name" class="yb-input-transparent yb-font-autoGray yb-pText squared" style="padding-left: 10px; font-weight: bold; font-size: 14px; width: 100%; border: solid 1px gray; height: 25px; margin: auto; background-color: transparent;" value="{{custom_core.theme.id}}">
                <option value="{{custom_core.theme.id}}">{{custom_core.theme.name}}</option>
            </select>
        
        </div>

        <button class="yb-tb-button-new ready toolbar-button squared font-small yb-bg-autoGray" onclick="yb_navigateTo('2way', 'create-theme');">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
        </button>

        <button class="yb-tb-button-browse ready toolbar-button font-small squared">
            Browse
        </button>   
    </div>  
    
    <button class="yb-tb-button-preview ready toolbar-button font-small squared" onclick="yb_showMobilePreview()">
        <svg xmlns="http://www.w3.org/2000/svg" class="yb-transform-center all" height="20px" viewBox="0 -960 960 960" width="20px"><path d="M280-40q-33 0-56.5-23.5T200-120v-720q0-33 23.5-56.5T280-920h400q33 0 56.5 23.5T760-840v720q0 33-23.5 56.5T680-40H280Zm0-200v120h400v-120H280Zm200 100q17 0 28.5-11.5T520-180q0-17-11.5-28.5T480-220q-17 0-28.5 11.5T440-180q0 17 11.5 28.5T480-140ZM280-320h400v-400H280v400Zm0-480h400v-40H280v40Zm0 560v120-120Zm0-560v-40 40Z"/></svg>
    </button> 

    <div class="yb-tb-undo-section">
        <button id="yb-tb-button-reset" class="yb-tb-button-reset toolbar-button squared font-small yb-bg-autoGray">
            <svg style="transform: rotate(180deg);" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="m360-120-57-56 64-64h-7q-117 0-198.5-81.5T80-520q0-117 81.5-198.5T360-800h240q117 0 198.5 81.5T880-520q0 117-81.5 198.5T600-240v-80q83 0 141.5-58.5T800-520q0-83-58.5-141.5T600-720H360q-83 0-141.5 58.5T160-520q0 83 58.5 142.5T360-312h16l-72-72 56-56 160 160-160 160Z"/></svg>
        </button>
    
        
        <button id="yb-tb-button-undo" class="yb-tb-button-undo toolbar-button squared font-small">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M280-200v-80h284q63 0 109.5-40T720-420q0-60-46.5-100T564-560H312l104 104-56 56-200-200 200-200 56 56-104 104h252q97 0 166.5 63T800-420q0 94-69.5 157T564-200H280Z"/></svg>
        </button>


        <button id="yb-tb-button-redo" class="yb-tb-button-redo toolbar-button squared font-small">
            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M396-200q-97 0-166.5-63T160-420q0-94 69.5-157T396-640h252L544-744l56-56 200 200-200 200-56-56 104-104H396q-63 0-109.5 40T240-420q0 60 46.5 100T396-280h284v80H396Z"/></svg>
        </button>
    </div>


    <button id="yb-tb-button-save" class="yb-tb-button-save toolbar-button squared">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path d="M840-680v480q0 33-23.5 56.5T760-120H200q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h480l160 160Zm-80 34L646-760H200v560h560v-446ZM480-240q50 0 85-35t35-85q0-50-35-85t-85-35q-50 0-85 35t-35 85q0 50 35 85t85 35ZM240-560h360v-160H240v160Zm-40-86v446-560 114Z"/></svg>
    </button>


</div>