{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_profile/yb_profile.css' %}"/>
<style>

</style>

<div id="profile-page-splash" class="splash-page profile">

    <div class="grid-overlay">
    
    </div>
    <div id="profile-splash-label" class = "yb-splash-label profile yb-center-transform all align-center">
        <div class="profile-image-border preview" style="height: 25vw; width: 25vw; border: 2px solid gray;">
            <img src="{{profile_thumbnail_medium}}" class="large-profile-image preview profile-icon" id="profile-image-splash" style="height: 95%; width: 95%; border-color:{{user.profile.custom.profile_splash.image_border_color}};"/>
        </div>
        <div class="profile-name-splash preview" id="profile-name-splash" style="border: 2px solid gray;">
            <h2 id="profile-name-header" style="color:{{user.profile.custom.profile_splash.title_color}};" class="profile-name-header">{{user.first_name}} {{user.last_name}}</h2>
            <b id="profile-handle-label" style="color:{{user.profile.custom.profile_splash_text_color}};" class="profile-handle-label">
                <small>@{{user.username}}</small>
            </b>
        </div>


        <div id="profile-interaction-container" class="profile-interaction-container profile-CME profile-interaction-container preview yb-center-margin lr" style="border: 2px solid gray;">
            <button style="color: {{user.profile.custom.profile_splash.button_text_color}}; background-color: {{user.profile.profile_splash.button_color}};" id="profile-button-connect" class="button-profile-interaction yb-button-flex" data-id = "{{profile.id}}">
                
                {% if request.user.id == profile.user.id %}
                    <span>Edit</span>
                {% else %}
                    {% if profile in request.user.profile.following.all or profile in request.user.profile.connections.all %}
                        <span>Manage</span>
                    {% else %}
                        <span>Connect</span>
                    {% endif %}
                {% endif %}
    
    
            </button>
    
            <button style="color: {{user.profile.custom.profile_splash.button_text_color}}; background-color: {{user.profile.custom.profile_splash.button_color}};" id="profile-button-message" class="button-profile-interaction yb-button-flex">
                {% if request.user.id == profile.user.id %}
                    <span>Messages</span>
                {% else %}
                    <span>Message</span>
                {% endif %}
            </button>
    
            <button style="color: {{user.profile.custom.profile_splash.button_text_color}}; background-color: {{user.profile.profile_splash.button_color}};" id="profile-button-about" class="button-profile-interaction yb-button-flex">
                <span>About</span>
            </button>
        {% comment %} </div>
        <div id="profile-bio-container" class="splash-bio-container preview" style="border: 2px solid gray;">
            <h3 id="profile-motto" style="color: {{user.profile.custom.profile_splash.title_color}};" class="profile-motto">
                {{user.profile.motto}}
            </h3>
            <p id="profile-bio" style="color:{{user.profile.custom.profile_splash.text_color}};" class="splash-bio">
                {{user.profile.user_bio}}
            </p>
        </div> {% endcomment %}
    </div>

    
    <div id="swipe-up-element" class="swipe-up-element bobbing-object">
        <svg id="swipe-up-icon" class='swipe-up-icon' xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path style="fill:{{user.profile.custom.profile_splash.text_color}}" d="M14.15 30.75 12 28.6l12-12 12 11.95-2.15 2.15L24 20.85Z"/></svg>
        <p style = "color: {{user.profile.custom.profile_splash.text_color}};" class = "swipe-up-text" id="swipe-up-text">Slide up to Edit Profile</p>

    </div>

</div>

<div id="additional-options" class="yb-gap5" style="z-index: 1001;">
    <div id="change-avatar" class="yb-flexRow yb-gap5">

        <div class="yb-circle-button mini">
            <svg class="mini-button-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"/>
            </svg>
        </div>

        <p class="font-gray font-medium yb-editBarLabel"> Profile Image</p>
    
    </div>

    <div class="yb-flexRow yb-gap5" id="change-wallpaper">

        <div class="yb-circle-button mini">
            <svg class="mini-button-icon" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                <path d="M200-120q-33 0-56.5-23.5T120-200v-240h80v240h240v80H200Zm320 0v-80h240v-240h80v240q0 33-23.5 56.5T760-120H520ZM240-280l120-160 90 120 120-160 150 200H240ZM120-520v-240q0-33 23.5-56.5T200-840h240v80H200v240h-80Zm640 0v-240H520v-80h240q33 0 56.5 23.5T840-760v240h-80Zm-140-40q-26 0-43-17t-17-43q0-26 17-43t43-17q26 0 43 17t17 43q0 26-17 43t-43 17Z"/>
            </svg>
        </div>

        <p class="font-gray font-medium yb-editBarLabel"> Wallpaper</p>
    
    </div>

</div>

<div class = "yb-fsContainer still yb-panel" id="yb-under-construction" style="transition: 0.5s; display:block; background-color: rgba(250, 145, 59, 0.9); text-shadow: 1px 1px 5px black; color: rgb(250, 221, 60);">
    <div id='div-header' class="div-header" style="padding-top: 65px;">
        <div class="cb-panel-back" onclick="customize_url('')"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
        <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb align-left" onclick="customize_url('')">Back</h3>
        <div></div>
    </div>
    <div class="yb-fsContent yb-center-transform all align-center">
        <div class="yb-fsHeader">
            <svg xmlns="http://www.w3.org/2000/svg" height="72px" viewBox="0 -960 960 960" width="72px"><path style="fill: rgb(250, 221, 60);" d="M201-120v-166h-83v-60h83v-206L76-457l-36-47 440-336 440 336-37 47-125-96v207h83v60h-83v166h-60v-166H510v166h-60v-166H261v166h-60Zm60-226h189v-396L261-598v252Zm249 0h188v-252L510-742v396Z"/></svg>
            <br>
            <h1 class="yb-fsTitle">Under Construction</h1>
        </div>
        <div class="yb-fsBody">
            <p class="yb-fsText">This feature is currently under construction. Please check back later.</p>
        </div>
    </div>
</div>


{% comment %} <script class="page-script" id="page-script" type="text/javascript" src="{% static 'scripts/yb_customize/customCore.js' %}"></script> {% endcomment %}
<script class="page-script" id="page-script" type="text/javascript" src="{% static 'scripts/yb_customize/yb-customize-profiles.js' %}"></script>
