{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/personalization-new.css' %}"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />


    <div id='accent-color-preview' class='profile-image-preview'>
        <img class='profile-image-preview-image' id='profile-image-preview-image' src="">
    </div>



<!--//////      Profile Image Cropper      //////-->
<div class="yb-panel-wide" id="profile-cropper" style="left: 2.5px; position: relative; margin-left: auto; margin-right: auto;">
    
    <!--Profile Image import options-->
    <button id="square-cropper-back" class="yb-form-button" style="background-color: darkred;" data-state="0">Back</button>
    <button id="square-cropper-select-button" class="yb-form-button" onclick="showImageSelection()">Select from Uploads</button>
    <button id="square-upload-button" class="yb-form-button" onclick="showUpload('profile-image')">Upload New</button>

    <!--Profile cropper image-->
    <img id="profile-image-preview" style="object-fit: contain;max-width:100%; max-height: 250px; margin-left: auto; margin-right: auto;"/>
    <br />
    <input type="hidden" id="cropper-output" value="">


    <!--Profile Cropper Submision Controls (Save)-->
    <div id="square-cropper-submission-controls" style="width:100%; background-color: rgba(0, 0, 0, 0.5);">
        <button id="profile-advanced-options-button" style="margin-top: 2px; position: absolute; left: 5px;" class = "yb-form-button">Show Advanced Options</button>
        <button id="cropper-save" class="yb-form-button" style="background-color: darkgreen; position: absolute; right: 5px;" onclick="uploadImage('profile-image')">Save</button>
    </div>

</div><!-- (X) CLOSING TAG: For Profile Image Cropper (X) -->

<script src="{% static 'scripts/yb_crop.js' %}"></script>