{% load static %}
<div id='div-header' style='position: relative; display: grid; grid-template-columns: 40px 5fr 40px; margin-left: auto; margin-right: auto; width: 100%; height: 40px; margin-bottom: 20px;' >
    <div class="cb-panel-back"></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('profile-image-upload');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-fillWidth yb-vScroll yb-autoText yb-margin-T10 align-center" ID="feed-settings-form" method="POST" action="{% url 'settings_feed' %}" style="height: calc(100% - 70px); border-radius: 15px; padding-bottom: 150px;">
    <div class="yb-fillWidth align-center" style="position: relative;" >
        <div class="large-profile-image preview yb-center-margin lr" id="profile-image-preview" style="height: 256px; width: 256px; border-color:{{accent_color}}; overflow: hidden;">
            <img src="{{profile_thumbnail_medium}}" class="profile-icon" id="profile-image-preview"/>
        </div>
        <input type = "file" id="profile-image-upload" style="display: none;"/>
        <br>
        <br>
        <button id="new-image-button" class="yb-button-wide rounded font-white" style="padding: 10px 10px 10px 10px; height: 40px !important; background-color: #3399ff">New Image</button>
        <br>
        <br>
        <hr>
        <div id="edit-options" class="align-center">
            <br>
            <h3 class="yb-autoText">Edit Image</h3>
            <br>
            <div>
                <div id="enable-border-container" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; width: 95%; margin: auto;">
                    <p class="field-cover-label align-left" style="grid-column: 1;">Image Hue </p>  
                    <input type="range" id="avatar-hue-slider" style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; text-align: left;" class="hue" min="0" max="360" step="1" value="0">      
                    
                </div>
            </div>
            
            <br>
            <div id="enable-transparency-container" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; width: 95%; margin: auto;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Enable Transparency <br><small><i>*Requires transparent image</i></small></p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>
            <br>
            <div id="enable-border-container" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; width: 95%; margin: auto;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Enable Border </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>
            <br>
            <div>
                <div id="enable-border-container" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; width: 95%; margin: auto;">
                    <p class="field-cover-label align-left" style="grid-column: 1;">Border Color </p>        
                    <input type="color" id="avatar-border-color" style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; text-align: left;" value="{{accent_color}}">
                    </div>       
                </div>
            </div>
            <br>
            <button id="avatar-save-button" class="yb-button-wide green rounded" style="padding: 10px 10px 10px 10px; height: 40px !important; width: 75px;">Save</button>
        </div>
        <hr>
    </div>
</div>
<script src="{% static 'scripts/yb_customize/yb_editImage3.js' %}"></script>


<script>
    $(document).ready(function(){
        tw_hideLoading();
    });
</script>
