{% load static %}
<div class="yb-drawer-search" id="sticker-search-bar">
    <h3 class="yb-autoText yb-pText align-center">Edit Font</h3>
</div>
<hr style="border-color: gray;">
<div id="yb-container-text-edit" class="sticker-list-container" style="top: 0px !important; height: 29.5vh;">
    <div class="yb-vScroll" style="position: relative; top: 0px; height: 100%; padding-bottom: 100px;">
        <div>
            <div id="font-style-section" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: 30px 25px auto 25px; width: 95%; margin: auto; grid-gap: 5px;">
                <h3 class="align-center squared yb-autoText-reversed" style="grid-row: 1; grid-column-start: 1; grid-column-end: 3; width: 33%; margin: 5px auto; line-height: 2; height: 30px; background-color: rgba(0,0,0,0.5);">Name Font</h3>
                <p class="field-cover-label yb-autoText yb-pText align-left" style="grid-column: 1; grid-row: 2;">Font Color </p>  
                <div class = "color-circle yb-center-margin tb" id="image-co-color-circle" name="image-co" style="position: relative; margin-right: 10px; background-color: {{title_color}}; grid-column: 2; grid-row: 2; height: 25px; width: 25px;"></div>  
                <input class="coloris color-input" type="text" name="image-co" style="display: none;" id="image-co-color-picker" value="{{title_color}}">  
                <hr style="grid-row: 3; grid-column-start: 1; grid-column-end: 3; width: 100%; border-color: gray;">
                <p class="field-cover-label yb-autoText yb-pText align-left" style="grid-column: 1; grid-row: 4;">Font Size </p>  
                <input type="range" id="font-size-text-slider" style="position: absolute; top: 50%; grid-column: 2; grid-row: 4; transform: translateY(-100%); right: 5px; text-align: left;" class="yb-ranger" min="0" max="5" step="1" value="{{title_size}}">      

                
            </div>
        </div>
            
        <br>

        <div style="padding-bottom: 50px;">
            <div id="font-style-section" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; grid-template-rows: 30px 25px auto 25px;; width: 95%; margin: auto; grid-gap: 5px;">
                <h3 class="align-center squared yb-autoText-reversed" style="grid-row: 1; grid-column-start: 1; grid-column-end: 3; width: 33%; margin: 5px auto; line-height: 2; height: 30px; background-color: rgba(0,0,0,0.5);">Username Font</h3>
                <p class="field-cover-label yb-autoText yb-pText align-left" style="grid-column: 1; grid-row: 2;">Font Color </p>  
                <div class = "color-circle yb-center-margin tb" id="image-co-color-circle" name="image-co" style="position: relative; margin-right: 10px; background-color: {{text_color}}; grid-column: 2; grid-row: 2; height: 25px; width: 25px;"></div>  
                <input class="coloris color-input" type="text" name="image-co" style="display: none;" id="image-co-color-picker" value="{{text_color}}">  
                <hr style="grid-row: 3; grid-column-start: 1; grid-column-end: 3; width: 100%; border-color: gray;">
                <p class="field-cover-label yb-autoText yb-pText align-left" style="grid-column: 1; grid-row: 4;">Font Size </p>  
                <input type="range" id="font-size-text-slider" style="position: absolute; top: 50%; grid-column: 2; grid-row: 4; transform: translateY(-100%); right: 5px; text-align: left;" class="yb-ranger" min="0" max="5" step="1" value="{{text_size}}">      

                
            </div>
        </div>
    </div>
</div>