{% load static %}
<div id='div-header' style='position: relative; display: grid; grid-template-columns: 40px 5fr 40px; margin-left: auto; margin-right: auto; width: 100%; height: 40px; margin-bottom: 20px;' >
    <div class="cb-panel-back"></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('background-image-upload');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-fillWidth yb-vScroll yb-autoText yb-margin-T10 align-center" ID="feed-settings-form" method="POST" action="{% url 'settings_feed' %}" style="height: calc(100% - 70px); border-radius: 15px; padding-bottom: 150px;">

    <h3>Edit Wallpaper</h3>
    <br>
    <div class="yb-hblock-41 responsive" style="padding: 10px 10px 10px 10px;">
        <div class="wp-desktop-preview">
            <div class="wp-desktop-preview-inner" style="position: relative; top: 50%; transform: translateY(-50%);">
                <img src="{{wallpaper_desktop.url}}" style="max-width: 100%; max-height: 400px; border-radius: 10px; box-shadow: 1px 1px 5px black;" class="wp-desktop-preview-image">
            </div>
        </div>
        <div class="wp-mobile-preview" >
            <div class="wp-mobile-preview-inner">
                <img src="{{wallpaper_mobile.url}}" style="max-width: 100%; max-height: 400px; border-radius: 10px; box-shadow: 1px 1px 5px black;" class="wp-mobile-preview-image">
            </div>
        </div>

    </div>
    <br>
    <section>
        <form id="wallpaper-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="wallpaper" id="wallpaper" style="display:none;">
            <button id="new-image-button" class="yb-button-wide rounded font-white" style="padding: 10px 10px 10px 10px; height: 40px !important; background-color: #3399ff">New Image</button>
        </form>
    </section>
    </div>
</div>
<script>
    $(document).ready(function(){
        tw_hideLoading();
    });
</script>
