{% load static %}
<h2 id="page-title-display" style='color: lightgray; text-align: center;'></h2>
<div id='yb-browse-nav' style='display:grid; grid-template-columns: auto auto auto auto auto;' data-dataset="liked">
    <button type="text" class='filter-button active' name="#profile-images" id="yb-liked-bits">
        All
    </button>
    <button type="text" class='filter-button' name="#ui-colors" id="yb-disliked-bits">
        Friends
    </button>
    <button class='filter-button' name = '#bits' id="yb-commented-bits">
        Following
    </button>
    <button class='filter-button' name='#fonts' id="yb-shared-bits">
        Public
    </button>

</div>
<div id="bit-container">

</div>
<script src="{% static 'scripts/yb-cluster.js' %}"></script>