{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/feed_yourbit.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/search_results.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/search_results.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'css/feed_yourbit.css'%}"/>

    <h2 style='text-align: center; color: gray; text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);'>Connections</h2>
    <p style='text-align: center; color: white;'>
        These are all the people you're connected with on Yourbit!<br><br>
        <button class="wide-button">Learn More</button>
    </p>
    <div class='filter-options' style='
        display: grid; 
        grid-template-columns: auto auto auto auto; 
        column-gap: 4px; 
        position: sticky; 
        z-index: 3; 
        top: -20px; 
        margin-bottom: 10px; 
        margin-left: auto;
        margin-right: auto;
        
        width: 95vw; 
        border-radius: 28px;
        height: 35px; 
        background-color: rgba(0,0,0, 0.6); 
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        overflow-y: scroll;
        '>
        <button id="filter-all" class='filter-button' name="all">All</button>
        <button id="filter-freinds" class='filter-button' name="friends">Friends</button>
        <button id="filter-followers" class='filter-button' name="followers">Followers</button>
        <button id="filter-following" class='filter-button' name="following">Following</button>
        
    </div>
    <div id = "list-container">

    </div>
    
    <div id="mobile-spacer">

    </div>

<script>

    $(document).ready(function() {
        yb_showMiniBar(); 
        yb_showMenuTask();   
        yb_hideSpaceBar();
        $("#filter-all").attr("class", "filter-button-wide-active");
        let base_url = getBaseURL();

        let url = `${base_url}/api/profiles/?filter=all`
        yb_getConnections(url);
        
    });

    $(".filter-button").click(function(){
        $("#list-container").empty();
        let base_url = getBaseURL();
        let filter = $(this).attr("name");
        $(".filter-button-wide-active").attr("class", "filter-button");
        $(this).attr("class", "filter-button-wide-active");
        let url = `${base_url}/api/profiles/?filter=${filter}`
        yb_getConnections(url);
        
    });


    function yb_getConnections(url){
        fetch(url)
        .then((resp) => resp.json())
        .then(function(data){
            let connections = data
            let results = connections.results
            console.log(connections)
            if (connections.results_found === true) {
                
                for (var connection in results) {
                    $(".feed-message").remove();
                    
                    let list_container = document.getElementById("list-container");
                    let this_item = results[connection];
                    console.log(this_item)
                    let user = this_item.user;
                    let custom = this_item.custom

                    let name = user.first_name + " " + user.last_name

                    let result_object = BuildListItem(this_item, "user")

                    result_object.addEventListener('click', function(e) {
                        let this_element = e.currentTarget;
                        let username = this_element.getAttribute('data-username');
                        console.log(username);
                        data = {"username": username}
                        hideSearch();
                        profile_url(data);
                    });

                    list_container.appendChild(result_object);
                    
                    
                }
            
            } else {

                $(".feed-message").remove();
        
                let message = yb_createElement("h4", "no-connections-message", "feed-message");
                
                message.setAttribute("style", "color:white; transform: translate(0, -10px); background-color: black; border-radius: 30px; text-align:center; width: 80%; padding: 10px; margin-left: auto; margin-right: auto;");
                message.innerHTML = `
                    <svg xmlns="http://www.w3.org/2000/svg" height="48" width="48">
                        <path d="M22.65 34h3V22h-3ZM24 18.3q.7 0 1.175-.45.475-.45.475-1.15t-.475-1.2Q24.7 15 24 15q-.7 0-1.175.5-.475.5-.475 1.2t.475 1.15q.475.45 1.175.45ZM24 44q-4.1 0-7.75-1.575-3.65-1.575-6.375-4.3-2.725-2.725-4.3-6.375Q4 28.1 4 23.95q0-4.1 1.575-7.75 1.575-3.65 4.3-6.35 2.725-2.7 6.375-4.275Q19.9 4 24.05 4q4.1 0 7.75 1.575 3.65 1.575 6.35 4.275 2.7 2.7 4.275 6.35Q44 19.85 44 24q0 4.1-1.575 7.75-1.575 3.65-4.275 6.375t-6.35 4.3Q28.15 44 24 44Zm.05-3q7.05 0 12-4.975T41 23.95q0-7.05-4.95-12T24 7q-7.05 0-12.025 4.95Q7 16.9 7 24q0 7.05 4.975 12.025Q16.95 41 24.05 41ZM24 24Z"/>
                    </svg>
                    
                    <p>${data.message}</p>
                `
                $('#list-container').append(message);
            }
        
        });
    }

    $('#back-to-home').click(function() {
        window.location.href = `${base_url}/bitstream/home/`
    });
</script>
