{% load static %}
<!--HTML Snippet file for create menu, insert any modificatioons for create menu here-->
<div id='div-header' style='position: relative; margin-left: auto; margin-right: auto; text-align: right; width: 92vw; height: 40px;' >
    <div class='yb-button-close' id='bit-panel-close'>&times;</div>
</div>
<div id="script-sources">
    <!--
        Script urls are stored as input values on page, this keeps the entire script from loading until
        called which reduces the overall memory consumption and performance of the system.
    -->
    <input type = "hidden" id = "create-bit-source" value="{% static 'scripts/yb-create-bit.js' %}">
    <input type = "hidden" id = "send-message-source" value = "{% static 'scripts/send-message.js' %}">
    <input type = "hidden" id = "create-community-source" value = "{% static 'scripts/create-community.js' %}">
</div>
                        
<div id='create-options' style='text-align: center;'>
    <br>
    <h3>Create...</h3>
    <p style="margin-bottom: 0px;"><small><i>Select One</i></small></p>
    <br>
    <button type='button' class='create-option' name='chat'>ChatBit</button>
    
    <button type='button' class='create-option' name='photo'>PhotoBit</button>
    
    <button type='button' class='create-option' name='video'>VideoBit</button>

    <button type='button' class='create-option' name='cluster'>Cluster</button>
    
    <button type='button' class='create-option' name='community'>Community</button>
    
    <button type='button' class='create-option' name='message'>New Message</button>
    </div>
<div id='create-container' style='position:relative; width:100%; display:none; margin-left: 5px; margin-right: auto;'>
    <div id='create-bit-header' style="margin-left: 5px;">
        <svg id="back-create" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M10 22 0 12 10 2l1.775 1.775L3.55 12l8.225 8.225Z"/></svg>
        <h4 id='create-bit-header-text' style="height: 25px; margin-top: 5px;">Create Chat Bit</h4>
        
        <div id='scope-options' style='display:none;'>
            <button class='half-toggle-left' name="toggle-private" id='bit-private-active' type="button">Private</button>
            <button class='half-toggle-right' name = "toggle-public" id='bit-public' type="button">Public</button>
        </div>
    </div>
    <!--Chat Bit Input Fields-->
    <div id="mobile-create-inputs" style="position: relative; margin-left: auto; margin-right: auto;">
        <input type="text" class="yb-single-line-input" id="mobile-title" placeholder="Title (Optional)" style="color:white; font-size: 16px; font-weight: 600;">
        <textarea  type="text" id="mobile-body" placeholder="Body" style="color:white; font-size: 14px;"></textarea>
    </div>
    <!--Contains Space Buttons and Create buttons-->
    <div class="slide-up-button-container">
        <div id="create-bit-type-mobile" style="z-index: 4; display:none;">
    
            <a id = "text-type-button" class = "type-button-active" onclick="changeBitForm('chat')"><svg class="space-button-image" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M.95 17.8V1.85q0-.5.325-.825Q1.6.7 2.1.7h14.25q.5 0 .825.325.325.325.325.825V12q0 .5-.325.825-.325.325-.825.325H5.6Zm5.8.9q-.5 0-.825-.325-.325-.325-.325-.825v-2.4h13.9V5.4h2.4q.5 0 .825.325.325.325.325.825v16.8L18.4 18.7Zm8.1-15.35H3.6v8.05l.9-.9h10.35Zm-11.25 0v8.05Z"/></svg></a>

            <a id = "video-type-button" class = "type-button" name = 'video' onclick="changeBitForm('video')"><svg class="space-button-image" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="m9.15 17.15 8-5.15-8-5.15ZM12 22.8q-2.25 0-4.213-.85-1.962-.85-3.424-2.312Q2.9 18.175 2.05 16.212 1.2 14.25 1.2 12t.85-4.225Q2.9 5.8 4.363 4.338q1.462-1.463 3.424-2.301Q9.75 1.2 12 1.2t4.225.837q1.975.838 3.438 2.301 1.462 1.462 2.299 3.437Q22.8 9.75 22.8 12q0 2.25-.838 4.212-.837 1.963-2.299 3.426Q18.2 21.1 16.225 21.95q-1.975.85-4.225.85Zm0-2.65q3.425 0 5.788-2.363Q20.15 15.425 20.15 12t-2.362-5.788Q15.425 3.85 12 3.85q-3.425 0-5.787 2.362Q3.85 8.575 3.85 12q0 3.425 2.363 5.787Q8.575 20.15 12 20.15ZM12 12Z"/></svg></a>
    
            <a id = "photo-type-button" class = "type-button" name = 'photo' onclick="changeBitForm('photo')"><svg class="space-button-image" xmlns="http://www.w3.org/2000/svg" height="24" width="24"><path d="M12 17.75q1.925 0 3.263-1.337Q16.6 15.075 16.6 13.15q0-1.925-1.337-3.263Q13.925 8.55 12 8.55q-1.925 0-3.262 1.337Q7.4 11.225 7.4 13.15q0 1.925 1.338 3.263Q10.075 17.75 12 17.75Zm0-2.65q-.8 0-1.375-.575t-.575-1.375q0-.8.575-1.375T12 11.2q.8 0 1.375.575t.575 1.375q0 .8-.575 1.375T12 15.1Zm-8.15 6.725q-1.1 0-1.875-.775-.775-.775-.775-1.875V7.125q0-1.1.775-1.875.775-.775 1.875-.775h3.025l2.05-2.25h6.15l2.05 2.25h3.025q1.1 0 1.875.775.775.775.775 1.875v12.05q0 1.1-.775 1.875-.775.775-1.875.775Zm16.3-2.65V7.125h-4.2l-2.05-2.25h-3.8l-2.05 2.25h-4.2v12.05ZM12 13.15Z"/></svg></a>
        </div>
        <button  id="mobile-publish-bit" style="background-color: {{icon_color}};" type="button">Publish</button>
    </div>
    
</div>
<script id="sub-function-script" src = ""></script>



