{% load static %}
<!--HTML Snippet file for create menu, insert any modificatioons for create menu here-->
<div id='div-header' style='position: relative; margin-left: auto; margin-right: auto; text-align: right; width: 92vw; height: 40px;' >
    <div class='yb-button-close' id='cb-panel-close'>&times;</div>
</div>
<div id="script-sources">
    <!--
        Script urls are stored as input values on page, this keeps the entire script from loading until
        called which reduces the overall memory consumption and performance of the system.
    -->
    <input type = "hidden" id = "create-bit-source" value="{% static 'scripts/yb-create-bit.js' %}">
    <input type = "hidden" id = "send-message-source" value = "{% static 'scripts/send-message.js' %}">
    <input type = "hidden" id = "create-community-source" value = "{% static 'scripts/create-community.js' %}">
</div>
                        
<div id='create-options' style='text-align: center;'>
    <br>
    <h3>Create...</h3>
    <p style="margin-bottom: 0px;"><small><i>Select One</i></small></p>
    <br>
    <button type='button' id = "button-chatbit" class='create-option' name='chat'>ChatBit</button>
    
    <button type='button' id = "button-photobit" class='create-option' name='photo'>PhotoBit</button>
    
    <button type='button' id="button-videobit" class='create-option' name='video'>VideoBit</button>

    <button type='button' id = "button-cluster" class='create-option' name='cluster'>Cluster</button>
    
    <button type='button' id = "button-community" class='create-option' name='community'>Community</button>
    
    <button type='button' id="button-new-message" class='create-option' name='message'>New Message</button>
</div>
<div id='create-container' style='position:relative; width:100%; display:none; margin-left: 5px; margin-right: auto;'>

    <!--Contains Space Buttons and Create buttons-->

    
</div>
<script id="sub-function-script" src = ""></script>
<script id="create-menu-script" src = "{% static 'scripts/yb-create-menu.js' %}"></script>


