{% load static %}
<style>
    .profile-color-circle {
        position: relative;
        width: 175px;
        height: 175px;
        border-radius: 50%;
        background-color: red;
        animation: colorCycle 60s linear infinite;
        overflow: hidden;
        right: 0px;
        transform: translateX(50%);
        filter: brightness(20%);
        -webkit-filter: saturate(20%);
        
    }

    #customize-profile-icon {
        
        animation: colorCycleReverse 60s linear infinite;
        filter: brightness(20%);
        -webkit-filter: saturate(20%);

        
    }

    #svg-container {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);

    }
    
    @keyframes colorCycle {
    0% {
        background-color: red;
    }
    25% {
        background-color: green;
    }
    50% {
        background-color: blue;
    }
    75% {
        background-color: red;
    }
    100% {
        background-color: green;
    }
    }
    
    @keyframes colorCycleReverse {
        0% {
            fill: blue;
        }
        25% {
            fill: red;
        }
        50% {
            fill: green;
        }
        75% {
            fill: blue;
        }
        100% {
            fill: red;
        }
}
      
      
</style>
<div id="customize-profile-panel" class="yb-panel-wide" style="display: grid; grid-template-columns: 1fr 1fr; height: 200px;">
    <h1 style="margin: auto;">Profile</h1>
    <div class="profile-color-circle">
        <svg id="svg-container" xmlns="http://www.w3.org/2000/svg" height="190px" viewBox="0 -960 960 960" width="190px"><path id="customize-profile-icon" d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5T731-360q31 14 50 41t19 65v94H160Z"/></svg>
    </div>
</div>
<div style="margin: auto;" id="customizable-bit-panel" class="yb-panel-wide" style="display:grid; grid-template-columns: 1fr 1fr; height: 200px;">
    <h1>Bits</h1>
    <div id="yb-bit-graphic" class="yb-bit-graphic">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<div style="margin: auto;" id="customizable-ui-panel" class="yb-panel-wide" style="display:grid; grid-template-columns: 1fr 1fr; height: 200px;">
    <h1>UI</h1>
</div>