{% load static %}
<style>
    .profile-color-circle {
        position: relative;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        background-color: red;
        animation: colorCycle 60s ease-in-out infinite;
        overflow: hidden;
        right: 0px;
        transform: translateX(30%);
        margin-top: auto;
        margin-bottom: auto;

        
    }

    #customize-profile-icon {
        
        animation: colorCycleReverse 60s ease-in-out infinite;


        
    }

    #svg-container {
        position: absolute;
        bottom: -26%;
        left: 50%;
        transform: translate(-50%);

    }

    #yb-bit-graphic {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
        border-radius: 20px 0px 0px 20px;
        background-color: gray;
        width: 100%
        
    }
    
    @keyframes colorCycle {
        0% {
          background-color: #333; /* Dark gray */
        }
        25% {
          background-color: rgba(200, 0, 0, 0.3); /* Slight red tint */
        }
        50% {
          background-color: rgba(0, 200, 0, 0.3); /* Slight green tint */
        }
        75% {
          background-color: rgba(0, 0, 200, 0.3); /* Slight blue tint */
        }
        100% {
          background-color: rgba(200, 0, 0, 0.3); /* Slight red tint */
        }
      }
      
    
      @keyframes colorCycleReverse {
        0% {
          fill: rgba(200, 0, 0, 0.3); /* Slight red tint */
        }
        25% {
          fill: rgba(0, 200, 0, 0.3); /* Slight green tint */
        }
        50% {
          fill: rgba(0, 0, 200, 0.3); /* Slight blue tint */
        }
        75% {
          fill: rgba(200, 0, 0, 0.3); /* Slight red tint */
        }
        100% {
          fill: #333; /* Dark gray */
        }
      }
      
      
</style>
<div id="customize-profile-panel" class="yb-panel-wide" style="display: grid; grid-template-columns: 1fr 1fr; height: 200px; overflow: hidden;">
    <h1 style="margin: auto;">Profile</h1>
    <div class="profile-color-circle">
        <svg id="svg-container" xmlns="http://www.w3.org/2000/svg" height="275px" viewBox="0 -960 960 960" width="275px"><path id="customize-profile-icon" d="M480-481q-66 0-108-42t-42-108q0-66 42-108t108-42q66 0 108 42t42 108q0 66-42 108t-108 42ZM160-160v-94q0-38 19-65t49-41q67-30 128.5-45T480-420q62 0 123 15.5T731-360q31 14 50 41t19 65v94H160Z"/></svg>
    </div>
</div>
<div id="customizable-bit-panel" class="yb-panel-wide" style="display:grid; grid-template-columns: 1fr 2fr; height: 200px; overflow: hidden;">
    <h1 style="margin: auto;">Bits</h1>
    <div id="yb-bit-graphic" class="yb-bit-graphic">
        <div id="yb-circle-strip">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div id="customizable-ui-panel" class="yb-panel-wide" style="display:grid; grid-template-columns: 1fr 1fr; height: 200px; overflow: hidden;">
    <h1 style="margin: auto;">UI</h1>
    <div>

    </div>
</div>