{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yourbit_profile.css' %}"/>

<input type="hidden" id="profile-data" value="{{ profile.id }}" data-username="{{profile.username}}" data-background = "{{user.profile.custom.background_image.url}}" data-blur="{{profile.custom.background_blur}}" data-brightness="{{profile.custom.background_brightness}}" data-icon-color = "{{profile.custom.icon_color}}"/>
<div id="profile-page-splash" class="splash-page profile">

    <div id="profile-splash-label" class = "space-splash-label profile">
        <img src="{{profile.custom.image_thumbnail_large.url}}" class="large-profile-image" id="profile-image-splash" style="height: 0px; width: 0px; border-color:{{profile.custom.accent_color}};"/>
        <div class="profile-name-splash" id="profile-name-splash">
            <h2 id="profile-name-header" style="color:{{profile.custom.title_color}};" class="profile-name-header">{{profile_user.first_name}} {{profile_user.last_name}}</h2>
            <b style = "margin: 0px;" id="profile-handle-label" style="color:{{profile.custom.text_color}};" class="profile-handle-label">
                <small>@{{profile_user.username}}</small>
            </b>
        </div>


        <div id="profile-interaction-container" class="profile-interaction-container">
            <button style="color: {{profile.custom.title_color}}; background-color: {{profile.custom.primary_color}};" id="profile-button-connect" class="button-profile-interaction" data-id = "{{profile.id}}">
                
                {% if request.user.id == profile.user.id %}
                    <span>Edit</span>
                {% else %}
                    {% if profile in request.user.profile.following.all or profile in request.user.profile.connections.all %}
                        <span>Manage</span>
                    {% else %}
                        <span>Connect</span>
                    {% endif %}
                {% endif %}
    
    
            </button>
    
            <button style="color: {{profile.custom.title_color}}; background-color: {{profile.custom.primary_color}};" id="profile-button-message" class="button-profile-interaction" data-id="{{profile.id}}">
                {% if request.user.id == profile.user.id %}
                    <span>Messages</span>
                {% else %}
                    <span>Message</span>
                {% endif %}
            </button>
    
            <button style="color: {{profile.custom.title_color}}; background-color: {{profile.custom.primary_color}};" id="profile-button-about" class="button-profile-interaction">
                <span>About</span>
            </button>
        </div>
        <div id="profile-bio-container" class="splash-bio-container">
            <h3 id="profile-motto" style="color: {{profile.custom.title_color}};" class="profile-motto">
                {{profile.motto}}
            </h3>
            <p id="profile-bio" style="color:{{profile.custom.text_color}};" class="splash-bio">
                {{profile.user_bio}}
            </p>
        </div>
    </div>

    <div id="load-indicator-container-profile" class="detail-load-box">
        <div id="profile-loading" class="loading-circle-detailed">

        </div>
        <p id="load-indicator-label" class="loading-circle-label" style="color: {{profile.custom.text_color}};">loading bitstream...</p>
    </div>
    
    <div id="swipe-up-element"  style="display:none;" class="swipe-up-element bobbing-object">
        <svg id="swipe-up-icon" class='swipe-up-icon' xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path style="fill:{{profile.custom.text_color}}" d="M14.15 30.75 12 28.6l12-12 12 11.95-2.15 2.15L24 20.85Z"/></svg>
        <p style = "color: {{profile.custom.text_color}};" class = "swipe-up-text" id="swipe-up-text">Slide up for bitstream</p>

    </div>

</div>

<script class="page-script" type="text/javascript" src="{% static 'scripts/FeedManager.js' %}"></script>
<script class="page-script" id="page-script" type="text/javascript" src="{% static 'scripts/yb-profiles.js' %}"></script>
    
</script>
