{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yourbit_profile.css' %}"/>
<style>

</style>
<div id="profile-page-splash" class="splash-page profile">

    <div id="profile-splash-label" class = "space-splash-label profile">
        <div class="profile-image-border preview" style="height: 40vw; width: 40vw; border: 2px solid gray;">
            <img src="{{user_image_large.url}}" class="large-profile-image preview" id="profile-image-splash" style="height: 100%; width: 100%; border-color:{{accent_color}};"/>
        </div>
        <div class="profile-name-splash preview" id="profile-name-splash" style="border: 2px solid gray;">
            <h2 id="profile-name-header" style="color:{{title_color}};" class="profile-name-header">{{user.first_name}} {{user.last_name}}</h2>
            <b id="profile-handle-label" style="color:{{text_color}};" class="profile-handle-label">
                <small>@{{user.username}}</small>
            </b>
        </div>


        <div id="profile-interaction-container" class="profile-interaction-container preview" style="border: 2px solid gray;">
            <button style="color: {{title_color}}; background-color: {{bit_background}};" id="profile-button-connect" class="button-profile-interaction" data-id = "{{profile.id}}">
                
                {% if request.user.id == profile.user.id %}
                    <span>Edit</span>
                {% else %}
                    {% if profile in request.user.profile.following.all or profile in request.user.profile.connections.all %}
                        <span>Manage</span>
                    {% else %}
                        <span>Connect</span>
                    {% endif %}
                {% endif %}
    
    
            </button>
    
            <button style="color: {{title_color}}; background-color: {{bit_background}};" id="profile-button-message" class="button-profile-interaction">
                {% if request.user.id == profile.user.id %}
                    <span>Messages</span>
                {% else %}
                    <span>Message</span>
                {% endif %}
            </button>
    
            <button style="color: {{title_color}}; background-color: {{bit_background}};" id="profile-button-about" class="button-profile-interaction">
                <span>About</span>
            </button>
        </div>
        <div id="profile-bio-container" class="splash-bio-container preview" style="border: 2px solid gray;">
            <h3 id="profile-motto" style="color: {{title_color}};" class="profile-motto">
                {{user.profile.motto}}
            </h3>
            <p id="profile-bio" style="color:{{text_color}};" class="splash-bio">
                {{user.profile.user_bio}}
            </p>
        </div>
    </div>

    
    <div id="swipe-up-element" class="swipe-up-element bobbing-object">
        <svg id="swipe-up-icon" class='swipe-up-icon' xmlns="http://www.w3.org/2000/svg" height="48" width="48"><path style="fill:{{text_color}}" d="M14.15 30.75 12 28.6l12-12 12 11.95-2.15 2.15L24 20.85Z"/></svg>
        <p style = "color: {{text_color}};" class = "swipe-up-text" id="swipe-up-text">Slide up to Edit Profile</p>

    </div>

</div>
<div class="grid-overlay"></div>

<script class="page-script" type="text/javascript" src="{% static 'scripts/FeedManager.js' %}"></script>
<script class="page-script" id="page-script" type="text/javascript" src="{% static 'scripts/yb-customize-profiles.js' %}"></script>
