{% load static %}
{% extends 'main/base.html' %}
{% block title %}Profile Info | Yourbit{% endblock %}
{% block content %}
<div id='content-container'>
    <h2>Profile Info</h2>
    <p>
        Manage the information about you on your profile. All information is 
        set to private by default. If you'd like to make this information available
        to friends or followers, you can do so in Privacy Settings
    </p>
    <!--Connecting groups will create a link to the group on the profile page-->
    <!--General-->
        <!--Profile Bio-->
            <!--TextArea-->
        <!--Gender-->
            <!--Dropdown-->
        <!--Change Profile Image-->

    <!--Contact Info-->
        <!--Phone Number-->
            <!--TextInput-->
            <input type='text' id='phone-number' class='yb-single-line-input'>
        <!--Address-->
            <input type='text' id='street-address' class='yb-single-line-input'>
        <!--Hometown-->
            <!--Town-->
            <input type='text' id='town' class='yb-single-line-input'>
            <!--Connect Group-->
        <!--Email Address-->
            <input type='text' id='email-address' class='yb-single-line-input'>
    
    <!--Occupation-->
        <!--Workplace-->
            <!--Name-->
            <input type='text' id='workplace-name' class='yb-single-line-input'>
            <!--Industry-->
            <input type='text' id='industry-name' class='yb-single-line-input'>
            <!--Role-->
            <input type='text' id='workplace-role' class='yb-single-line-input'>
            <!--Year Started-->
            <!--Year Ended-->
            <!--Connect Group-->
        <!--High School-->
            <!--Name-->
            <!--Attending Status-->
                <!--Year Graduated-->
            <!--Connect Group-->
        <!--College-->
            <!--Name-->
            <!--Field of Study-->
            <!--Attending Status-->
                <!--Year Started-->
                <!--Year Graduated-->
            <!--Connect Group-->
        <!--Hobbies-->
            <!--Name-->
            <!--Connect Group-->
        
        <!--Interests-->
            <!--Name-->

    <!--Faith-->
        <!--Religion-->
        <!--Place of Worship-->
            <!--Name-->
            <!--Connect Group-->

    <!--Family-->
        <!--Family Tree-->
            <!--Add static members-->
            <!--Connect accounts-->

    <!--Default Space-->

    <!--Default Photos Layout-->

    <!--Pinned Bits-->
        <!--Standard-->
        <!--Smart Pinned-->

    

    
</div>
{% endblock %}
