{% extends 'main/base.html' %}
{% load static %}
{% block title %}Subscription Settings | Yourbit{% endblock %}
{% block content %}
<div id='content-container'>
    <h2>Manage Yourbit Void Subscription</h2>
    <p>We are currently offering a free ad 
        free subscription while developing 
        Adellites! We will notify you 30 days
        prior to launching ads. You will not be
        auo enrolled into a subscription. Until 
        then, if you would like to support Yourbit,
        consider donating!
    </p>
</div>
{% endblock %}