{% load static %}
<form method="POST" id="signup-form" style="background-color: rgba(0, 0, 0, 0.5); overflow-y: scroll; position: fixed; height: 100vh; width: 100vw; left: 0px; top: 100vh; z-index: 5;">
    {% csrf_token %}
    <div class="logo-form">
        <img style="width: 100%;" src="{% static 'images/main/2023-logo-draft.png' %}">
    </div>
    <div id="field-shelf" style="
        font-family: 'Arial', sans-serif; 
        text-align: left; 
        padding-top: 20px; 
        position: relative; 
        margin: 10px auto; 
        color: white; 
        display: flex; 
        flex-direction: column; 
        max-width: 600px; 
        width: 100%; 
        align-items: center;">
        <h2 style="text-align: center; color: white;">Join Yourbit</h2>
        <p style="text-align: center; color: white; font-size: 13px;">Before we can send you to Yourbit, we need some information to setup your account.</p>
        
        {% for field in registration_form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} 
                <br>
                <p class="field-error squared" id="error-{{field.name}}" style="display: none; text-align: center; font-size: 14px; margin: 0px; color: pink; font-weight: bold; padding: 5px; background-color: #830000;"></p>
                {{ field }}
                
                {% if field.help_text %}
                    <p class="help" style="font-size: x-small; margin-left: 10px; text-align: left; color: red; height: auto;">{{ field.help_text|safe }}</p>
                                        
                {% endif %}

            </div>
            
        {% endfor %}
        <div id="signup-turnstile"></div>
        <input type="hidden" name="next" value="{{ next }}" />
        <div id="button-container">
            <button class="yb-button-wide rounded yb-fillWidth" id="go-back-signup" style="background-color: darkred; color:white;" type="button">Cancel</button>
            <button class="yb-button-wide rounded yb-fillWidth" id="submit-signup" style="background-color: green; color:white;" name="signup" type="button">Submit</button>
        </div>
        <br>
        
        <p style="font-size: small;" >Already have an account? <a id="back-to-login">Log In</a></p>
        <p style="font-size: small;"><a href="/accounts/templates/viewer/terms/">Terms of Service</a> | <a href="/accounts/templates/viewer/privacy/">Privacy Policy</a></p>
        <p style="font-size: small;">© 2023 Yourbit, LLC. All rights reserved.</p>
    </div>
</form>
