<!DOCTYPE html>
<html>
    <head>
        <title>Forgot Password</title>
    </head>
    <body>
        <h1>Forgot Password?</h1>
        <p>It's okay, as humans, we make mistakes, but it's nothing we can't help with! <br>
            <br>
            Enter your email address to reset your password...
        </p>
            
            {% if messages %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endif %}

        <form method="POST">
            {% csrf_token %}
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <button type="submit">Submit</button>
        </form>

        <a href="{% url 'yb_accounts:login' %}">Cancel</a>
        
    </body>
    
</html>