<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <!--Link CSS documents for styling-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_modifiers5.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_inputs.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_buttons6.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_animations.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/yb_accounts/onboarding.css' %}"/>
    
        <!--Page title welcoming user-->
        <title>Welcome, {{ user.first_name }}</title>
        
        <!--
            
            Maximum scale is set to 1 to prevent zooming when form fields are selected in the web version, 
            tests found traditional zooming is not prevented on any browser with setting enabled.
        
        -->
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1">
        <style>
            #confetti-wrapper {
                position: fixed;
                top: -100px;
                left: 0;
                width: 100%;
                height: calc(100% + 100px);
                overflow: hidden;
                
            }

            @keyframes transformUpDown {
                0% { transform: translateY(0); }
                50% { transform: translateY(-10px); }
                100% { transform: translateY(0); }
            }
    
            .confetti {
                position: absolute;
                width: 8px;
                height: 13px;
                opacity: 0.7;
                animation: explode ease-out, fall linear infinite;
            }

            #intro-text {
                position: relative;
                transition: 1s;
                animation: transformUpDown 5s ease-in-out infinite;
            }

            #action-container {
                transition: 0.75s;
                transform: translateY(100vh);
            }

            #onboarding-logo {
                animation: scalePop 0.75s ease-in-out 1;
                animation-fill-mode: forwards;
            }

            @keyframes explode {
                0% { top: 0%; transform: scale(1); }
                100% { top: 120%; transform: scale(0.5); }
            }
    
            @keyframes fall {
                0% { transform: translateX(0) rotate(0deg); }
                100% { transform: translateX(100px) rotate(720deg); }
            }
            select {
                margin-top: 10px;
            }

            input {
                margin-top: 10px;
            }

            @keyframes colorBlast {
                0% { background-color: #fff; }
                25% { background-color: #ff0; }
                50% { background-color: #0ff; }
                75% { background-color: #0f0; }
                100% { background-color: #fff; }
            }



        </style>
    </head>

    <!--Import cropper js and styling-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
    
    
    <body>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        
    
        <div id="confetti-wrapper" class="yb-bg-adaptive" style="z-index: 1;"></div>

        <script>
            document.addEventListener('DOMContentLoaded', (event) => {
                const confettiCount = 220;
                const colors = ['#f0f', '#ff0', '#0ff', '#0f0', '#00f', '#f00'];
                const confettiWrapper = document.getElementById('confetti-wrapper');
    
                for (let i = 0; i < confettiCount; i++) {
                    let confetti = document.createElement('div');
                    confetti.className = 'confetti';
                    confetti.style.left = `${Math.random() * 100}%`;
                    confetti.style.backgroundColor = colors[Math.floor(Math.random() * colors.length)];
                    confetti.style.opacity = Math.random() + 0.3;
                    confetti.style.animationDuration = `${Math.random() * 8 + 2}s, ${Math.random() * 5 + 5}s`;
                    confetti.style.animationDelay = `0s, ${Math.random() * 2}s`;
    
                    confettiWrapper.appendChild(confetti);
                }
            });
        </script>
        <div id="container-1" class="yb-fillContainer" style="overflow-y: hidden; z-index: 2;">

            <!--Introduction-->
            <div id="onboarding-1" class="align-center yb-fillContainer">
                <div class="yb-relative yb-fillWidth" style="height: 40vh;" id="onboarding-header">
                    <img id="onboarding-logo" class="yb-transform-center all" style="position: absolute; height:15vh;" src="{% static 'images/main/yourbit-logo2023-01.svg' %}">
                </div>
                <h1 class="yb-font-auto yb-margin-T30" id="intro-text" style="opacity: 0;">Welcome to Yourbit, {{ user.first_name }}!</h1>
                <div class="yb-fillWidth" id="action-container">
                    <p class="yb-font-auto yb-margin-T30">Let's get your profile setup with some basics.</p>
                    <button type="button" id="onboarding-1-next" class="yb-button-flex green yb-font-auto rounded" style="width: 120px;" id="onboarding-start">Let's Go!</button>
                </div>

            </div>

            <!--Profile Image Menu-->
            <div id="onboarding-2" hidden>
                    
                <form id="bio-form" class="align-center" method="POST" action="/profile/info/onboarding/">
                    {% csrf_token %}
                                                         
                    <h3 id="onboarding-heading-1" class="yb-font-auto">Let's start with the profile info...</h3>

                    <div class="yb-input-container">
                        <br>
                        <label class="yb-font-auto" for="gender">What's your gender?</label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 40px !important; width: 90%; max-width: 150px;" name="gender" id="gender">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="prefer not to say">Prefer not to say</option>
                            <option value="check bio">Refer to bio</option>
                        </select>
                    </div>

                    <div class="yb-input-container">
                        <br>
                        <label class="yb-font-auto" for="motto">Motto</label>
                        <br>
                        <input class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" type="text" name="motto" id="motto" placeholder="Motto">
                    </div>

                    <div id="bio-container">
                        <br>
                        <label class="yb-font-auto" for="bio">Bio</label>
                        <br>
                        <textarea id="bio-field" name="bio" class="yb-bg-autoGray squared {% if active_profile.bio %} yb-pText yb-font-auto {% else %} font-gray {% endif %} profile-field" style="width: 98%; height: 100px; max-width: 700px;">{% if active_profile.bio %}{{active_profile.bio}}{% else %} Add bio {% endif %}</textarea>
                    </div>

                    {% comment %} <div id="tag-container">
                        <br>
                        <label class="yb-font-auto" for="tags">Profile Tags</label>
                        <br>
                        <textarea id="tags-field" name="tags" class="yb-bg-autoGray squared {% if request.user.profile.bio %} yb-pText yb-font-auto {% else %} font-gray {% endif %} profile-field" style="width: 98%; height: 100px; max-width: 700px;">{% if request.user.profile.bio %}{{request.user.profile.bio}}{% else %} Add bio {% endif %}</textarea>
                    </div> {% endcomment %}
                    <br>
                    <div id="profile-info-buttons" class="yb-flexRow yb-margin-center all yb-gap10" style="width: 250px;">
                        <button type="button" id="onboarding-2-back" class="yb-button-wide bg-autoGray rounded yb-font-auto yb-relative" style="width: 120px;">Back</button>
                        <button type="button" id="onboarding-2-next" class="yb-button-wide bg-autoGray rounded yb-font-auto yb-relative" style="width: 120px;" hidden>Next</button>
                    </div>
                </form>
            </div>


            <div id="onboarding-3" style="padding-bottom: 50px;" hidden>
                <form class="align-center yb-flexColumn yb-gap10 align-center" method="POST">
                    {% csrf_token %}
                    <h3 class="yb-font-auto">Now, let's setup some privacy settings...</h3>
                    <div class="yb-input-container">
                        
                        <label class="yb-font-auto" for="display_real_name">Who can see your real name?</label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" name="real_name_visibility" id="display_real_name" name="real_name_visibility">
                            <option value="e">Everyone</option>
                            <option value="fo">Friends Only</option>
                            <option value="no">Nobody</option>
                        </select>

                    </div>
                    <br>
                    <div class="yb-input-container" style="display: none;">
                        <label class="yb-font-auto" for="display_name">What would you like us to refer to you as instead?</label>
                        <input class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" type="text" name="display_name" id="display_name" placeholder="Display Name">
                    </div>
                    <br>
                    <div class="yb-input-container align-center">
                        <label class="yb-font-auto" for="comment-privacy">Who can see your comments?</label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" name="comment_vsibility" id="comment-privacy">
                            <option value="e">Everyone</option>
                            <option value="fo">Friends Only</option>
                            <option value="no">Nobody</option>
                        </select>
                    </div>
                    <br>
                    <div class="yb-input-container align-center">
                        <label class="yb-font-auto" for="message-permissions">Who can message you?</label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" name="message_availability" id="message-permissions">
                            <option value="e">Everyone</option>
                            <option value="fo">Friends Only</option>
                            <option value="no">Nobody</option>
                        </select>
                    </div>
                    <br>
                    <!--Allow Followers-->
                    <div class="yb-input-container align-center">
                        <label class="yb-font-auto" for="allow-followers">
                            Do you want to allow followers? 
                            <br>
                            <small><i>Followers do not require 2 way confirmation, and can only see public posts.</i></small>
                        </label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" name="enable_followers" id="allow-followers">
                            <option value="True">Allow Followers</option>
                            <option value="False">Disallow Followers</option>
                        </select>
                    </div>
                    <br>
                    <!--Default Posting Public or Private-->
                    <div class="yb-input-container align-center">
                        <label class="yb-font-auto" for="default-posting">
                            By default, do you want your posts to be public or private?
                            <br>
                            <small><i>Private posts can only be seen by you and your friends.</i></small>
                        </label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" name="default_public" id="default-posting">
                            <option value="True">Public</option>
                            <option value="False">Private</option>
                        </select>
                    </div>
                    <br>
                    <!--Search Visibility-->
                    <div class="yb-input-container" class="yb-input-container align-center">
                        <label class="yb-font-auto" for="search-visibility"><small><i>Last one for this section...</small></i><br>Do you want to be visible in search, or found by link only?</label>
                        <br>
                        <select class="yb-input-singleLine yb-font-autoGray yb-bg-autoGray yb-bText plainBorder narrowBorder squared yb-field-background" style="height: 32px !important; width: 90%; max-width: 700px;" name="searchable" id="search-visibility">
                            <option value="True">Visible</option>
                            <option value="False">Link Only</option>
                        </select>
                    </div>

                    <div id="privacy-buttons" class="yb-flexRow yb-margin-center all yb-gap10">
                        <button type="button" id="onboarding-3-back" class="yb-button-wide bg-autoGray rounded yb-font-auto yb-relative" style="width: 120px;">Back</button>
                        <button type="submit" id="onboarding-3-next" class="yb-button-wide bg-autoGray rounded yb-font-auto yb-relative" style="width: 120px;" hidden>Looks Good!</button>
                    </div>

                </form>
            </div>
            
        </div>

    </body>
    <script src="{% static 'scripts/yb_customize/yb_editImage4.js' %}"></script>
    <script src="{% static 'scripts/yb_systems/yb_sessions1.js' %}"></script>
    <script src="{% static 'scripts/yb_customize/yb_ajax13.js' %}"></script>
    <script src="{% static 'scripts/yb_accounts/onboarding.js' %}"></script>

</html>
