{% load static %}

<html>
    <head>
        <title>Password has been reset!</title>
    </head>

    <body>
        <div>
            <img style="width:50%;" src="{% static 'images/main/yourbit-logo2023-white.svg' %}">
            <h1>Yourbit Password Reset</h1>
            <h3>Your password has been successfully reset!</h3>
            <div id="text-container">
                <p>Your password has been successfully reset. You can now log in with your new password.</p>
                <p>If you did not request a password reset, please contact us immediately at
                    <a href="mailto: support@yourbit.me">support@yourbit.me</a>
                </p>
                <p>Thank you for using Yourbit!</p>
            </div>
        </div>
    </body>
</html>
