{% load i18n %}
{% load static %}

{% blocktrans %}
<!DOCTYPE html>
<html>
    <style>
        body {
            font-family: Arial, sans-serif;
            font-size: 14px;
            color: white;
            text-align: center;
            background-color: rgb(10, 10, 10);

        }
    </style>
    <body style="text-align: center;">

    <img width="30%; max-width: 300px;" src="https://objects-in-yourbit-2.us-ord-1.linodeobjects.com/images/main/yourbit-logo2023-white.svg">
    <br>
    <h3>Hello, from Yourbit!</h3>
    <br>
    You're receiving this email because you requested a password reset for your account at {{ site_name }}.
    <br>
    If you did not request a password reset, please ignore this email.
    <br>
</body>
</html>
{% endblocktrans %}

{% trans "Please go to the following page and choose a new password:" %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
