{% load static %}
        <div id="logo-form">
            <img style="width: 100%;" src="{% static 'images/2023-logo-draft.png' %}">
        </div>

        <form method="POST" id="signup-form">
            {% csrf_token %}
            {% for field in registration_form %}
                <div class="fieldWrapper">
                    {{ field.errors }}
                    {{ field.label_tag }} 
                    <br>
                    {{ field }}
                    {% if field.help_text %}
                        <p class="help">{{ field.help_text|safe }}</p>
                    {% endif %}
                </div>
                <br>
            {% endfor %}
            <input type="hidden" name="next" value="{{ next }}" />
            <div id="button-container">
                <button class="yb-button-wide rounded" id="go-back" style="background-color: darkred; color:white;" type="button">Cancel</button>
                <button class="yb-button-wide rounded" style="background-color: green; color:white;" name="signup" type="submit">Login</button>
            </div>
            <br>
            <a style="font-size: small;">Forgot Password?</a>
            <a style="font-size: small;">Don't have an account? Sign Up</a>
            <p style="font-size: small;"><a href="/accounts/templates/viewer/terms/">Terms of Service</a> | <a href="/accounts/templates/viewer/privacy/">Privacy Policy</a></p>
            <p style="font-size: small;">© 2023 Yourbit, LLC. All rights reserved.</p>
        </form>