{% load static %}
<html>
    <head>
        <title>Terms of Service</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_core5.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_buttons2.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_modifiers2.css'%}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/yb_containers2.css'%}">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/main/favicon.ico'%}">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1">
    </head>

    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
    </script>

    <input type="hidden" id="view-mode" value="{{view_mode}}">
    <body>
        <div class="yb-bg-autoGray" style="position: fixed; z-index: 2; height: 70px; top: 0px; left: 0px; width: 100vw; display: grid; grid-template-columns: 20px auto;">
            <a href="/accounts/authenticate/" class="cb-panel-back" ><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></a>
            <a href="/accounts/authenticate/" class="yb-fillWidth yb-margin-L10 yb-pText yb-font-auto yb-margin-center tb align-left"><h3>Back</h3></a>
            <div class="yb-logo" id="yb-logo-docs" style="position: absolute; top:50%; left: 50%; transform: translate(-50%, -50%); width: 80px;">
                <img src="{% static 'images/main/yourbit-logo2023-01.svg' %}" style="width: 100%; position: relative;" alt="YB Logo" class="yb-logo-small">
            </div>
            
        </div>
        <div class="yb-vScroll font-black align-left squared" id="tos-viewer" style="position: relative; overflow-x: hidden; padding-left: 10px; padding-right: 10px; z-index: 1; margin-top: 80px; left : 50%; transform: translateX(-50%); background-color: white; padding-bottom: 150px;">
            {% include document %}
        </div>
        {% if view_mode == "interactive" %}
            <style>
                .terms-interaction-container {
                    position: fixed;
                    display: grid;
                    bottom: 20px;
                    z-index: 100;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-color: black;
                    width: 300px;
                    /* height: 50px; */
                    grid-template-columns: 1fr 1fr;
                    padding: 5px;
                    grid-gap: 10px;
                }

                .terms-button {
                    margin: auto;
                    width: 100%;
                }
            </style>
            <div id="terms-interaction-container" class="terms-interaction-container rounded">
                {% csrf_token %}

                <!--Accept and decline buttons-->
                <button type="button" class="yb-button-flex terms-button rounded yb-red font-white" name="decline-{{document_name}}">Decline</button>
                <button type="button" class="yb-button-flex terms-button rounded green font-white" name="accept-{{document_name}}">Accept</button>
            </div>
            <script>
                var button_container = document.getElementById("terms-interaction-container");
                var buttons = button_container.getElementsByClassName("terms-button");

                for (var i = 0; i < buttons.length; i++) {
                    buttons[i].addEventListener("click", function() {
                        var action = this.name;
                        var url = "/accounts/templates/" + action + "/";
                        var csrf_token = document.getElementsByName("csrfmiddlewaretoken")[0].value;

                        $.ajax({
                            type: "POST",
                            url: url,
                            data: {
                                action: action
                            },
                            headers: {
                                "X-CSRFToken": csrf_token
                            },
                            success: function(data) {
                                if (action.includes("accept")) {
                                    if (action.includes("terms")) {
                                        window.location.href = "/accounts/templates/interact-privacy/";
                                    }
                                    else {
                                        window.location.href = "/accounts/email-confirmation/";
                                    }
                                    
                                }
                                else {
                                    window.location.href = "/login/";
                                }

                                console.log(data);
                            }
                        });
                });
                }
                
                
            </script>
        
        {% endif %}
    </body>


</html>