
{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div id='content-container' style='padding-top: 70px;'>
    <div id='community-list-header' style='text-align:center; color: white;'>
        <h3>Communities</h3>
        <p>Connect with your favorite organizations or like minded groups</p>
        <input type = 'text' id='mobile-searchbar-messages' class='single-line-input' placeholder='Search Communities' >
            <div class='filter-options' style='
            display: grid; 
            grid-template-columns: auto auto auto; 
            column-gap: 4px; 
            position: relative;
            z-index: 3; 
            top: 20px; 
            margin-bottom: 10px; 
            margin-left: auto;
            margin-right: auto;
            width: 95vw; 
            border-radius: 28px;
            height: 35px; 
            backdrop-filter: blur(40px);
            -webkit-backdrop-filter: blur(40px);
            overflow: hidden;
            '>
            <button class='filter-button-active' style='width: 120px;'>My Communities</button>
            <button class='filter-button'>Following</button>
            <button class='filter-button'>Visited</button>

        </div>
        <br>
        
        <div style='position:relative; height: 300px; width: 100vw; margin: auto;'>
            <h3 style='margin-top: 150px;'>You have not created any communities</h3>
            <br>
            <br>
            <button>Create One</button>
        <div>
    </div>
    
</div>
{% endblock %}