{% load static %}
<div id='div-header' style='position: relative; display: grid; grid-template-columns: 5fr 1fr; margin-left: auto; margin-right: auto; width: 100%; height: 40px;' >
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('notifications')"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-flexColumn" id="messages-info">
    <svg class="yb-autoFill yb-margin-center lr"  xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M160-120q-33 0-56.5-23.5T80-200v-560q0-33 23.5-56.5T160-840h560q33 0 56.5 23.5T800-760v80h80v80h-80v80h80v80h-80v80h80v80h-80v80q0 33-23.5 56.5T720-120H160Zm0-80h560v-560H160v560Zm80-80h200v-160H240v160Zm240-280h160v-120H480v120Zm-240 80h200v-200H240v200Zm240 200h160v-240H480v240ZM160-760v560-560Z"/></svg>
    <b class="align-center yb-pHead" style="font-size: 18px; letter-spacing: 2px;">ADMINISTRATION</b>
    <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-font-auto yb-pText">Catch up on the latest updates</p>    

</div>

<hr>

<div id="admin-button-container" class="yb-fullWidth yb-flexRow yb-gap5 yb-margin-L5 yb-margin-R5" style="position: relative;">
    <button class="admin-filter-button yb-button-wide tiny-wide yb-font-auto yb-margin-center lr rounded active" data-admin-class = "0">Overview</button>
    <button class="admin-filter-button yb-button-wide tiny-wide yb-font-auto yb-margin-center lr rounded" data-admin-class = "1">Announcements</button>
    <button class="admin-filter-button yb-button-wide tiny-wide yb-font-auto yb-margin-center lr rounded" data-admin-class = "2">Support</button>
    <button class="admin-filter-button yb-button-wide tiny-wide yb-font-auto yb-margin-center lr rounded" data-admin-class = "3">Debug</button>
</div>

<hr>

<div id="admin-list" class="yb-fillWidth yb-vScroll yb-margin-T10" style="height: calc(100% - 260px); border-radius: 15px;">
    {% include 'yb_admin/admin_overview.html' %}
</div>
