#body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(25, 25, 25);
    color: rgb(135, 135, 135);
    transition: 1s;
}

#settingsGrid {
    display: grid;
    grid-template-columns: 20vw 20vw 20vw 20vw;
    grid-template-rows: 75vh;
    grid-gap: 40px;
    
}

#profile-personalization {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(114, 114, 114);
    height: auto;
    width: 100%;
    border-radius: 50px;
    padding: 4%;
    grid-column: 1;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#postPersonalization {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(114, 114, 114);
    height: auto;
    width: 100%;
    border-radius: 50px;
    padding: 4%;
    grid-column: 2;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#backgroundData {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100px;
    display: none;
}

#ppGrid {
    text-align: center;
}

#primaryColor {
    margin-right: auto;
    margin-left: auto;
}

#previewSquare {
    background-color: rgb(185, 185, 185);
    height: 70px;
    width: 250px;
    border-radius: 20px;
    padding: 2%;
    padding-top: 5%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: 500;
    transition: 0.75s;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#postText {
    opacity: 1.0;
}

/*Color select grid layout*/

#color-select-container {
    display: grid;
    width: 200px;
    justify-content: center;
    grid-template-columns: 35px 35px 35px 35px;
    grid-template-rows: 35px 35px 35px 35px;
    margin-left: auto;
    margin-right: auto;
}

/*Primary Color*/

.color-options {
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 1em;
}

.color-options:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 3px;
    
    
}

/*Primary Color option buttons*/

#option1 {
    background-color: rgb(88, 0, 206);
    grid-row: 1;
    grid-column: 1;
}

#option2 {
    background-color: rgb(16, 175, 0);
    grid-row: 1;
    grid-column: 2;
}



#option3 {
    background-color: rgb(225, 111, 0);
    grid-row: 1;
    grid-column: 3;
}

#option4 {

    background-color: rgb(229, 9, 9);
    grid-row: 1;
    grid-column: 4;

}

#option5 {
    background-color: rgb(0, 92, 206);
    grid-row: 2;
    grid-column: 1;
}

#option6 {
    background-color: rgb(129, 220, 0);
    grid-row: 2;
    grid-column: 2;

}

#option7 {
    background-color: rgb(247, 192, 0);
    grid-row: 2;
    grid-column: 3;

}

#option8 {
    background-color: rgb(226, 0, 122);
    grid-row: 2;
    grid-column: 4;

}

#option9 {
    background-color: rgb(0, 162, 255);
    grid-row: 3;
    grid-column: 1;

}

#option10 {
    background-color: rgb(108, 108, 108);
    grid-row: 3;
    grid-column: 2;

}

#option11 {
    background-color: rgb(133, 133, 133);
    grid-row: 3;
    grid-column: 3;

}

#option12 {
    background-color: rgb(185, 185, 185);
    grid-row: 3;
    grid-column: 4;


}

/*Text Color*/

.text-color-options {
    height: 30px;
    width: 30px;
    margin: auto;
    border-radius: 1em;
}

.text-color-options:hover {
    cursor: pointer;
    border-style: solid;
    border-width: 3px !important; 
    
    
}

/*Text color option buttons*/

#textOption1 {
    background-color: rgb(88, 0, 206);
    grid-row: 1;
    grid-column: 1;
}

#textOption2 {
    background-color: rgb(16, 175, 0);
    grid-row: 1;
    grid-column: 2;
}



#textOption3 {
    background-color: rgb(225, 111, 0);
    grid-row: 1;
    grid-column: 3;
}

#textOption4 {

    background-color: rgb(229, 9, 9);
    grid-row: 1;
    grid-column: 4;

}

#textOption5 {
    background-color: rgb(0, 92, 206);
    grid-row: 2;
    grid-column: 1;
}

#textOption6 {
    background-color: rgb(129, 220, 0);
    grid-row: 2;
    grid-column: 2;

}

#textOption7 {
    background-color: rgb(247, 192, 0);
    grid-row: 2;
    grid-column: 3;

}

#textOption8 {
    background-color: rgb(226, 0, 122);
    grid-row: 2;
    grid-column: 4;

}

#textOption9 {
    background-color: rgb(0, 145, 205);
    grid-row: 3;
    grid-column: 1;

}

#textOption10 {
    background-color: rgb(0, 0, 0);
    grid-row: 3;
    grid-column: 2;


}

#textOption11 {
    background-color: rgb(108, 108, 108);
    grid-row: 3;
    grid-column: 3;

}

#textOption12 {
    background-color: rgb(133, 133, 133);
    grid-row: 3;
    grid-column: 4;

}

#textOption13 {
    background-color: rgb(185, 185, 185);
    grid-row: 4;
    grid-column: 1;


}

#textOption14 {
    background-color: rgb(255, 255, 255);
    grid-row: 4;
    grid-column: 2;
    border-width: 1px;
    border-style: solid;
    border-radius: 1em;


}

#background {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(114, 114, 114);
    height: 100%;
    width: 100%;
    border-radius: 50px;
    padding: 4%;
    grid-column: 3;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#backgroundGrid {
    text-align: center;
}

#wallpaperPreview {
    height: 144px;
    width: 256px;
    background-color: rgb(185, 185, 185);
    color: rgb(108, 108, 108);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

#previewLabel {
    padding-top: 25%;
    font-size: large;
}

#quickSettings {
    display: block;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(114, 114, 114);
    height: 50px;
    margin-bottom: 10px;
    padding-top: 1%;
    padding-left: 10px;
    border-radius: 20px;

}




/* The switch - the box around the slider */
.switch {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    width: 42px;
    height: 27px;
  }
  
  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
  /* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6f00b9;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3.5px;
    background-color: rgb(200, 200, 200);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: rgb(1, 179, 16);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
}
  
  /* Rounded sliders */
.slider.round {
    border-radius: 27px;
}
  
.slider.round:before {
    border-radius: 50%;
}