<div class="tutorial-overlay" id="profile-custom-tutorial">
    <div id="new-image-instructions">
        <p class="instruction-text-container">To upload a new profile image click on this button</p>
        <div class="instruction-icon-container">
        </div>
    </div>
    <div id="color-overlay-instructions">
        <p class="instruction-text-container">Change the color tone of the image to match your style</p>
        <div class="instruction-icon-container">
        </div>
    </div>
    <div id="transparency-instructions">
        <p class="instruction-text-container">This set of options lets you toggle on transparency and choose your background color</p>
        <div class="instruction-icon-container">
        </div>
    </div>
    <div id="border-color-instructions">
        <p class="instruction-text-container">Here, you can toggle on border and choose a color</p>
        <div class="instruction-icon-container">
        </div>
    </div>
    <div id="save-button-instructions">
        <p class="instruction-text-container">When you are finished editing, you can click the save button here.</p>
        <div class="instruction-icon-container">
        </div>
    </div>
</div>