{% load static %}
<style>
    /* Style for the image grid container */
    .image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    }

    /* Style for each image grid item */
    .image-grid-item {
    width: 24.5vw; /* Adjust the width according to your design */
    height: 24.5vw; /* Adjust the height according to your design */
    overflow: hidden;
    position: relative;
    }

    /* Style for the image within each grid item */
    .image-grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and cover the whole area */
    }

    /* Optional: Hover effect for the image grid item */
    .image-grid-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }

</style>
<h2 style="color: white; text-align: center;">Select from Uploads</h2>
<div class="image-grid">
    {% for image in request.user.photo.all %}
    <div class="image-grid-item" data-id="{{image.id}}">
        <img src="{{ image.image.url }}" alt="{{ image.title }}" />
    </div>
    {% endfor %}
</div>

<script>
    function previewImage(source){
        let viewer = yb_createElement('div', 'photo-viewer', 'photo-viewer');
        viewer.setAttribute("style", "display: none");
        let viewing_image = yb_renderImage(source, "full-screen-image", "full-screen-image");
        viewer.appendChild(viewing_image);
        document.body.appendChild(viewer);
    
        $('.photo-viewer').fadeIn(200);
        $('.photo-viewer').animate({"top": "0px"}, 200);
    
        let select_button = yb_createButton("select_button", "select-button", "select-button", "Select");
        viewer.appendChild(select_button);

        select_button.addEventListener("click", function() {
            $('.photo-viewer').animate({"top": "100vh"}, 200);
            $('.photo-viewer').fadeOut(200);
            $('.photo-viewer').remove();
            yb_stageFile("image", source);
            yb_navigateTo("avatar-crop");
            
        });
        
        let close_button = yb_createButton("cancel_button", "close-button", "close-button", "Cancel");
        viewer.appendChild(close_button);

        close_button.addEventListener("click", function(){
            $('.photo-viewer').animate({"top": "100vh"}, 200);
            $('.photo-viewer').fadeOut(200);
            $('.photo-viewer').remove();
        });

        viewer.addEventListener("touchstart", function(event) {
            var initialY = event.touches[0].clientY;
    
            // Add an event listener for touchend event
            viewer.addEventListener("touchend", function(event) {
                var finalY = event.changedTouches[0].clientY;
                var deltaY = finalY - initialY;
        
                // Check if the user has swiped down
                if (deltaY > 0) {
                    // Perform actions to exit fullscreen
                    // Add your code here to handle fullscreen exit
                    console.log("Swiped down to exit fullscreen!");
                    $('.photo-viewer').animate({"top": "100vh"}, 200);
                    $('.photo-viewer').fadeOut(200);
                    $('.photo-viewer').remove();
                }
            });
        });

    }

    $(document).ready(function(){
        $('.image-grid-item').click(function(){
            let image_id = $(this).attr('data-id');
            let image_url = $(this).children('img').attr('src');
            previewImage(image_url);
        });
    });
</script>