body {
    overflow: hidden;
    background-color: rgb(25,25,25);

}

#page-container {
    display: block;
    position: absolute;
    width:100vw;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    left: 0px;
    bottom: 0px;
}

@media only screen and (prefers-color-scheme: dark){
    #message-field::placeholder {
        color: rgb(25,25,25);
        font-family: Arial, Helvetica, sans-serif;
    }
}


@media only screen and (prefers-color-scheme: light){
    #message-field::placeholder {
        color: rgb(75,75,75);
        font-family: Arial, Helvetica, sans-serif;
    }
}

#message-input {
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: grid;
    grid-template-rows: auto 45px;
    grid-template-columns: 40px calc(100% - 106px) 55px;
    z-index: 101;
    padding-top: 5px;
    transition: 0.5s;
    padding-top: 5px;
    grid-gap: 3px;
    padding-left: 3px;
    padding-right: 3px;
    
}

@media (prefers-color-scheme: dark) {
    #message-input {
        background-color: black;
        border-top: 2px solid rgba(55, 55, 55);
    }

    #message-field {
        background-color: rgba(55, 55, 55);
    }

    #send-button {
        background-color: rgb(75, 75, 75);
    }

    #add-attachment {
        background-color: rgb(75, 75, 75);
    }
}


@media (prefers-color-scheme: light) {
    #message-input {
        background-color: white;
        border-top: 2px solid lightgray;
    }

    #message-field {
        background-color: lightgray;
    }

    #send-button {
        background-color: lightgray;
    }

    #add-attachment {
        background-color: lightgray;
    }
}

@media only screen and (max-width: 768px){
    #message-input{
        bottom: 0vh;
        width: 100vw;
        padding-bottom: 30px;
    }
}

@media only screen and (min-width: 768px){
    #message-input{
        bottom: 0px;
        width: 100%;
        padding-bottom: 5px;
    }
}

#message-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;       
    flex-direction: column-reverse;
    overflow-y: scroll;
    overflow-x: hidden;
    top: 70px;
    transition: 0.5s;
    
}

@media only screen and (max-width: 768px) {
    #message-container {
        padding-bottom: 75px;
    }
}

@media only screen and (min-width: 768px) {
    #message-container {
        padding-bottom: 75px;
    }
}

#message-field {
    width: 95%;
    border-width: 0px;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
    margin-top: 0px;
}

#send-button {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    border-width: 0px;
    color: white;
    margin-right: 2px;
    transition: 0.25s;
    font-weight: 550;
}

#send-button.enabled {
    background-color: green !important;
}

.yb-2Way-content {
    overflow: hidden;
}

#message-header {
    position: absolute;
    top: 0vh;
    left: 0;
    z-index:  2;
    height: 70px;
    width: 100%;
    transition: 0.5s;
}

#yb-list-item {
    width: 80%;
    background-color: rgb(75, 75, 75);

}

.message-box{
    width: 100vw;
    position: relative;
    display: block;
    left: 0px;
}

.message-bubble {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 20px;
    min-width: 50px;
    max-width: 70%;
    padding: 10px 10px 10px 10px;
    color: white;
  }
  
  .message-bubble-right {
    background-color: rgb(75, 75, 75);
    margin-right: 5px;
    margin-left: auto;
    color: white;
    border-radius: 20px;

  }

  #add-attachment {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-width: 0px;
    color: white;
    margin: auto;
  }

  #attachment-icon {
    transition: 0.5s;
  }
  
  .message-bubble-left {
    background-color: #007bff;
    margin-right: auto;
    margin-left: 5px;

    color: white;
    border-radius: 20px;

  }

.message-body {
    position: relative;
    display: inline-block;
    width: 100%;
    font-size: 14px;
    word-wrap: break-word; /* Allow long words to break and wrap */

}

.message-time {
    position: relative;
    display: inline-block;
    top: -32px;
    text-align: center;
    font-size: 12px;
    width: 100%;
    color: gray;
    display: none;
}

#attachment-preview-container {
    position: relative;
    
    grid-column-start: 1;
    grid-column-end: 4;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: row;
    width: 100%;

}
.message-photo {
    max-height: 200px;
    max-width: 100%;
    border-radius: 10px;
}

#attachment-preview {
    height: 100px;
    display: block;
    margin-right: 10px;
    border-radius: 10px;
}