{% if connections %}
    {% for connection in connections %}
    <div id="result-people-{{connection.id}}" class="yb-listItem yb-font-auto " data-catid="{{connection.id}}" data-username="{{connection.username}}">

        <div class="full-result-image-container orbit-sub-item" data-username="{{connection.username}}">
                <img class="full-result-image" style="width:100%; position: relative;" src="{{connection.custom.profile_image.medium_thumbnail.url}}">
        </div>
        <div class="full-result-name-container orbit-sub-item" data-username="{{connection.username}}">
            <p class="full-result-name"><strong>{{connection.display_name}}</strong></p>
            <p class="full-result-username">
                <small>@{{connection.username}}</small>
            </p>
        </div>
    </div>
    {% endfor %}
    <script>
        $(document).ready(function(){
            var orbit_list_items = document.getElementsByClassName("yb-listItem");
            
                for (var i = 0; i < orbit_list_items.length; i++){
                    console.log("Added event listener");
                    orbit_list_items[i].addEventListener("click", yb_navigateToProfile);
                    
                } 
        });
    </script>
{% else %}
<div class="yb-fillWidth yb-margin-center yb-margin-T30 yb-margin-B10">
    <h3 class="yb-font-auto align-center yb-margin-T10">No connections found</h3>
</div>
<br>
<button id="find-connections-orbits" class="yb-button-flex yb-font-auto yb-button-halfWidth">+  Find Orbits</button>
<script>

    document.getElementById("find-connections-orbits").addEventListener("click", function(){
        yb_toggle2WayContainer('orbits');
        SEARCH_FIELD.focus();
        yb_openSpotlight("orbits");
        setTimeout(function(){
            SEARCH_CONTAINER.classList.add("yb-pulseSmall");
        }, 400);
        
        setTimeout(function(){
            SEARCH_CONTAINER.classList.remove("yb-pulseSmall");
        }, 1000);
    });
</script>
{% endif %}
