{% if connections %}
{% for connection in connections %}
    <div id="result-people-{{connection.id}}" class="yb-listItem yb-font-auto yb-bg-autoGray  people-item" data-catid="{{connection.id}}" data-username="{{connection.username}}">

        <div class="full-result-image-container people-sub-item" data-username="{{connection.username}}">
                <img class="full-result-image" style="width:100%; position: relative;" src="{{connection.custom.profile_image.small_thumbnail_ext}}">
        </div>
        <div class="full-result-name-container people-sub-item" data-username="{{connection.username}}">
            <p class="full-result-name yb-listItem-head"><strong>{{connection.display_name}}</strong></p>
            <p class="full-result-username yb-listItem-body">
                <small>@{{connection.user.username}}</small>
            </p>
        </div>
            
        
        <div id="disconnect-button-{{connection.id}}">
            <button class="yb-button-close notification" onclick="yb_confirmDisconnect({{connection.id}}, '{{connection.display_name}}')">&times;</button>
        </div>
    </div>

{% endfor %}
    <script>
        $(document).ready(function(){
            var people_list_items = document.getElementsByClassName("people-sub-item");
            
                for (var i = 0; i < people_list_items.length; i++){
                    console.log("Added event listener");
                    people_list_items[i].addEventListener("click", yb_navigateToProfile);
                    
                }

            
        });


    </script>
{% else %}
    <div class="yb-fillWidth yb-margin-center yb-margin-T30 yb-margin-B10">
        <h3 class="yb-font-auto align-center yb-margin-T10">No connections found</h3>
    </div>
    <br>
    <button id="find-connections-people" class="yb-button-flex bg-gray-dark font-gray yb-button-halfWidth">+  Find People</button>
    <script>

        document.getElementById("find-connections-people").addEventListener("click", function(){
            yb_toggle2WayContainer('people');
            SEARCH_FIELD.focus();
            yb_openSpotlight("people");
            setTimeout(function(){
                SEARCH_CONTAINER.classList.add("yb-pulseSmall");
            }, 400);
            
            setTimeout(function(){
                SEARCH_CONTAINER.classList.remove("yb-pulseSmall");
            }, 1000);
            
        });
    </script>
{% endif %}