{% load static %}
{% if connections %}
    {% for contact in results %}
        <div id="user-{{contact.username}}" class="
            yb-listItem user
            yb-font-auto
            yb-bg-autoGray
        "> 
            <div class="full-result-image-container yb-margin-center all">
                <img class="full-result-image" style="width:100%; position: relative;" src="{{contact.custom.profile_image.medium_thumbnail_ext}}">
            </div>

            <div class="full-result-name-container">
                <p class="full-result-name yb-listItem-head"><strong>{{contact.display_name}}</strong></p>
                <p class="full-result-username yb-listItem-body">
                    <small>@{{contact.user.username}}</small>
                </p>
            </div>

            <div id="user-action" class="yb-fillWidth">
                <button id="add-contact-button-{{contact.id}}" type="button" onclick="yb_conversationAddContact(event);" class="yb-button small border-none circle yb-transform-center tb" style="height: 35px; width: 35px; transition: 0.5s; background-color: black;" data-catid="{{contact.id}}" data-username="{{contact.username}}">
                    <svg id = "add-contact-icon-{{contact.id}}" style="transition: 0.25s; fill:white;" class="yb-transform-center all" xmlns="http://www.w3.org/2000/svg" height="20" viewBox="0 -960 960 960" width="20">
                        <path class="yb-path" d="M434.5-434.5H191.869v-91H434.5v-242.631h91V-525.5h242.631v91H525.5v242.631h-91V-434.5Z"/>
                    </svg>
                </button>
            </div>


        </div>
    {% endfor %}
{% else %}

<div class="yb-fillWidth">
    <div class="yb-fillWidth">
        <div class="yb-font-auto">
            <br>
            <p class="align-center yb-margin-T10 yb-pHead yb-font-auto">No contacts yet</p>
            <br>
            <button id="find-connections-messages" class="yb-button-flex bg-gray-dark squared font-gray yb-button-halfWidth">+  Find People</button>
            <script>

                document.getElementById("find-connections-messages").addEventListener("click", function(){
                    yb_toggle2WayContainer('messages-new');
                    SEARCH_FIELD.focus();
                    yb_openSpotlight();
                    setTimeout(function(){
                        SEARCH_CONTAINER.classList.add("yb-pulseSmall");
                    }, 400);
                    
                    setTimeout(function(){
                        SEARCH_CONTAINER.classList.remove("yb-pulseSmall");
                    }, 1000);
                });

            </script>
        </div>
    </div>
</div>
{% endif %}
<script>
    $(document).ready(function(){
        console.log("Contact List: " + selected_contact_list);
        for (var i = 0; i < selected_contact_list.length; i++) {
            let this_id = selected_contact_list[i];
            let this_element = document.querySelector(`#add-contact-button-${this_id}`);
            this_element.style.backgroundColor = "#A8071A";
            this_element.classList.add("selected");
            let this_icon = this_element.querySelector('[id^="add-contact-icon"]');
            this_icon.style.transform = "translate(-50%, -50%) rotate(-405deg)";
        }
    });
</script>