{% load static %}
{% if is_bits %}
{% for bit in bits %}
    <div id="result-bits-{{bit.id}}" class="yb-listItem yb-font-auto bit-item" data-catid="{{bit.id}}" data-username="{{bit.title}}">

        <div class="full-result-image-container" onclick="yb_viewBit({{bit.id}})">
            {% if bit.type == "photo"%}
                <img style="width: 100%;" src="{{bit.photos.first.medium_thumbnail.url}}" class="full-result-image" alt="{{bit.title}}">
            {% else %}
                <img style="width: 100%;" src="{{bit.profile.custom.profile_image.medium_thumbnail.url}}" class="full-result-image" alt="{{bit.title}}">
            {% endif %}
        </div>
        <div class="full-result-name-container" onclick="yb_viewBit({{bit.id}})">
            {% if bit.title != "" %}
                <p class="full-result-name yb-listItem-head"><strong>{{bit.title}}</strong></p>
            {% elif bit.body != "" %}
                <p class="full-result-name yb-listItem-body">
                    <small>{{bit.body|slice:":150"}}</small>
                </p>
            {% else %}
                <p class="full-result-name yb-listItem-head"><strong>Untitled Bit by {{bit.display_name}}</strong></p>
            {% endif %}


            <p class="full-result-username yb-listItem-body">
                Posted by: {{bit.user.username}} on {{bit.time|date:"F j, Y"}}
            </p>
        </div>
        {% if bit_page == "stuff" %}
            
            <div id="item-delete-{{cluster.id}}">
                <button class="yb-button-close notification" onclick="yb_removeFromCluster({{cluster.id}}, {{bit.id}})">&times;</button>
            </div>
        {% endif %}
    </div>
{% endfor %}
{% else %}
<div class="yb-fillWidth yb-margin-center yb-margin-T30 yb-margin-B10">
    <h3 class="yb-font-auto align-center yb-margin-T10">No Bits found</h3>
</div>
<br>


{% endif %}