{% for comment in comments %}
    {% if comment.profile == user_profile %}
        <div id="comment-shell-{{comment.id}}" class="yb-comment-shell">
            <div id="{{comment.id}}" class="yb-comment-item right font-medium" data-catid="{{comment.id}}" style="background-color: #0c2d3bd6">
                <div id="delete-comment-{{comment.id}}" class="yb-delete-comment pointer-object circle border-none" data-catid="{{comment.id}}" data-bitid="{{comment.bit.id}}">
                    <svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path>
                    </svg>
                </div>
                <p id="comment-name-{{comment.id}}" class="comment-name">{{comment.profile.display_name}}</p>
                <p id="comment-body-{{comment.id}}" class="comment-body">{{comment.body}}</p>
                <p id="comment-time-{{comment.id}}" class="comment-time">
                    <small class="font-small" style="color:gray;">{{comment.time}}</small>
                </p>
            </div>
        </div>
    {% else %}
    <div id="comment-{{comment.id}}" class="yb-comment-item left font-medium" data-cat-id="{{comment.id}}" style="background-color: #0c2d3bd6">
        <p id="comment-name-{{comment.id}}" class="comment-name">{{comment.profile.display_name}}</p>
        <p id="comment-body-{{comment.id}}" class="comment-body">{{comment.body}}</p>
        <p id="comment-time-{{comment.id}}" class="comment-time">
            <small>{{comment.time}}</small>
        </p>
    </div>
    {% endif %}
{% endfor %}