{% load static %}

<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_2WayPage(1)"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('create-cluster')"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>


<?xml version="1.0" encoding="iso-8859-1"?>
<!-- Generator: Adobe Illustrator 19.0.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->


<div class="yb-flexColumn" id="messages-info">
    <svg class="yb-autoFill yb-center-margin lr" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" height= "48px"; width= "48px";
	 viewBox="0 0 55 55" style="enable-background:new 0 0 55 55;" xml:space="preserve" fill="var(--yb-title-color)">
<path d="M49,0c-3.309,0-6,2.691-6,6c0,1.035,0.263,2.009,0.726,2.86l-9.829,9.829C32.542,17.634,30.846,17,29,17
	s-3.542,0.634-4.898,1.688l-7.669-7.669C16.785,10.424,17,9.74,17,9c0-2.206-1.794-4-4-4S9,6.794,9,9s1.794,4,4,4
	c0.74,0,1.424-0.215,2.019-0.567l7.669,7.669C21.634,21.458,21,23.154,21,25s0.634,3.542,1.688,4.897L10.024,42.562
	C8.958,41.595,7.549,41,6,41c-3.309,0-6,2.691-6,6s2.691,6,6,6s6-2.691,6-6c0-1.035-0.263-2.009-0.726-2.86l12.829-12.829
	c1.106,0.86,2.44,1.436,3.898,1.619v10.16c-2.833,0.478-5,2.942-5,5.91c0,3.309,2.691,6,6,6s6-2.691,6-6c0-2.967-2.167-5.431-5-5.91
	v-10.16c1.458-0.183,2.792-0.759,3.898-1.619l7.669,7.669C41.215,39.576,41,40.26,41,41c0,2.206,1.794,4,4,4s4-1.794,4-4
	s-1.794-4-4-4c-0.74,0-1.424,0.215-2.019,0.567l-7.669-7.669C36.366,28.542,37,26.846,37,25s-0.634-3.542-1.688-4.897l9.665-9.665
	C46.042,11.405,47.451,12,49,12c3.309,0,6-2.691,6-6S52.309,0,49,0z M11,9c0-1.103,0.897-2,2-2s2,0.897,2,2s-0.897,2-2,2
	S11,10.103,11,9z M6,51c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S8.206,51,6,51z M33,49c0,2.206-1.794,4-4,4s-4-1.794-4-4
	s1.794-4,4-4S33,46.794,33,49z M29,31c-3.309,0-6-2.691-6-6s2.691-6,6-6s6,2.691,6,6S32.309,31,29,31z M47,41c0,1.103-0.897,2-2,2
	s-2-0.897-2-2s0.897-2,2-2S47,39.897,47,41z M49,10c-2.206,0-4-1.794-4-4s1.794-4,4-4s4,1.794,4,4S51.206,10,49,10z"/>
<g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
</svg>
<br>
    <b class="align-center yb-pHead" style="font-size: 18px; letter-spacing: 2px;">Create Cluster</b>
    <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-autoText yb-pText">A cluster is a collection of bits you've saved on Yourbit</p>

</div>


<div id="cluster-form-container" class="yb-fillWidth yb-vScroll yb-margin-T10" style="height: calc(100% - 70px); border-radius: 15px;">
    <form id="create-cluster-form" class="yb-fillWidth align-center" style="font-weight: 600;" method="POST" action="/core/create/cluster/">
        {% csrf_token %}
        <div id = "field-container-cluster-name" class="yb-field-container">
            <div id="display-first-name" class="yb-field-split top squared yb-bg-autoGray yb-autoText yb-pText yb-margin-T10">
                <p class="field-cover-label align-left" style="grid-column: 1;">Cluster Name: </p>
                <input name="name" id='cc-field-name' value="{{user.first_name}}" class="yb-input-transparent yb-form-field right yb-autoText yb-pText account-field" style="grid-column: 2;">
            </div>
            
        
        </div>
        <div id="yb-field-container-clusterType" class="yb-field-containter">
            <div id = "field-container-clusterType" class="yb-field-container">
                <div id="cluster-type" class="yb-field-split bottom yb-autoText yb-bg-autoGray yb-pText" style="position: relative;">
                    <p class="field-cover-label align-left yb-pText" style="grid-column: 1;">Specify Bit Type: </p>
                    <select type="text" class="yb-input-transparent right yb-autoText yb-pText privacy-field" name="type" id="cc-field-type" style="grid-column: 2;">
                        <option value="any">Any</option>
                        <option value="chat">ChatBits</option>
                        <option value="photo">PhotoBits</option>
                        <option value="video">VideoBits</option>
                    </select>
                
                </div>
        </div>
        <br>
        <br>
        <button type="submit" style="width: 100px;" class="yb-button-flex green rounded font-white yb-center-margin lr">Create</button>

    </form>

</div>

<script>
    $(document).ready(function(){
        $('#create-cluster-form').submit(function(e){
            console.log('submitting');
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var data = form.serialize();
            $.post(url, data, function(response){
                if(response.status == 'success'){
                    yb_navigateTo('2way', 'stuff');

                }
            });
        });

        tw_hideLoading();
    });

</script>

