{% load static %}

<div id='div-header' class="div-header">
    <div class="cb-panel-back"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb">Create Cluster</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('create');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>
<hr>

<div id="connection-list" class="yb-fillWidth yb-vScroll yb-margin-T10" style="height: calc(100% - 70px); border-radius: 15px;">
    <form id="create-cluster-form" class="yb-fillWidth align-center" style="font-weight: 600;" method="POST">
        {% csrf_token %}
        <br>
        <label for="name" class="yb-autoText font-medium align-center">Cluster Name</label>
        <br>
        <br>
        <input id="cc-name-field" name="name" class="yb-input-singleLine yb-autoText yb-panel plainBorder narrowBorder squared" placeholder="Untitled Cluster" style="height: 40px !important;">
        <br>
        <br>
        <br>
        <label for = "type" id="cc-type-label" class="yb-autoText font-medium align-center">Type</label>
        <br>
        <br>
        <select id="cc-type-field" name="type" class="yb-input-singleLine yb-autoText plainBorder yb-panel narrowBorder squared" style="height: 40px !important;">
            <option value="any">Any</option>
            <option value="chat">ChatBits</option>
            <option value="photo">PhotoBits</option>
            <option value="video">VideoBits</option>
        </select>
        <br>
        <br>
        <button type="submit" class="yb-button-flex green font-white yb-center-margin lr">Create</button>

    </form>

</div>

<script>
    $(document).ready(function(){
        $('#create-cluster-form').submit(function(e){
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var data = form.serialize();
            $.post(url, data, function(response){
                if(response.status == 'success'){
                    yb_toggle2WayContainer('create');
                    yb_openCard('/profile/templates/cluster/'+response.cluster_id+'/');
                }
            });
        });
    });

