{% load static %}

{% if custom_core.bit_colors_on %}
    {% if custom_core.only_my_colors == False %}
        <style>
            :root {
        
                {% comment %}
                    The styles below refer to the current bits custom color settings for use in the associated css files
                {% endcomment %}
                --yb-bit-primary-color: {{bit.custom.primary_color}};
                --yb-bit-secondary-color: {{bit.custom.accent_color}};
                --yb-bit-text-color: {{bit.custom.text_color}};
                --yb-bit-title-color: {{bit.custom.title_color}};
                --yb-fb-icon-color: {{bit.custom.icon_color}};
                --yb-fb-background-color: {{bit.custom.button_color}};
            }
        </style>
    {% endif %}

    <link rel="stylesheet" href="{% static 'css/yb_bits/yb_bits_customized8.css' %}">

{% else %}
    <link rel="stylesheet" href="{% static 'css/yb_bits/yb_bits7.css' %}">
{% endif %}

<div id='div-header' style='position: relative; display: grid; grid-template-columns: 1fr 40px; margin-left: auto; margin-right: auto; width: 100%; height: 40px;' >
    
    <div id='div-header' class="div-header">
        <div class="cb-panel-back" onclick="yb_navigateTo('content-container', 'home');"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
        <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-pHead yb-center-margin tb" onclick="yb_navigateTo('content-container', 'home');">Back</h3>
      </div>

</div>

    
<script class="page-script" type="text/javascript" src="{% static 'scripts/yb_bits/yb_ajax4.js' %}"></script>
<script class="page-script" type="text/javascript" src="{% static 'scripts/yb_bits/yb_handlers1.js' %}"></script>


{% if bit.type == "video" %}
    {% include 'yb_video/player_view.html' %}

{% else %}
    {% include 'yb_bits/bit_focus/general_focus.html' %}

{% endif %}


<script>
    yb_hideMobileUI();
    yb_activateFullscreen();
</script>