{% load static %}

{% if is_clusters %}
{% for cluster in clusters %}
    <div id="cluster-{{cluster.id}}" class="yb-listItem yb-autoText cluster-item" data-catid="{{cluster.id}}" data-username="{{cluster.name}}">

        <div class="full-result-image-container" onclick="yb_navigateTo('2way', 'cluster', '{{cluster.id}}');">
                
        </div>
        <div class="full-result-name-container" onclick="yb_navigateTo('2way', 'cluster', '{{cluster.id}}');">
            <p class="full-result-name yb-listItem-head"><strong>{{cluster.name}}</strong></p>
            <p class="full-result-username yb-listItem-body">
                <small>{{cluster.type}} - {% if cluster.bits.all.count == 0 %}No {% else %}{{cluster.bits.all.count}}{% endif %} bits</small>
            </p>
        </div>
        <div id="item-delete-{{cluster.id}}">
            <button class="yb-button-close notification" onclick="yb_deleteCluster({{cluster.id}})">&times;</button>
        </div>
    </div>
{% endfor %}

{% else %}
    <div class="yb-fillWidth yb-center-margin yb-margin-T30 yb-margin-B10">
        <h3 class="yb-autoText align-center yb-margin-T10">No Clusters found</h3>
    </div>
    <br>
    <button id="create-cluster-list" class="yb-button-flex bg-gray-dark font-gray yb-button-halfWidth">+  Create Cluster</button>
    <script>

        document.getElementById("create-cluster-list").addEventListener("click", function(){
            yb_navigateTo('2way', 'create-cluster');
            
        });
    </script>
{% endif %}