{% load static %}

<html>
    <head>
        <title>{{request.user.first_name}}'s Journal</title>
        {% include 'main/style_imports.html' %}
    </head>
    <body>
        <section>
            <div>
                <!--Yourbit Logo here-->
            </div>
            <nav>
                <!--Journal Navigation Here-->
            </nav>
        </section>
        <section id="journal-content">
            <!--Current page content goes here-->
            {% include 'yb_developer/journal_home.html' %}
        </section>
    </body>
</html>