{% load static %}

<div id='div-header' onclick="yb_handleSupportClick()" class="div-header">
    <div class="cb-panel-back"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb">Contact Info</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('contact-info');"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>
    
<h3 class="yb-font-auto" style="color:gray;">Coming Soon...</h3>