{% load static %}

<div id='div-header' onclick="yb_handleSupportClick()" class="div-header">
    <div class="cb-panel-back"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb">Report a Bug</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('report-bug');"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>
    

<div id="bug-report-form" class="yb-fillWidth yb-vScroll yb-margin-T10" style="height: calc(100% - 70px); border-radius: 15px;">
    <form id="create-bug-report-form" class="yb-fillWidth align-center" style="font-weight: 600;">
        {% csrf_token %}
        <br>
        <label for="title" class="yb-font-auto font-medium align-center">Title</label>
        <br>
        <br>
        <input id="rbs-title-field" name="title" class="yb-input-singleLine yb-font-auto yb-panel plainBorder narrowBorder rounded" placeholder="Short description of issue..." style="height: 30px !important; width: 80%;">
        <br>
        <br>
        <br>
        <label for="name" class="yb-font-auto font-medium align-center">Description</label>
        <br>
        <br>
        <textarea id="rbs-description-field" name="description" class="yb-input-singleLine font-gray yb-panel plainBorder narrowBorder squared yb-vScroll" style="min-height: 40px !important; font-weight: 600; font-size: 13px; max-height: 80px; width: 80%; resize: vertical;">Give us a little more info about whats going on...
        </textarea> 
        <br>
        <br>
        <br>
        <input type="checkbox" id="rbs-updates-check" name="updates-check" class="yb-font-auto" checked>
        <label for="updates-check" class="yb-font-auto font-medium align-center">Allow follow up about this report via messages.</label>
        
        <br>
        <br>

        <button type="submit" class="yb-button-flex green font-white yb-margin-center lr">Submit</button>



    </form>
    <script class="page-script">
        document.getElementById('create-bug-report-form').addEventListener('submit', function(e) {
            e.preventDefault();
            $.ajax({
                type: 'POST',
                url: '/support/report-bug/',
                data: {
                    'title': $('#rbs-title-field').val(),
                    'description': $('#rbs-description-field').val(),
                    'updates-check': $('#rbs-updates-check').is(':checked'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function() {
                    yb_showNotification(expandNotification, "Bug Report Submitted");
                    yb_toggle2WayContainer('report-bug');
                }
            });
        });

        $(document).ready(function(){
            tw_hideLoading();
        });
    </script>

</div>
