{% load static %}

<div id='div-header' onclick="yb_toggleMainMenu()" class="div-header">
    <div class="cb-panel-back"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb">Support Center</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('support-center');"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>
<br>
<div class="yb-flexColumn" id="support-options">
    <h3 class="align-center" style="color:gray;">Get in touch...</h3>
    <br>
    <button type='button' id = "yb-button-bug-report" class='yb-button-threeQuarter border-none rounded yb-widthConstraint-600 yb-font-auto font-heavy pointer-object' name='report-bug'>Report Bug</button>
    <button type='button' id = "yb-button-request-feature" class='yb-button-threeQuarter border-none rounded yb-widthConstraint-600 yb-font-auto font-heavy pointer-object' name='request-feature'>Feature Request</button>
    <button type='button' id = "yb-button-contact-info" class='yb-button-threeQuarter border-none rounded yb-widthConstraint-600 yb-font-auto font-heavy pointer-object' name='contact-info'>Patch Notes</button>
    <button type='button' id = "yb-button-contact-info" class='yb-button-threeQuarter border-none rounded yb-widthConstraint-600 yb-font-auto font-heavy pointer-object' name='contact-info'>Contact Information</button>
    
    
</div>
<br>
<div class="setting-header yb-flexColumn">
    <h3 style="color:gray;" class="yb-font-auto align-center">Known Issues</h3>
</div>
<div class="yb-fillWidth yb-vScroll font-white yb-margin-T10 align-center" style="height: calc(100% - 315px); border-radius: 15px;">

    <div style="margin-left: auto; margin-right: auto; height: 100%;">

        <div class="yb-container-list yb-flexColumn" id="known-issues-list" style="padding:10px;">
            {% for issue in known_issues %}
            <div class="yb-flexColumn support-issue yb-margin-T5" style="text-align: left; border-radius: 15px; padding: 10px; margin-bottom: 4px;">
                <b style=" font-size: 18px;  color: {{ issue.priority }};">{{ issue.subject }}</b>
                <p style="padding-left: 5px; font-size: 14px;">{{ issue.body }}</p>
                <p style="padding-left: 10px; font-size: 12px; color: rgb(200, 200, 200);">Filed On: {{ issue.time }}</p>
            </div>
            {% endfor %}
        </div>
    </div>


</div>

<script class="page-script" src="{% static 'scripts/yb_support/yb_support_center.js' %}"></script>
<script>
    $(document).ready(function(){
        tw_hideLoading();
    });
</script>
