

{% load static %}


    <div id='div-header' class="div-header">
        
        <div class="cb-panel-back" onclick="yb_navigateTo('content-container', 'home')"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
        
        {% if current_platform != "mobile" %}
        <div style="position: relative; width: 100%">
            <div class="less-hScroll yb-transform-center tb" onclick="yb_lessHScroll('people-filter')" style="display:none;">
                <svg class="yb-transform-center all" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"></path></svg>
            </div>
            <div id="search-filter" style="height: 40px; display:grid; grid-template-columns: 4fr 1fr; column-gap: 20px; scrollbar-width: none; overflow-x: hidden;" class="yb-hScroll yb-fillWidth yb-relative">
                
                <div id="filter-container" class="yb-flexRow yb-fillWidth yb-gap5 yb-margin-L5">
                    
                    <button class="search-filter yb-button-wide active medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="pr-or-bt-vd">All</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="pr">People</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="or">Orbits</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="bt">Bits</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="vd">Videos</button>
    
                </div>
    
            </div>
            {% comment %} <div class="more-hScroll yb-transform-center tb" onclick="yb_moreHScroll('people-filter')">
                <svg class="yb-transform-center all" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
            </div> {% endcomment %}
        </div>
        {% endif %}
        
    
        
    </div>

    {% if current_platform == "mobile" %}
        <div class="yb-fillWidth" id="searchbar" class="yb-input-singleLine border-solid rounded plainBorder">
            <input type="text" placeholder="Search Yourbit">
            <button id="mobile-search-submit" class="yb-button-flex mobile-search-submit squared"><svg class ="yb-icon yb-margin-center all" xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path class='yb-ui-icon yb-autoFill mobile-floating-actions-path' d="M764.522-134.913 523.848-375.587q-29.761 21.044-65.434 33.065-35.672 12.022-76.292 12.022-102.187 0-173.861-71.674Q136.587-473.848 136.587-576q0-102.152 71.674-173.826Q279.935-821.5 382.087-821.5q102.152 0 173.826 71.674 71.674 71.674 71.674 173.861 0 40.859-12.022 76.292-12.021 35.434-33.065 64.956l240.913 241.152-58.891 58.652ZM382.087-413.5q67.848 0 115.174-47.326Q544.587-508.152 544.587-576q0-67.848-47.326-115.174Q449.935-738.5 382.087-738.5q-67.848 0-115.174 47.326Q219.587-643.848 219.587-576q0 67.848 47.326 115.174Q314.239-413.5 382.087-413.5Z"/></svg></button>

        </div>
    {% endif %}

    {% if current_platform == "mobile" %}
        <div style="position: relative; width: 100%">
            <div class="less-hScroll yb-transform-center tb" onclick="yb_lessHScroll('people-filter')" style="display:none;">
                <svg class="yb-transform-center all" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"></path></svg>
            </div>
            <div id="search-filter" style="height: 40px; display:grid; grid-template-columns: 4fr 1fr; column-gap: 20px; scrollbar-width: none; overflow-x: hidden;" class="yb-hScroll yb-fillWidth yb-relative">
                
                <div id="filter-container" class="yb-flexRow yb-fillWidth yb-gap5 yb-margin-L5">
                    
                    <button class="search-filter yb-button-wide active medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="pr-or-bt-vd">All</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="pr">People</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="or">Orbits</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="bt">Bits</button>
                    <button class="search-filter yb-button-wide medium-wide rounded yb-font-auto font-small yb-margin-center tb" name="vd">Videos</button>

                </div>

            </div>
            {% comment %} <div class="more-hScroll yb-transform-center tb" onclick="yb_moreHScroll('people-filter')">
                <svg class="yb-transform-center all" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m321-80-71-71 329-329-329-329 71-71 400 400L321-80Z"/></svg>
            </div> {% endcomment %}
        </div>
    {% endif %}
    

    <div id="search-result-list" class="yb-fillWidth yb-vScroll yb-margin-T10" style="height: calc(100% - 260px); border-radius: 15px;">
        {% include 'search/result_list.html' %}
    </div>

    <script>
        $(document).ready(function(){
            tw_hideLoading();
            yb_hideMobileNavigation();
            yb_showMobileHeader();
            CONTENT_CONTAINER_A.style.display="none";
            CONTENT_CONTAINER_B.style.display="block";
            $(MAIN_LOADING_SCREEN).fadeOut(500).animate({opacity: 0}, 500);
        });
    </script>



