<!--All of the settings fields for the current bit being created-->

<section id="bb-config-scheduling">
    <!--Check box to indicate is_scheduled-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isScheduled" style="display:none;">
    <input type="date" id="bb-field-scheduledDate" class="yb-builderBit" style="display:none;">
    <input type="time" id="bb-field-scheduledTime" class="yb-builderBit" style="display:none;">

    <!--Check box to indicate has_expiration-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-hasExpiration" style="display:none;">
    <input type="date" id="bb-field-deleteDate" class="yb-builderBit" style="display:none;">
    <input type="time" id="bb-field-deleteTime" class="yb-builderBit" style="display:none;">
</section>

<section id="bb-config-monetization">
    <!--Check box to indicate is_monetized-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isDonations" style="display:none;">
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-hasAds" style="display:none;">
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-requireSubscription" style="display:none;">
</section>

<section id="bb-config-interaction">
    <!--Check box to indicate is_commentable-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isComments" style="display:none;">
    <!--Check box to indicate is_taggable-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isFeedback" style="display:none;">

    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isPoll" style="display:none;">

    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isSurvey" style="display:none;">

    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isQuiz" style="display:none;">
</section>

<section id="bb-config-sharing">
    <!--Check box to indicate is_sharable-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isShareable" style="display:none;">

    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isShoutouts" style="display:none;">
    
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-isTags" style="display:none;">

</section>

<section id="bb-config-custom">
    <!--Check box to indicate custom override-->
    <input type = "checkbox" class = "yb-builderBit" id = "bb-field-customOverride" style="display:none;">
    <input type = "text" class = "yb-builderBit" id = "bb-field-primaryColor" style="display:none;">
    <input type = "text" class = "yb-builderBit" id = "bb-field-accentColor" style="display:none;">
    <input type = "text" class = "yb-builderBit" id = "bb-field-titleColor" style="display:none;">
    <input type = "text" class = "yb-builderBit" id = "bb-field-textColor" style="display:none;">
    <input type = "text" class = "yb-builderBit" id = "bb-field-buttonColor" style="display:none;">
    <input type = "text" class = "yb-builderBit" id = "bb-field-buttonTextColor" style="display:none;">
</section>
    