{% load static %}

{% if custom_core.bit_colors_on %}

    <link rel="stylesheet" href="{% static 'css/yb_bits/yb_bits_customized8.css' %}">

{% else %}
    <link rel="stylesheet" href="{% static 'css/yb_bits/yb_bits7.css' %}">
{% endif %}
<script
    src="https://cdn.jsdelivr.net/npm/@mux/mux-uploader"
></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_bits/yb_bitBuilder.css' %}">
<div id="bb-scrollContainer" class="yb-fillWidth yb-vScroll yb-margin-T10" style="height: calc(100% - 60px); border-radius: 15px;">
    <form class= "yb-container-bitPreview create" style="position: relative;" enctype="multipart/form-data">
        <header id='div-header' style='position: relative; display: grid; grid-template-columns: 40px 5fr 1fr; margin-left: auto; margin-right: auto; width: 100%; height: 40px; margin-bottom: 20px;' >
            <div class="cb-panel-back" onclick="yb_2WayPage(1)"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
            <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb" onclick="yb_toggleCreateMenu()"></h3>
            <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('create')"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
            <input type="hidden" id="bb-field-bitType" value="chat">
            <input type="hidden" id="bb-field-buildMode" value="{{build_mode}}">
        </header>


        <div class="yb-fillWidth yb-vScroll yb-margin-T10 align-center" style="height: calc(100% - 150px); border-radius: 15px;">
            <div id="bit-preview" class="
                yb-element-background 
                yb-bit-shell 
                {% if object == 'chatbit' %}
                createChat 
                {% else %}
                createMedia
                {% endif %}
                primary-color-preview" 
                
                data-type="chat" 
                data-id="66" 
                data-userid="1" 
                data-username="achaney55" 
                data-button-color="#669d34" 
                data-icon-color="#ffffff" 
                data-secondary-color="#3a87fe" 
                data-primary-color="#0056d6"
            >

                {% include 'yb_bits/bit_builder/builder_configuration.html' %}

                {% include 'yb_bits/bit_builder/components/preview_header.html' %}

                {% include 'yb_bits/bit_builder/components/preview_title.html' %}
                <br>

                {% include 'yb_bits/bit_builder/components/builder_video.html' %}

                {% include 'yb_bits/bit_builder/components/builder_photo.html' %}

                {% include 'yb_bits/bit_builder/components/builder_body.html' %}

                <hr class="yb-fillWidth">

                {% include 'yb_bits/bit_builder/components/builder_shoutouts.html' %}
                {% include 'yb_bits/bit_builder/components/builder_metatags.html' %}
            

            </div>
        </div>

    </form>

    <br>

    <div class="yb-gridH13 yb-fillWidth">
        <div id="text-type-button" class="type-button active" name="chat">
            <svg class="space-button-image yb-transform-center all small" style="position: relative; grid-column: 1;" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
                <path class="yb-fill-gray small" d="M.95 17.8V1.85q0-.5.325-.825Q1.6.7 2.1.7h14.25q.5 0 .825.325.325.325.325.825V12q0 .5-.325.825-.325.325-.825.325H5.6Zm5.8.9q-.5 0-.825-.325-.325-.325-.325-.825v-2.4h13.9V5.4h2.4q.5 0 .825.325.325.325.325.825v16.8L18.4 18.7Zm8.1-15.35H3.6v8.05l.9-.9h10.35Zm-11.25 0v8.05Z">

                </path>
            </svg>
        </div>
        <div id="video-type-button" class="type-button" name="video">
            <svg class="space-button-image yb-transform-center all small" style="position: relative; grid-column: 1;" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
                <path class="yb-fill-gray small"  d="m9.15 17.15 8-5.15-8-5.15ZM12 22.8q-2.25 0-4.213-.85-1.962-.85-3.424-2.312Q2.9 18.175 2.05 16.212 1.2 14.25 1.2 12t.85-4.225Q2.9 5.8 4.363 4.338q1.462-1.463 3.424-2.301Q9.75 1.2 12 1.2t4.225.837q1.975.838 3.438 2.301 1.462 1.462 2.299 3.437Q22.8 9.75 22.8 12q0 2.25-.838 4.212-.837 1.963-2.299 3.426Q18.2 21.1 16.225 21.95q-1.975.85-4.225.85Zm0-2.65q3.425 0 5.788-2.363Q20.15 15.425 20.15 12t-2.362-5.788Q15.425 3.85 12 3.85q-3.425 0-5.787 2.362Q3.85 8.575 3.85 12q0 3.425 2.363 5.787Q8.575 20.15 12 20.15ZM12 12Z">

                </path>
            </svg>
        </div>
        <div id="photo-type-button" class="type-button" name="photo">
            <svg class="space-button-image yb-transform-center all small" style="position: relative; grid-column: 1;" xmlns="http://www.w3.org/2000/svg" height="32" width="32">
                <path class="yb-fill-gray small" d="M12 17.75q1.925 0 3.263-1.337Q16.6 15.075 16.6 13.15q0-1.925-1.337-3.263Q13.925 8.55 12 8.55q-1.925 0-3.262 1.337Q7.4 11.225 7.4 13.15q0 1.925 1.338 3.263Q10.075 17.75 12 17.75Zm0-2.65q-.8 0-1.375-.575t-.575-1.375q0-.8.575-1.375T12 11.2q.8 0 1.375.575t.575 1.375q0 .8-.575 1.375T12 15.1Zm-8.15 6.725q-1.1 0-1.875-.775-.775-.775-.775-1.875V7.125q0-1.1.775-1.875.775-.775 1.875-.775h3.025l2.05-2.25h6.15l2.05 2.25h3.025q1.1 0 1.875.775.775.775.775 1.875v12.05q0 1.1-.775 1.875-.775.775-1.875.775Zm16.3-2.65V7.125h-4.2l-2.05-2.25h-3.8l-2.05 2.25h-4.2v12.05ZM12 13.15Z">

                </path>
            </svg>
        </div>
    </div>
    <br>
        {% include 'yb_bits/bit_builder/components/builder_toolbar.html' %}
    <br>

    <br>

    <div class="yb-options-bitBuilder yb-margin-L10 yb-margin-R10">
        <div class="yb-options-bitBuilder-header yb-fillWidth yb-flexRow yb-gap10">
        
            <button class="yb-button-halfWidth green rounded yb-font-auto border-none font-heavy" id="button-submit-bit" style="height: 35px;">Send</button>


        </div>
        

    </div>
</div>


</div>
</div>
<div class="yb-logo-footer small" id="create-menu-footer" style="position: absolute; bottom: 5px; left: 50%; transform: translateX(-50%);">
    <img src="{% static 'images/main/yourbit-logo2023-01.svg' %}" style="width: 100%; position: relative;" alt="YB Logo" class="yb-logo-small">
</div>

<script class="page-script" src="{% static 'scripts/yb_builder/yb_createBit2.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $(".yb-container-bitPreview").on("click", function(){
            $(".yb-options-bitBuilder").toggleClass("contracted");
            $(".yb-options-bitBuilder").toggleClass("expanded");
        });
        tw_hideLoading();
    });
</script>