{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_toggleSettingsMenu()"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-privacy');"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-flexColumn" id="settings-info">
    <svg class="yb-autoFill yb-margin-center lr" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M120-160v-94q0-38 19-65t49-41q67-30 128.5-45T440-420q26 0 50.5 2.5T541-410q-5 58 21.5 109.5T640-220v60H120ZM760-13l-60-60v-186q-44-13-72-49.5T600-393q0-58 41-99t99-41q58 0 99 41t41 99q0 45-25.5 80T790-263l50 50-60 60 60 60-80 80ZM440-500q-63 0-106.5-43.5T290-650q0-63 43.5-106.5T440-800q63 0 106.5 43.5T590-650q0 63-43.5 106.5T440-500Zm300 127q17 0 28.5-11.5T780-413q0-17-11.5-28.5T740-453q-17 0-28.5 11.5T700-413q0 17 11.5 28.5T740-373Z"/></svg>
    <h3 class="align-center yb-pHead" style="color:gray;">Update Password</h3>
    <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-font-auto yb-pText">Changing Your Password</p>    

</div>

<form class="yb-fillWidth yb-vScroll yb-pText yb-margin-T10 align-center" id="account-settings-form" method="POST" action="{% url 'settings_account' %}" style="height: calc(100% - 200px); border-radius: 15px; padding-bottom: 150px;">
    {% csrf_token %}
    <!-- Enter Old Password-->
    <div class = "setting-sub-container yb-font-auto yb-pText">
        <div id = "field-container-old-password" class="yb-field-container">
            <div id="display-old-password" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-auto yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;"><p class="field-cover-label align-left" id="op-label" style="grid-column: 1;">Old Password: </p><input name="old_password" id='field-old-password' type="password"  value="" class="yb-input-transparent right squared yb-font-auto yb-pText password-field" style="grid-column: 2;" placeholder="Type here..."></div>
            <input value="" class="yb-input-singleLine yb-panel squared yb-pText yb-margin-T10" style="display:none;">
            <p class="yb-field-error under"></p>
        </div>

        <!-- Enter New Password-->
        <div id="field-container-new-password" class="yb-field-container">
            <div id="display-new-password" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-auto yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;"><p class="field-cover-label align-left" id="np-label" style="grid-column: 1;">New Password: </p><input name="new_password1" id='field-new-password' type="password"  value="" class="yb-input-transparent right squared yb-font-auto yb-pText password-field" style="grid-column: 2;" placeholder="Type here..."></div>
            <input type="password" value="" class="yb-input-singleLine yb-panel squared yb-pText yb-margin-T10" style="display:none;">
            <p class="yb-field-error under"></p>
        </div>

        <!-- Confirm New Password-->
        <div id="field-container-confirm-password" class="yb-field-container">
            <div id="display-confirm-password" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-auto yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;"><p class="field-cover-label align-left" id="cp-label" style="grid-column: 1;">Confirm Password: </p><input name="new_password2" type="password"  id='field-confirm-password' value="" class="yb-input-transparent squared right yb-font-auto yb-pText password-field" style="grid-column: 2;" placeholder="Type here..."></div>
            <input type="password" value="" class="yb-input-singleLine yb-panel squared yb-pText yb-margin-T10" style="display:none;">
            <p class="yb-field-error under"></p>

        </div>

        <button type="button" id="password-submit" class="yb-button-wide bg-autoGray font-gray yb-button-halfWidth squared" style="margin-top: 20px;" onclick="requestPasswordChange()">Update</button>
    </div>
</form>
<script>
    
    function requestPasswordChange() {
        var oldPassword = $('#field-old-password').val();
        var newPassword = $('#field-new-password').val();
        var confirmPassword = $('#field-confirm-password').val();
        let csrf_token = getCSRF();

        if (newPassword != confirmPassword) {
            showNotification(expandNotification, 'Passwords do not match');
            let confirm_password = document.getElementById('field-confirm-password');
            let confirm_password_label = document.getElementById('cp-label');
            confirm_password.style.backgroundColor = 'rgba(255, 0, 0, 0.5)';
            confirm_password.classList.add("yb-bounceDown-2x")
            confirm_password_label.style.color = 'red';

            return;
        }

        var data = {
            'old_password': oldPassword,
            'new_password': newPassword,
        };

        $.ajax({
            type: 'POST',
            url: '/settings/account/change-password/',
            data: data,
            headers: {
                'X-CSRFToken': csrf_token
            },
            success: function(response) {
                showNotification(expandNotification, response.message);
                if (response.success){
                    yb_toggle2WayContainer('settings-account');
                } else {
                    let old_password = document.getElementById('field-old-password');
                    let old_password_label = document.getElementById('op-label');
                    old_password.style.backgroundColor = 'rgba(255, 0, 0, 0.5)';
                    old_password.classList.add("yb-bounceDown-2x")
                    old_password_label.style.color = 'red';
                }
                
            },
            error: function(response) {
                showNotification(expandNotification, "Oops... Something went wrong.");
            }
        });
    }

    $(document).ready(function(){
        tw_hideLoading();
    });
</script>