
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/yourbit_settings.css' %}"/>
    <div id='div-header' class="div-header">
        <div class="cb-panel-back" onclick="yb_toggleSettingsMenu()"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
        <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb"></h3>
        <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-feed');"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
    </div>
    
    <div class="yb-flexColumn" id="settings-info">
        
        <svg class="yb-autoFill yb-margin-center lr" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M180-120q-24 0-42-18t-18-42v-600q0-24 18-42t42-18h462l198 198v462q0 24-18 42t-42 18H180Zm0-60h600v-428.57H609V-780H180v600Zm99-111h402v-60H279v60Zm0-318h201v-60H279v60Zm0 159h402v-60H279v60Zm-99-330v171.43V-780v600-600Z"/></svg>
        <h3 class="align-center" style="color:gray;">FEED</h3>
        <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-font-auto">Manage account, content, and privacy settings here.</p>    
    
    </div>
    
    
    
    <form class="yb-fillWidth yb-vScroll yb-font-auto yb-margin-T10 align-center" ID="feed-settings-form" method="POST" action="{% url 'settings_feed' %}" style="height: calc(100% - 300px); border-radius: 15px; padding-bottom: 150px;">
    <!--Scope-->
        {% csrf_token %}
        <!--Default: Public/Followers+Friends/FriendsOnly-->
            <p>Show Posts From</p>
            <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10 feed-field' name="yb-align-text" id="yb-align-text" style='color: white;' placeholder="Paragraph Align">
                <option value="e">Everyone</option>
                <option value="fol">Just People I'm Following</option>
                <option value="ff">Friends and Following</option>
                <option value="f">Just Friends</option>
            </select>
            <p>Sort Posts By</p>
            <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10 feedfield' name="yb-align-text" id="yb-align-text" style='color: white;' placeholder="Paragraph Align">
                <option value="chrono">Time</option><!--Sorts by time-->
                <option value="top">Best</option><!--Sorts by likes-->
                <option value="trending">Trending</option><!--Sorts by fastest spreading-->
                <option value="popular">Most Seen</option><!--Sorts by most seen of all time-->
            </select>
            <!--dropdown-->
        <!--Exclude External Links-->
            <!--dropdown-->
        <!--Exclude Shared Posts-->
        <p>Exclude Shared Posts</p>
        <label class="yb-switch-round" id="yb-exclude-shared" style="grid-column: 2;">
            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-exclude-shared">
            <span class="slider round"></span>
        </label>
        <br>
        <br>
        <br>
        <!--Show Group Connections-->
        <!--Show Group Posts-->
    
    <!--Moderation-->
        <!--Keyword Filters-->
        <!--Resricted Content-->
        <!--Smart Filters-->
        <p>Toggle All Smart Filters</p>
        <label class="yb-switch-round" id="yb-sf-all" style="grid-column: 2;">
            <input type="checkbox" class="checkbox" name="sf_all" id="yb-check-sf-all">
            <span class="slider round"></span>
        </label>
            {% comment %} <p>Suppress Politics</p>
            <!--Politics Filter-->
            <label class="yb-switch-round" id="yb-sf-politics" style="grid-column: 2;">
                <input type="checkbox" class="checkbox" name="sf_politics" id="yb-check-sf-politics">
                <span class="slider round"></span>
            </label> {% endcomment %}

            <p>Suppress News Links</p>
            <!--News Filter-->
            <label class="yb-switch-round" id="yb-sf-news" style="grid-column: 2;">
                <input type="checkbox" class="checkbox" name="sf_news" id="yb-check-sf-news">
                <span class="slider round"></span>
            </label>
            <!--Custom Source Extension: Internal/External-->
            <!--Foul Language-->
            <p>Foul Language Filter</p>
            <label class="yb-switch-round" id="yb-sf-language" style="grid-column: 2;">
                <input type="checkbox" class="checkbox" name="sf-language" id="yb-check-sf-language">
                <span class="slider round"></span>
            </label>
            <p>Keyword Filters <small><i>*Separate by commas</i></small></p>
            <!--Custom Keyword Extension-->
            <input type="text" class="yb-input-singleLine">
        <!--Blocked Users-->
        <!--Muted Users-->

    <!--Default Space: Global, Chat, Video, Photo-->
    <!--Feed Groups-->
        <!--Default Groups-->
            <!--Toggle: On/Off-->
            <!-- <label class="yb-switch-round" id="yb-default-groups" style="grid-column: 2;">
                <input type="checkbox" class="checkbox" name="default-groups" id="yb-check-default-group">
                <span class="slider round"></span>
            </label> -->
            <!--Select Default-->
                <!--Dropdown-->
        <!--Create Group-->
            <!--Add Community/Friend/Following to group-->

            <!--Group Type (Optional)-->
        </form>
        <div id="mobile-spacer">
        </div>

        <script>
            $(document).ready(function(){
                tw_hideLoading();
            });
        </script>