{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_toggleSettingsMenu()"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-privacy');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-flexColumn" id="settings-info">
    
    <svg class="yb-autoFill yb-center-margin lr" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M480-80q-33 0-56.5-23.5T400-160h160q0 33-23.5 56.5T480-80ZM160-200v-60h80v-304q0-84 49.5-150.5T420-798v-22q0-25 17.5-42.5T480-880q25 0 42.5 17.5T540-820v22q18 4 34 10.5t31 15.5l-46 46q-18-9-38-13.5t-41-4.5q-75 0-127.5 52.5T300-564v304h360v-152l60-60v212h80v60H160Zm320-240Zm0 0v-123l221-220q9-9 20-13t22-4q12 0 23 4.5t20 13.5l37 37q9 9 13 20t4 22q0 11-4.5 22.5T822-660L603-440H480Zm300-263-37-37 37 37ZM540-500h38l121-122-18-19-19-18-122 121v38Zm141-141-19-18 37 37-18-19Z"/></svg>
    <h3 class="align-center" style="color:gray;">NOTIFICATIONS</h3>
    <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-autoText">Settings for push notifications</p>    

</div>

<form id="notification-settings-form" method="POST" action="{% url 'settings_privacy' %}" class="yb-fillWidth yb-vScroll yb-autoText yb-margin-T10 align-center" style="height: calc(100% - 150px); border-radius: 15px;">
    {% csrf_token %}
    <div id="field-container-notifications-toggle" class="yb-field-container">
        <div class="setting-sub-container">
            <div id="display-email" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Enable Notifications </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>
        </div>

        <div class="setting-sub-container">
            <h4>Network Notifications</h4>
            <div id="display-email" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1; font-size: auto;">App Updates </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div id="display-email" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1; font-size: auto;">Store Updates </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="setting-sub-container">
            <h4>Bit Notifications</h4>
            <div id="ntfy-check-enableBit" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1; font-size: auto;">Bits </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div id="ntfy-batchBit" class="bit-subsetting yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left" style="grid-column: 1; font-size: auto;">Batch Notifications </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div id="ntfy-batchBitInterval" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 75% 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left bit-subsetting" style="grid-column: 1; font-size: auto;">Batch Interval </p>        
                
                <input type="number" class="yb-input-transparent right yb-font-autoGray bit-subsetting" style="grid-column: 2; width: 50px; font-weight: 600;" value="1">

            </div>


            <div id="ntfy-enableLikes" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Likes </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check bit-subsetting" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>

            <div id="ntfy-likesFrom" style="opacity: 0.5;">
                <p class="yb-select-label">Notify about likes From:</p>
                <div id="yb-field-container-align-text" class="yb-field-container">
                    <select type="text" class='notify-field yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-align-text" id="yb-align-text" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
            </div>

            <div id="ntfy-enableComments" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Comments </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check bit-subsetting" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            
            <div id="ntfy-commentsFrom" style="opacity: 0.5;">
                <p class="yb-select-label">Notify about comments From:</p>
                <div id="yb-field-container-align-text" class="yb-field-container">
                    <select type="text" class='notify-field bit-subsetting yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-align-text" id="yb-align-text" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
            </div>

            <div id="ntfy-enableShares" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Shares </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check bit-subsetting" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>

                        
            <div id="ntfy-sharesFrom" style="opacity: 0.5;">
                <p class="yb-select-label">Notify about shares From:</p>
                <div id="yb-field-container-align-text" class="yb-field-container">
                    <select type="text" class='notify-field bit-subsetting yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-align-text" id="yb-align-text" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
            </div>

            
            <div id="ntfy-enableDonations" class="bit-subsetting yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Donations </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check bit-subsetting-input" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>

            <br> 
            <div id="ntfy-enableOrbits" class="bit-subsetting yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr; opacity: 0.5;">
                <p class="field-cover-label align-left" style="grid-column: 1;">New from Orbits </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>       
            </div>

        </div>

        <div class="setting-sub-container">
            <h4>Message Notifications</h4>

            <div>
                <p class="yb-select-label">Notify about messages From:</p>
                <div id="yb-field-container-align-text" class="yb-field-container">
                    <select type="text" class='notify-field yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-align-text" id="yb-align-text" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="setting-sub-container">
            <h4>Connection Notifications</h4>

            <div id="ntfy-friendRequest" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1; font-size: auto;">Friend Requests </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div id="ntfy-followers" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-gray yb-margin-T10" style="position: relative; display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1; font-size: auto;">Follows </p>        
                <div style="position: absolute; top: 50%; transform: translateY(-50%); right: 5px; width: 45px; text-align: left;">
                    <label class="yb-switch-round" id="yb-exclude-shared" >
                        <input type="checkbox" class="checkbox notification-check" name="default_public" id="yb-check-default-public">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>

    </div>
    
</form>


<script>
    $(document).ready(function(){
        tw_hideLoading();
    });
</script>