{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' style='position: relative; display: grid; grid-template-columns: 1fr 5fr 1fr; margin-left: auto; margin-right: auto; width: 100%; height: 40px; margin-bottom: 20px;' >
    <div class="cb-panel-back"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb">Privacy Settings</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-privacy');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<p style="font-size: small; text-align: center;" class="yb-autoText yb-margin-L5 yb-margin-R5">

    Here you can manage access permissions to your profile,
    default bit reach, who can message you, and what information
    others can see about you. Yourbit is proud to offer the highest number
    privacy options of any social media site in the world. If you need some help,
    or see something missing, please don't hesitate to contact support.
</p>

    <div id="privacy-form" class="yb-fillWidth yb-vScroll font-white yb-margin-T10 align-center" style="height: calc(100% - 150px); border-radius: 15px;">
        <!--All settings should include an explanation with a question
             mark symbol used for activation located right of the label
            
             NOTE: All information privacy settings are set to Private
             until set public by user. 
        -->

        <!--Profile Publicity: Private/Public (Default Private)-->
            <!--Switch-->
            <br>
            
            <div class="setting-container">
                <hr>
                <h3>Profile</h3>
                <div class = "yb-switch-container-grid">
                    <div>
                        
                        <p class="yb-switch-label">Allow followers</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="enable_followers" id="yb-check-enable-follow">
                            <span class="slider round"></span>
                        </label>
                    </div>     
                    <div>
                        <p class="yb-switch-label">Show Reputation</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="show_rep" id="yb-check-show-rep">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <p class="yb-switch-label">Seach by real name</p>
                        <label class="yb-switch-round" id="yb-real-search" style="grid-column: 2;">
                            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-real-search">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                    <!--Real name in search: Allow match and allow result display-->
                    <!--Allow match (doesn't show name but matches on name search)-->
                        <!--Switch-->
                        <p class="yb-switch-label">Use Alias in Search Results</p>
                        <label class="yb-switch-round" id="yb-real-search" style="grid-column: 2;">
                            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-real-search">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    
                </div>
                <hr>
                <!--Real name visibility: Everyone/FriendsOnly/Hide-->
                <!--dropdown-->
                <br>
                
                <p class="yb-select-label">Show my real name to:</p>
                <div id="yb-field-container-real-name" class="yb-field-container">

                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' value="{{settings.privacy.real_name_visibility}}" name="yb-real-name" id="yb-field-real-name" placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
                <!--Show Birthday: Everyone/FriendsOnly/Hide-->
                <!--Dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Show Birthday:</p>
                <div id="yb-field-container-birthday" class="yb-field-containter">
                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-select-birthday" value="{{settings.privacy.birthday_visibility}}" id="yb-field-birthday" placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>

                <!--Display Phone Number: Everyone/FriendsOnly/Hide-->
                <!--Dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Display Phone Number</p>
                <div id="yb-field-container-phone-number" class="yb-field-container">
                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-phone-number-select" value="{{settings.privacy.phone_number_visibility}}" id="yb-field-phone-number" placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>

                <!--Display Email: Everyone/FriendsOnly/Hide-->
                <!--Dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Display Email</p>
                <div id="yb-field-container-email" class="yb-field-container">
                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-select-email" id="yb-field-email" value="{{settings.privacy.email_visibility}}" placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
                            <!--Show Friend Count: Everyone/FriendsOnly/Hide-->
                <!--dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Show Friend Count</p>
                <div id="yb-field-container-friend-count" class="yb-field-container">
                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-select-friend-count" id="yb-field-friend-count" value="{{settings.privacy.friend_count_visibility}}" placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
            <!--Show Follower Count: Everyone/FriendsOnly/Hide-->
                <!--dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Show Follower Count</p>
                <div id="yb-field-container-follow-count" class="yb-field-container">
                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-select-follow-count" id="yb-field-follow-count" value="{{settings.privacy.follower_count_visibility}}"  placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>              
            

                <!--Mailing Address Visibility: Everyone/FriendsOnly/Private-->
                <!--Dropdown-->
                <br>
                <br>
                <div>
                    <b>Mailing Address</b>
                    <p><i>
                        First and Last Name
                        <br>
                        Address
                        <br>
                        City, ST
                        <br>
                        Zip
                    </i>
                    </p>
                    <button type='button' class="wide-button">Edit</button>
                    <p class="yb-select-label">Display Mailing Address</p>
                    <div id="yb-field-container-display-mailing" class="yb-field-container">
                        <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-align-text" id="yb-field-display-mailing" placeholder="Paragraph Align">
                            <option value="e">Everyone</option>
                            <option value="fr">Friends Only</option>
                            <option value="no">Nobody</option>
                        </select>
                    </div>  
                </div>
            </div>
        <!--Display Reputation (Default False)-->
            <!--Switch-->

        <!--Bits (Default Private)-->
            <!--Bit publicity: Private/Public-->
                <!--Switch-->
            <!--Friends of Friends: On/Off-->
                <!--Switch--> 
            
            <div class = "setting-sub-container">
                <h3>Bits</h3>
                <!--Bit Sharing: On/Off-->
                <!--Switch-->
                <div class="yb-switch-container-grid">
                    <div>
                        <p class="yb-switch-label">Allow Sharing</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="enable_share" id="yb-check-enable-share">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <p class="yb-switch-label">Allow Friends of Friends</p>
                        <label class="yb-switch-round" id="yb-reach" >
                            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-reach">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <p class="yb-switch-label">Default Publish Public</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="default_public" id="yb-check-default-public">
                            <span class="slider round"></span>
                        </label>
                    </div>       
                </div>
            </div>
        
        <!--Personal Info (Default Private)-->

        <div class = "setting-sub-container">
            <!--Addresses-->
                <!--Mailing Address: Edit-->
                    <!--Button-->
                <h3>Messaging</h3>

        
        <!--Messaging (Default Friends Only)-->
            <!--Messages: Everyone/Followers+Friends/FriendsOnly-->
                <!--dropdown-->

                <div>
                <p class="yb-select-label">Allow Messages From:</p>
                <div id="yb-field-container-align-text" class="yb-field-container">
                    <select type="text" class='yb-input-singleLine bg-gray-dark' name="yb-align-text" id="yb-align-text" placeholder="Paragraph Align">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
                </div>
            </div>

        <!--Disclaimer-->
        <p>
            Yourbit does not track your activity outside of the Yourbit app,
            cookies are used for session only. Messages, personal information, 
            and, private bits are encrypted in the database and cannot be read
            by site administration.
        </p>

        <script type='text/javascript' class="page-script" src="{% static 'scripts/yb-privacy.js' %}"></script>
    </div>
    <div id="mobile-spacer">
    </div>
    <script>
        $(document).ready(function() {
            
            let load_indicator = document.getElementById("yb-loading-core");
            load_indicator.style.display = "none";
        
        });
    </script>
