
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_toggleSettingsMenu()"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-profile');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-flexColumn" id="settings-info">
    <svg class="yb-autoFill yb-center-margin lr" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M222-255q63-44 125-67.5T480-346q71 0 133.5 23.5T739-255q44-54 62.5-109T820-480q0-145-97.5-242.5T480-820q-145 0-242.5 97.5T140-480q0 61 19 116t63 109Zm257.81-195q-57.81 0-97.31-39.69-39.5-39.68-39.5-97.5 0-57.81 39.69-97.31 39.68-39.5 97.5-39.5 57.81 0 97.31 39.69 39.5 39.68 39.5 97.5 0 57.81-39.69 97.31-39.68 39.5-97.5 39.5Zm.66 370Q398-80 325-111.5t-127.5-86q-54.5-54.5-86-127.27Q80-397.53 80-480.27 80-563 111.5-635.5q31.5-72.5 86-127t127.27-86q72.76-31.5 155.5-31.5 82.73 0 155.23 31.5 72.5 31.5 127 86t86 127.03q31.5 72.53 31.5 155T848.5-325q-31.5 73-86 127.5t-127.03 86Q562.94-80 480.47-80Zm-.47-60q55 0 107.5-16T691-212q-51-36-104-55t-107-19q-54 0-107 19t-104 55q51 40 103.5 56T480-140Zm0-370q34 0 55.5-21.5T557-587q0-34-21.5-55.5T480-664q-34 0-55.5 21.5T403-587q0 34 21.5 55.5T480-510Zm0-77Zm0 374Z"/></svg>
    <h3 class="align-center yb-pHead" style="color:gray;">PROFILE INFO</h3>
    <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-autoText yb-pText">Manage account, content, and privacy settings here.</p>
</div>
<br>
<button class="yb-button-flex bg-autoGray font-gray yb-button-halfWidth" style="">Privacy Settings</button>

<form class="yb-fillWidth yb-vScroll yb-autoText yb-margin-T10 align-center" method="POST" action="{% url 'settings_profile' %}" style="height: calc(100% - 300px); border-radius: 15px; padding-bottom: 150px;">

    {% csrf_token %}

        <div id="bio-preview-container" class="yb-padding-ALL5 font-medium squared yb-bg-autogray yb-pText yb-margin-T10">

                        
            <h3>Bio</h3>
            <div id="display-motto" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Motto: </p>
                <input name="motto" id='field-motto' value="{% if request.user.profile.motto %}{{request.user.profile.motto}}{% else %}Add Motto{% endif %}" class="yb-input-transparent right {% if request.user.profile.motto %} yb-pText yb-autoText {% else %} font-gray {% endif %} profile-field" style="padding-top: 10px;">
            </div>
            <br>

            <div id="bio-container">
                <textarea id="bio-field" name="bio" class="yb-bg-autoGray squared {% if request.user.profile.bio %} yb-pText yb-autoText {% else %} font-gray {% endif %} profile-field" style="width: 98%; height: 100px;">{% if request.user.profile.bio %}{{request.user.profile.bio}}{% else %} Add bio {% endif %}</textarea>
            </div>
            
            <br>
            <h3>Contact Info</h3>
            <div id="display-contact-email" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;"><p class="field-cover-label align-left" style="grid-column: 1;">Display Email: </p><input name="email" id='field-email' value="{{profile_info.email}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;"></div>

            <div id="display-phone" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;"><p class="field-cover-label align-left" style="grid-column: 1;">Display Phone: </p><input name="phone_number" id='field-display-phone' value="{{profile_info.phone_number}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;"></div>

            <br>
            <h3>My Address</h3>
            <div id="display-street-address" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">Street Address: </p>
                <input name="address" id='field-street-address' value="{{profile_info.address}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;">
            </div>

            <div id="display-city" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">City: </p>
                <input name="city" id='field-city' value="{{profile_info.city}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;">
            </div>

            <div id="display-state" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">State: </p>
                <input name="state" id='field-state' value="{{profile_info.state}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;">
            </div>

            <div id="display-country" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">State: </p>
                <input name="country" id='field-country' value="{{profile_info.country}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;">
            </div>

            <div id="display-website" class="yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-pText yb-margin-T10" style="display:grid; grid-template-columns: 1fr 1fr;">
                <p class="field-cover-label align-left" style="grid-column: 1;">First Name: </p>
                <input name="website" id='field-website' value="{{profile_info.website}}" class="yb-input-transparent right yb-pText profile-field" style="grid-column: 2;">
            </div>
        
        </div>  

      
</form>
<script class = "page-script" type="text/javascript" src="{% static 'scripts/yb_settings/yb_profileInfo.js' %}"></script>

<div id="mobile-spacer">
</div>

<script>
    $(document).ready(function(){
        tw_hideLoading();
    });
</script>
