
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' style='position: relative; display: grid; grid-template-columns: 1fr 5fr 1fr; margin-left: auto; margin-right: auto; width: 100%; height: 40px; margin-bottom: 20px;' >
    <div class="cb-panel-back"><svg class="yb-center-margin all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb">Profile Info</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-profile');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

    
<p style="font-size: small; text-align: center;" class="yb-autoText yb-margin-L5 yb-margin-R5">
    Manage the information about you on your profile. All information is 
    set to private by default. If you'd like to edit visibility permissions for friends or followers, 
    you can do so in Privacy Settings below.
</p>

<button class="yb-button-flex bg-gray-dark font-gray yb-button-halfWidth" style="">Privacy Settings</button>

<div class="yb-fillWidth yb-vScroll font-white yb-margin-T10 align-center" style="height: calc(100% - 150px); border-radius: 15px;">
    <!--Connecting groups will create a link to the group on the profile page-->
    <!--General-->
        <!--Profile Bio-->
            <!--TextArea-->
        <!--Gender-->
            <!--Dropdown-->
        <!--Change Profile Image-->

    <!--Contact Info-->
    <br>
        <div class="yb-panel-wide bg-gray-dark">
            <h3 style="position: relative; margin-left: auto; margin-right: auto; line-height:2; background-color:black; width: 200px; height: 35px; border-radius: 10px;">Contact Info</h3>
            <!--Phone Number-->
                <p class="yb-select-label">Phone Number</p>
                <!--TextInput-->
                <input type='text' id='phone-number' class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' placeholder="(555)555-5555">
            <!--Address-->
                <p class="yb-select-label">Address</p>
                <input type='text' id='street-address' class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
            <!--Hometown-->
                <!--Town-->
                <p class="yb-select-label">Hometown</p>
                <input type='text' id='town' class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
                <!--Connect Group-->
            <!--Email Address-->
                <p class="yb-select-label">Display Email <small><i>*If not the same as account email</i></small></p>
                <input type='text' id='email-address' class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
        </div>
    <!--Occupation-->
        <!--Workplace-->

        <div class="yb-panel-wide bg-gray-dark">
            <h3 style="position: relative; margin-left: auto; margin-right: auto; line-height:2; background-color:black; width: 200px; height: 35px; border-radius: 10px;">Work Info</h3>
            <br>
            <br>
            <!--Name-->
            <p class="yb-select-label">Employer Name</p>
            <input type='text' id='workplace-name' placeholder="Product Sales, Inc." class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' placeholder="'Workplace, Inc'">
            <br>
            <br>
            <!--Industry-->
            <p class="yb-select-label">Industry</p>
            <input type='text' id='industry-name' placeholder="Retail" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
            <br>
            <br>
            <!--Role-->
            <p class="yb-select-label">Role</p>
            <input type='text' id='workplace-role' placeholder="Shift Manager" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
            <br>
            <br>
            <!--Year Started-->
            <p class="yb-select-label">Start Date</p>
            <input type="date" class="yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10" id="input-job-start-date">
            
            <!--Connect Group-->
            <br>
            <br>
            Check if your employer has an existing group. Link to the group to join in
            on discussions with your colleagues.
            <br>
            <br>
            <button type="button" class="yb-form-button"><b><strong>+</strong></b> Connect Group</button>
            <br> 
            <br>
            <br>
            <br>

        </div>            
        <div class = "yb-panel-wide bg-gray-dark">
            <h3>Education Info</h3>
                <br>
                <br>
            <!--High School-->
                <!--Name-->
                <p class="yb-select-label">High School Name</p>
                <input type='text' id='hs-name' style="background-color: rgba(255,255,255,0.5); color: white;" placeholder="Ex. 'Weeby High'" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' value="{{request.user.profile.user_profile_info.high_school}}">
                <br>
                <br>
                <!--Attending Status-->
                    Did you graduate?
                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-align-text" id="yb-align-text" style="background-color: rgba(255,255,255,0.5); color: white;" placeholder="Paragraph Align" value="{{request.user.profile.user_profile_info.graduated_hs}}">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="ny">Not Yet</option>
                    </select>
                    <br>
                    <br>
                    <!--Year Graduated-->
                    What Year?
                    <input type="text" class="yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10" placeholder="Ex. '2023'" style="background-color: rgba(255,255,255,0.5); color: white;" name="year_graduated" value="{{request.user.profile.user_profile_info.year_graduated_hs}}">
                    <br>
                    <br>
                <!--Connect Group-->
                <p>Check if your school has an existing group. Link to the group to join in
                    on discussions with your peers.
                </p>
                <button type="button" class="yb-form-button"><b><strong>+</strong></b> Connect Group</button>
                <br>
                <br>
            <!--College-->
                <!--Name-->
                <p class="yb-select-label">College Name</p>
                <input type='text' id='college-name' placeholder="Ex. 'Weeby University'" style="background-color: rgba(255,255,255,0.5); color: white;" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' value="{{request.user.profile.user_profile_info.college}}">
                <br>
                <br>
                <!--Field of Study-->
                <p class="yb-select-label">Field of Study</p>
                <input type='text' id='field-of-study' placeholder="Ex. 'Computer Science'" style="background-color: rgba(255,255,255,0.5); color: white;" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' value="{{request.user.profile.user_profile_info.field_of_study}}">
                <br>
                <br>
                <!--Attending Status-->
                    Did you graduate?

                    <select type="text" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10' name="yb-align-text" id="yb-align-text" style="background-color: rgba(255,255,255,0.5); color: white;" placeholder="Paragraph Align" value="{{request.user.user_profile_info.currently_attanding_u}}">
                        <option value="yes">Yes</option>
                        <option value="no">No</option>
                        <option value="ny">Not Yet</option>
                    </select>
                    <br>
                    <br>
                    <!--Year Graduated-->
                    What Year?
                    <input type="text" class="yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10" placeholder="Ex. '2023'" name="year_graduated" value="{{request.user.profile.user_profile_info.year_graduated_u}}">
                <!--Connect Group-->
                <p>Check if your school has an existing group. Link to the group to join in
                    on discussions with your peers.</p>
                <button type="button" class="yb-form-button"><b><strong>+</strong></b> Connect Group</button>
                <br>
                <br>
                <br>
        </div>
        <div class="yb-panel-wide bg-gray-dark">
        <!--Hobbies-->
        <h3 style="position: relative; margin-left: auto; margin-right: auto; line-height:2; background-color:black; width: 200px; height: 35px; border-radius: 10px;">Interest/Hobbies</h3>
            <br>
            <!--Name-->  
            <b>Hobby Name</b>
            <input type='text' id='hobby-name' placeholder="Ex. 'Video Games'" style="background-color: rgba(255,255,255,0.5); color: white;" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
            <!--Connect Group-->
            <p>Check if your hobby has an existing group. Link to the group to join in
                on discussions with your peers.</p>
            <button type="button" class="yb-form-button"><b><strong>+</strong></b> Connect Group</button>
            <br>
            <br>
    <!--Faith-->
        <!--Religion-->
            
            <!--Name-->
            <p class="yb-select-label">Religion Name</p>
            <input type='text' id='religion-name' style="background-color: rgba(255,255,255,0.5); color: white;" placeholder="Ex. 'Christianity'" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
            <!--Connect Group-->
            <p>Check if your religion has an existing group. Link to the group to join in
                on discussions with your peers.</p>
            <button type="button" class="yb-form-button"><b><strong>+</strong></b> Connect Group</button>
            <br>
            <br>
        <!--Place of Worship-->
            <!--Name-->
            <p class="yb-select-label">Place of Worship Name</p>
            <input type='text' id='place-of-worship-name' style="background-color: rgba(255,255,255,0.5); color: white;" placeholder="Ex. 'Church of the Holy Spirit'" class='yb-input-singleLine bg-gray-dark squared yb-autoText yb-margin-T10'>
            <!--Connect Group-->
            <p>Check if your place of worship has an existing group. Link to the group to join in
                on discussions with your peers.</p>
            <button type="button" class="yb-form-button"><b><strong>+</strong></b> Connect Group</button>

    <!--Family-->
        <!--Family Tree-->
            <!--Add static members-->
            <!--Connect accounts-->

    <!--Default Space-->

    <!--Default Photos Layout-->

    <!--Pinned Bits-->
        <!--Standard-->
        <!--Smart Pinned-->

    </div>
</div>
<script class="page-script">

    $(document).ready(function(){
        yb_showBackTask();
        //Get the user ID from session values
        let this_id = yb_getSessionValues("username");
        //Get user data
        $.ajax({
            url: `/api/profiles/${username}/`,
            type: "GET",
            dataType: "json",
            success: function(data){
                console.log(data);
                
                
            },
            error: function(data){
                console.log(data);
            }
        });
        
        let load_indicator = document.getElementById("yb-loading-core");
        load_indicator.style.display = "none";
        
    });
</script>
<div id="mobile-spacer">
</div>