{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_toggleSettingsMenu()"><svg class="yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb"></h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-feed');"><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<div class="yb-flexColumn" id="settings-info">
    <svg class="yb-autoFill yb-center-margin lr" xmlns="http://www.w3.org/2000/svg" height="48px" viewBox="0 -960 960 960" width="48px" fill="#e8eaed"><path d="M480-80q-140-35-230-162.5T160-522v-238l320-120 320 120v238q0 152-90 279.5T480-80Zm0-62q106-35 175.5-128.5T737-480H480v-335l-260 97v196q0 12 .5 20.5T223-480h257v338Z"/></svg>
    
    <h3 class="align-center" style="color:gray;">PRIVACY</h3>
    <p style="font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;" class="yb-autoText">Manage account, content, and privacy settings here.</p>    

</div>


    <form id="privacy-form" method="POST" action="{% url 'settings_privacy' %}" class="yb-fillWidth yb-vScroll yb-autoText yb-margin-T10 align-center" style="height: calc(100% - 150px); border-radius: 15px;">
        <!--All settings should include an explanation with a question
             mark symbol used for activation located right of the label
            
             NOTE: All information privacy settings are set to Private
             until set public by user. 
        -->

        <!--Profile Publicity: Private/Public (Default Private)-->
            <!--Switch-->
            <br>
            {% csrf_token %}
            
            <div class="setting-container" style="padding-bottom: 150px;">
                <h3>Profile</h3>
                <br>
                <div class = "yb-switch-container-grid">
                    <div>
                        
                        <p class="yb-switch-label">Allow followers</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="enable_followers" id="yb-check-enable-follow">
                            <span class="slider round"></span>
                        </label>
                    </div>     
                    <div>
                        <p class="yb-switch-label">Show Reputation</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="show_rep" id="yb-check-show-rep">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <p class="yb-switch-label">Seach by real name</p>
                        <label class="yb-switch-round" id="yb-real-search" style="grid-column: 2;">
                            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-real-search">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                    <!--Real name in search: Allow match and allow result display-->
                    <!--Allow match (doesn't show name but matches on name search)-->
                        <!--Switch-->
                        <p class="yb-switch-label">Use Alias in Search Results</p>
                        <label class="yb-switch-round" id="yb-real-search" style="grid-column: 2;">
                            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-real-search">
                            <span class="slider round"></span>
                        </label>
                    </div>

                    
                </div>
                <hr>
                <!--Real name visibility: Everyone/FriendsOnly/Hide-->
                <!--dropdown-->
                <br>
                
                <p class="yb-select-label">Show my real name to:</p>
                <div id="yb-field-container-real-name" class="yb-field-container">

                    <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' value="{{settings.privacy.real_name_visibility}}" name="yb-real-name" id="yb-field-real-name" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
                <!--Show Birthday: Everyone/FriendsOnly/Hide-->
                <!--Dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Show Birthday:</p>
                <div id="yb-field-container-birthday" class="yb-field-containter">
                    <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-select-birthday" value="{{settings.privacy.birthday_visibility}}" id="yb-field-birthday" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>

                <!--Display Phone Number: Everyone/FriendsOnly/Hide-->
                <!--Dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Display Phone Number</p>
                <div id="yb-field-container-phone-number" class="yb-field-container">
                    <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-phone-number-select" value="{{settings.privacy.phone_number_visibility}}" id="yb-field-phone-number" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>

                <!--Display Email: Everyone/FriendsOnly/Hide-->
                <!--Dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Display Email</p>
                <div id="yb-field-container-email" class="yb-field-container">
                    <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-select-email" id="yb-field-email" value="{{settings.privacy.email_visibility}}" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
                            <!--Show Friend Count: Everyone/FriendsOnly/Hide-->
                <!--dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Show Friend Count</p>
                <div id="yb-field-container-friend-count" class="yb-field-container">
                    <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-select-friend-count" id="yb-field-friend-count" value="{{settings.privacy.friend_count_visibility}}" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>
            <!--Show Follower Count: Everyone/FriendsOnly/Hide-->
                <!--dropdown-->
                <br>
                <br>
                <p class="yb-select-label">Show Follower Count</p>
                <div id="yb-field-container-follow-count" class="yb-field-container">
                    <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-select-follow-count" id="yb-field-follow-count" value="{{settings.privacy.follower_count_visibility}}"  placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                        <option value="e">Everyone</option>
                        <option value="fr">Friends Only</option>
                        <option value="no">Nobody</option>
                    </select>
                </div>              
            

                <!--Mailing Address Visibility: Everyone/FriendsOnly/Private-->
                <!--Dropdown-->
                <br>
                <br>
                <div>
                    <b>Mailing Address</b>
                    <p><i>
                        First and Last Name
                        <br>
                        Address
                        <br>
                        City, ST
                        <br>
                        Zip
                    </i>
                    </p>
                    <button type='button' class="yb-button-wide yb-bg-autoGray font-gray yb-button-halfWidth rounded">Edit</button>
                    <br>
                    <br>
                    <p class="yb-select-label">Display Mailing Address</p>
                    <div id="yb-field-container-display-mailing" class="yb-field-container">
                        <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-align-text" id="yb-field-display-mailing" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                            <option value="e">Everyone</option>
                            <option value="fr">Friends Only</option>
                            <option value="no">Nobody</option>
                        </select>
                    </div>  
                </div>
                <br>
                <h3>Bits</h3>
                <br>
                <!--Bit Sharing: On/Off-->
                <!--Switch-->
                <div class="yb-switch-container-grid">
                    <div>
                        <p class="yb-switch-label">Allow Sharing</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="enable_share" id="yb-check-enable-share">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <p class="yb-switch-label">Allow Friends of Friends</p>
                        <label class="yb-switch-round" id="yb-reach" >
                            <input type="checkbox" class="checkbox" name="exclude_shared" id="yb-check-reach">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div>
                        <p class="yb-switch-label">Default Publish Public</p>
                        <label class="yb-switch-round" id="yb-exclude-shared" >
                            <input type="checkbox" class="checkbox" name="default_public" id="yb-check-default-public">
                            <span class="slider round"></span>
                        </label>
                    </div>       
                </div>
                <br>
                <h3>Messaging</h3>
                <br>
        
                <!--Messaging (Default Friends Only)-->
                    <!--Messages: Everyone/Followers+Friends/FriendsOnly-->
                        <!--dropdown-->

                <div>
                    <p class="yb-select-label">Allow Messages From:</p>
                    <div id="yb-field-container-align-text" class="yb-field-container">
                        <select type="text" class='yb-padding-ALL5 font-medium squared yb-bg-autoGray yb-font-autoGray yb-margin-T10' name="yb-align-text" id="yb-align-text" placeholder="Paragraph Align" style="width: 95%; margin-left: auto; margin-right: auto;">
                            <option value="e">Everyone</option>
                            <option value="fr">Friends Only</option>
                            <option value="no">Nobody</option>
                        </select>
                    </div>
                </div>
                <br>
                <!--Disclaimer-->
                <p class="font-small">
                    Yourbit does not track your activity outside of the Yourbit app,
                    cookies are used for session only. Messages, personal information, 
                    and, private bits are encrypted in the database and cannot be read
                    by site administration.
                </p>
            </div>
        <!--Display Reputation (Default False)-->
            <!--Switch-->

        <!--Bits (Default Private)-->
            <!--Bit publicity: Private/Public-->
                <!--Switch-->
            <!--Friends of Friends: On/Off-->
                <!--Switch--> 

        <!--Personal Info (Default Private)-->
        
    </form>
    <script type='text/javascript' class="page-script" src="{% static 'scripts/yb_settings/yb-ajax.js' %}"></script> 
    <div id="mobile-spacer">
    </div>

    <script>
        $(document).ready(function(){
            tw_hideLoading();
        });
    </script>