    {% load static %}
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
    <div id='div-header' style='position: sticky; top: 0px; z-index:10; background-color: black; display: grid; grid-template-columns: 24px 5fr 1fr; margin-left: auto; margin-right: auto; width: 100%; height: 40px;' >
        <div class="cb-panel-back"><svg class="yb-center-margin tb" style="position: relative;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
        <h3 class="yb-fillWidth yb-margin-L10 yb-autoText yb-center-margin tb">Settings</h3>
        <div class='yb-button-close' id='cb-panel-close' onclick='yb_toggle2WayContainer("settings")'><svg class="yb-center-transform all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
    </div>

    <div id="settings-container" style="padding-top: 0px;">
        <br>
        <p style="color:white; font-size: small; font-weight: 550; padding-left: 5px; padding-right: 5px; font-family: 'Roboto', sans-serif; text-align: center;">Manage account, content, and privacy settings here.</p>    
        <br>
        <div class="settingsBox" id="void-subscription">
            <h3 class="setting-header">Subscription</h3>
            <p class="setting-description">
                Manage your paid subscriptions and payment methods on yourbit
            </p>
            <button class="editSetting pointer-object" name="subscription">Edit</button>
            
        </div>

        <div class="settingsBox" id="account-settings">
            <div class="setting-header-container" id="account-settings-header-container">
                <h3 class="setting-header" id="account-settings-header"> Account </h3>
            </div>
            <p id="account-settings-description" class="setting-description">
                Change account settings, like username, email, and name.
            </p>
            <button class="editSetting pointer-object" name="account">Edit</button>
        </div>

        <div class="settingsBox" id="profile-settings">
            <div class="setting-header-container" id="profile-settings-header-container">
                <h3 class="setting-header" id="profile-settings-header"> Profile information </h3>
            </div>
            <p id="profile-settings-description" class="setting-description">
                Change information about you on your profile.
            </p>
            <button class="editSetting pointer-object" name="profile">Edit</button>
        </div>
        
        <div class="settingsBox" id="personalization">
            <h3 class="setting-header" id="personalize-header">Personalization</h3>
                <p class="setting-description">
                    Edit profile colors, profile, image, background image, fonts, bio, gender, and default spaces.
                </p>
                <button class="editSetting pointer-object" name="customize">Edit</button>
        </div>

        <div class="settingsBox" id="privacy">
            <h3 class="setting-header">Privacy</h3>
            <p class="setting-description">Manage your privacy and exposure settings here, like who you wish to see your posts, what information do friends and followers have access to, and how your data is used.</p>
            <button class="editSetting pointer-object" name="privacy">Edit</button>
        </div>

        <div class="settingsBox" id="moderation-bot">
            <h3 class="setting-header">Feed/Reccomendation Control</h3>
            <p class="setting-description">Modify feed algorithms to tailor yourbit feeds to your liking, create presets and use quick visibility settings to jump to various feed settings depending on your mood.</p>
            <button class="editSetting pointer-object" name="feed">Edit</button>
        </div>

        <div class="settingsBox" id="monetization">
            <h3 class="setting-header">Monetization</h3>
            <p class="setting-description">Manage settings for sending and recieving tips, promotional monetization coming soon.</p>
            <button class="editSetting pointer-object" name="monetization">Edit</button>
        </div>

    </div>
    <div class="settingFormContainer" id="subscription-form-container">
        <div id="subscription-form-box">
            <form id="subscription-form">
                
            </form>
        </div>
    </div>
    <div class="yb-logo-footer small" id="create-menu-footer" style="position: relative; margin-left: auto; margin-right: auto;">
        <img src="{% static 'images/2023-logo-draft.png' %}" style="width: 100%; position: relative;" alt="YB Logo" class="yb-logo-small">
    </div>
    <div id="mobile-spacer" style="height: 40px;">
    </div>
<script type="text/javascript">
    var base_url = window.location.origin;
        
    $(document).ready(function() {
        /* yb_showMiniBar(); 
        yb_showMenuTask();   */
        $('#content-container').animate({'top':'0px'});
        /* yb_hideSpaceBar();*/

        /* let load_indicator = document.getElementById("yb-loading-core");
        load_indicator.style.display = "none"; */
        
    });
    
    $('#back-to-home').click(function() {
        window.location.href = `${base_url}/bitstream/home/`
    });

    function yb_handleEditClick(e){
        let this_item = e.target;
        let action = this_item.getAttribute("name");
        console.log(action)

        console.log("profile info clicked")

        if (action === "customize") {
            console.log("if")
            yb_toggle2WayContainer("settings");
            customize_url("");
        } else {
            let container = yb_toggle2WayContainer('settings-profile');
            if (container[0] === "closing"){
                history.pushState(null, null, "/");
                container[1].setAttribute("data-state", "empty");
            } else {
                console.log("not closing")
                let container_content = container[1].querySelector(".yb-2Way-content");
                container[1].setAttribute("data-state", `settings-${action}`);
                $(container_content).load(`/settings/templates/${action}/`)
                history.pushState({}, "", `/settings/${action}/`);
        
            }
        }

    }

    for (let i = 0; i < document.getElementsByClassName("editSetting").length; i++) {
        document.getElementsByClassName("editSetting")[i].addEventListener("click", yb_handleEditClick);
    }

</script>