{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/yb_settings/yourbit_settings.css' %}"/>
<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_toggleSettingsMenu()"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb">Yourbit Eclipse Subscription</h3>
    <div class='yb-button-close' id='cb-panel-close' onclick="yb_toggle2WayContainer('settings-subscription');"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></div>
</div>

<p style="font-size: small; text-align: center;" class="yb-font-auto yb-margin-L5 yb-margin-R5">
    We are currently offering a free ad 
    free subscription while developing 
    Adellites! We will notify you 30 days
    prior to launching ads. 
    <br>
    <br>
    <br>
    Note: 
    <br>
    You will <b>NOT</b> be
    auto enrolled into a subscription. Until 
    then, if you would like to support Yourbit,
    consider donating! Or check out the merch 
    store!
</p>

<div class="yb-fillWidth yb-vScroll yb-font-auto yb-margin-T10 align-center" style="height: calc(100% - 150px); border-radius: 15px;">
    <br>
    <br>
    <h2 style="text-align: center; margin-left: auto; margin-right: auto; color: darkgray; text-shadow: 2px 2px 5px black;">Not Yet Available</h2>
    <table style="border: 1px solid white; font-size: small; border-radius: 5px; background-color: rgba(0, 0, 0, 0.5);">
        <tr style="border: 1px solid white; border-radius: 5px;">
            <th></th>
            <th>Free</th>
            <th>Lunar</th>
            <th>Solar</th>
        </tr>
        <tr>
            <th>Price</th>
            <td style="border: 1px solid white; border-radius: 5px;">Free</td>
            <td style="border: 1px solid white; border-radius: 5px;">$4.99/month</td>
            <td style="border: 1px solid white; border-radius: 5px;">$9.99/month</td>
        </tr>
        <tr>
            <th>Ads</th>
            <td style="border: 1px solid white; border-radius: 5px;">Ads Enabled</td>
            <td style="border: 1px solid white; border-radius: 5px;">Ads Limited on Feeds</td>
            <td style="border: 1px solid white; border-radius: 5px;">Ads Limited on Feed and Video</td>
        </tr>
        <tr>
            <th>Video Upload</th>
            <td style="border: 1px solid white; border-radius: 5px;">10 Minutes<br>(1080p)</td>
            <td style="border: 1px solid white; border-radius: 5px;">Unlimited<br>(2K)</td>
            <td style="border: 1px solid white; border-radius: 5px;">Unlimited<br>(4K)</td>
        <tr>
        <tr>
            <th>Message Attachments</th>
            <td style="border: 1px solid white; border-radius: 5px;">500MB</td>
            <td style="border: 1px solid white; border-radius: 5px;">2GB</td>
            <td style="border: 1px solid white; border-radius: 5px;">5GB</td>
        </tr>
        <tr>
            <th>Embed Branding</th>
            <td style="border: 1px solid white; border-radius: 5px;">Branded Embeds</td>
            <td style="border: 1px solid white; border-radius: 5px;">Branded Embeds</td>
            <td style="border: 1px solid white; border-radius: 5px;">No Branding on Embeds</td>
        </tr>
        <tr>
            <th>Customization</th>
            <td style="border: 1px solid white; border-radius: 5px;">Standard</td>
            <td style="border: 1px solid white; border-radius: 5px;">Standard</td>
            <td style="border: 1px solid white; border-radius: 5px;">Custom HTML Profile</td>
        </tr>
        <tr>
            <th>Rewards Multiplier</th>
            <td style="border: 1px solid white; border-radius: 5px;">1x</td>
            <td style="border: 1px solid white; border-radius: 5px;">1.5x</td>
            <td style="border: 1px solid white; border-radius: 5px;">2.5x</td>
        </tr>

    </table>
</div>
<script>
    $(document).ready(function() {
        
        let load_indicator = document.getElementById("yb-loading-core");
        load_indicator.style.display = "none";
    
    });
</script>