<!--Title Field-->
<input type="text" id="bb-field-bitTitle" class="yb-builderBit yb-tform-cntrOrigin bb-field yb-autoText squared font-large font-heavy align-center border-solid narrowBorder" style="position: relative; height: 30px; width: 75%; {% if build_mode == 'edit' and bit.title is not '' %}transform: scale(1,1);{%else%}transform: scale(0); display:none;{%endif%}left:50%; transform:translateX(-50%);" placeholder="{% if build_mode == 'edit' and bit.title is not ''%}{{bit.title}}{%else%}Title{%endif%}">
{% comment %} {{ bit_form.title }} {% endcomment %}
<button type="button" style="height: 25px; width: 75%;
    {% if build_mode == "edit" %}
        {% if bit.title != "" %}
            transform: translateX(-50%) scale(0); display:none;
        {%endif%}
    {%endif%}" id="title-bit-preview-button" class="yb-button-flex squared transparent font-white font-small yb-center-transform lr bb-button">    
    Add Title
</button>
<h3 class="yb-title-bit yb-autoText" id="title-bit-preview" style="display: none;">Title</h3>