
<div id="header-bit-preview" class="yb-header-bit preview yb-gap10">
    <div id="profile-image" class="element-accent profile-image-thumbnail small border-solid plainBorder narrowBorder circle" data-username="achaney55" style="border-color: white; overflow: hidden;">
        <img class="image-thumbnail-round small" style="object-fit:fill;" src="{{profile_thumbnail_small}}">
    </div>
    <p id="bit-info-preview" class="yb-userInfo-bit align-left">
        <strong id="chat-user-name" class="bit-name" style="color:white;">
            {{user_profile.display_name}}
        </strong> 
        <br>
        <small class="bit-username" style="color: gray;">
            @{{user_profile.username}}
        </small>
    </p>
    <div id="time-posted-preview" class="yb-timeLabel-bit">
        <p class="bit-date-preview" style="padding: 0px; margin: 0px;" id="bit-date-preview">October 01, 2023</p> 
        <small id="time-label" style="padding: 0px; margin: 0px;">@00:00 AM</small>
    </div>
</div>