{% load static %}
<div class="yb-fillContainer yb-vScroll">
<div id='div-header' class="div-header">
    <div class="cb-panel-back" onclick="yb_startBitStream()"><svg class="yb-margin-center tb" xmlns="http://www.w3.org/2000/svg" height="100%" viewBox="0 -960 960 960" width="24"><path class="yb-autoFill" d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg></div>
    <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-pHead yb-margin-center tb" onclick="yb_startBitStream()">Bitstream</h3>
  </div>

<h1>Yourbit Store</h1>



