<!--Yourbit 2   base.html    Version Date: 10/24/2023   Creation: 5/07/2021-->

<!--Docs 1.1 | Templates-->

{% load static %}


<!DOCTYPE html>
<html
style="overscroll-behavior-y: contain;"
lang="en"
>
    <head>
        <title>Yourbit | Bitstream</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link rel="manifest" href="{% static 'manifest.json' %}">
        <meta name="description" content="Yourbit is an open source social media platform that allows users to customize their profile.">
        <meta name="keywords" content="Yourbit, Bitstream, Social Media, Content Creation, Social Network, Bits, Video, Photo">
        <meta name="author" content="Austin Chaney">

        {% include 'main/root_style_embed.html' %}

        {% if custom_core.ui_colors_on%}
            <meta name = "theme-color" content = "{{user_custom_ui.primary_color}}">
        {% else %}
            <meta name = "theme-color" content = "var(--yb--default-primary-color)">
        {% endif %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/main/favicon.ico'%}">
        <script
            defer
            src="https://www.gstatic.com/cv/js/sender/v1/cast_sender.js?loadCastFramework=1"
        ></script>
        
            <!--Root CSS Variables-->
        {% if request.user.is_authenticated %}
            
            <input type="hidden" id="auth-status" value="true">
        {% else %}
            <input type="hidden" id="auth-status" value="false">
        {% endif %}
        
        <!--End Root CSS Variables-->

        <!--Core Styles-->
        <link 
            rel="stylesheet" 
            href="{% static 'css/main/yb_animations.css' %}"/>


        <link 
            rel="stylesheet" 
            id="yb-stylesheet-container"
            href="{% static 'css/main/yb_containers12.css' %}"/>
        


        {% if custom_core.ui_colors_on %}
            <link 
                rel="stylesheet" 
                id="yb-stylesheet-modifier"
                href="{% static 'css/main/yb_modifiers_customized6.css' %}"/>

            <link 
                rel="stylesheet" 
                id="yb-stylesheet-core"
                href="{% static 'css/main/yb_core_customized11.css' %}"/>
{% comment %} 
                
            <link 
                rel="stylesheet" 
                id="yb-stylesheet-container"
                href="{% static 'css/main/yb_containers_customized.css' %}"/> {% endcomment %}

            <link 
                rel="stylesheet" 
                id="yb-stylesheet-button"
                href="{% static 'css/main/yb_buttons_customized9.css' %}"/>

        {% else %}
            <link 
                rel="stylesheet" 
                id="yb-stylesheet-core"
                href="{% static 'css/main/yb_core9.css' %}"/>


            <link 
                rel="stylesheet" 
                id="yb-stylesheet-modifier"
                href="{% static 'css/main/yb_modifiers5.css' %}"/>

            <link 
                rel="stylesheet" 
                id="yb-stylesheet-button"
                href="{% static 'css/main/yb_buttons7.css' %}"/>




        {% endif %}

        
        <link 
            rel="stylesheet" 
            href="{% static 'css/main/yb_inputs.css' %}"/>
        
        <link 
            rel="stylesheet" 
            href="{% static 'css/main/coloris.css' %}"/>
        <!--End Core Styles-->

    </head>

    <!--Import External Scripts-->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.12/lottie.min.js">
    </script>
    
    <script 
        src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
    </script>

    <!-- HLS Script for custom video API's-->
    <script src="https://cdn.jsdelivr.net/npm/hls.js@1.4.0"></script>

    <!-- Mux Player Import Script. Scheduled for deletion-->
    <script src="https://cdn.jsdelivr.net/npm/@mux/mux-player"></script>

    <link  rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mux/mux-player/themes/minimal"></link>
    
    <!-- Import cropper js and styling-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js" async></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />


    <!--Import Systems-->
    {% comment %} <script src="{% static 'scripts/yb_systems/yb_timeKeeper.js' %}"></script> {% endcomment %}
    <script src="{% static 'scripts/yb_systems/yb_sessions1.js' %}"></script>
    
    
    
    <body onload="{{start_function | safe}}" >
        <input id='csrf-token' type='hidden' value={{csrf_token}}>

        <div class="yb-background-overlay">
        </div>
        <div id="bg-image-a" class="yb-background-image">
            <img style="min-width:100%; min-height: 100%;" id="bg-image-source-a" src="{{wallpaper_desktop}}"></img>
        </div>
        
        <div id="bg-image-b" class="yb-background-image" style="display:none;">
            <img style="min-width:100%; min-height: 100%;" id="bg-image-source-b" src="{{wallpaper_desktop}}"></img>
        </div>

        
        {% include 'main/user_data_values.html' %}
        


        <input type="hidden" id="yb-timekeeper-node" data-month="" data-day="" data-hours="" data-minutes="" data-seconds="">

      
        <!--Page content start-->
        
        <div class="notification-widget yb-panel" id="notification-widget">
            <div class="notification-icon-container yb-fillWidth yb-margin-center all" id="notification-icon-container" style="grid-column: 1;">
                <img class = "yb-logo-masthead" style="width: 100%;" src="{% static 'images/main/yourbit-logo2023-01.svg' %}">
            </div>
            <div class="notification-widget-content yb-font-auto align-left" id="notification-widget-content" style="grid-column: 2;">
            </div>

        </div>

        <div class="yb-top-banner yb-panel yb-font-auto align-center" id="notification-permission-banner">
            <div class="yb-top-banner-content yb-fillWidth yb-relative yb-flexColumn">
                <div class="yb-top-banner-text yb-fillWidth yb-margin-center tb yb-flexColumn">
                    <h2 class="yb-font-auto font-medium">Enable Notifications</h2>
                    <p class="yb-font-auto font-small">Get notified when someone sends you a message or reacts to your content</p>
                </div>
                <br>
                <div class="yb-fillWidth">
                    <button class="yb-button-wide yb-red font-white yb-margin-L10 squared" style="width: 25%;" id="button-dismiss-notifications" onclick="hideTopBanner()">Dismiss</button>
                    <button class="yb-button-wide green font-white yb-margin-R10 squared" style="width: 25%;" id="button-enable-notifications" onclick="requestNotificationPermission()">Enable</button>
                </div>
            </div>
        </div>
        
        
        <!-- Mobile UI header -->
        {% if request.user.is_authenticated %}
            {% include 'main/mobile_header_auth.html' %}
            
         {% else %}
            {% include 'main/mobile_header_noauth.html' %}
         {% endif %}



        {% include 'main/spotlight_container.html' %}
        <div id = "floating-text" class="yb-container-floatingText">
            <input type="text" id="input-floating-text" id="yb-input-floatingText" value="" placeholder="Search Yourbit" class="yb-input-floatingText yb-input-singleLine rounded font-black blend narrowBorder">
        </div>


        {% if request.user.is_authenticated %}
            {% include 'main/yb_navbar_auth.html' %}

        {% else %}
            {% include 'main/yb_navbar_noauth.html' %}
        {% endif %}

        <!--Profile Menu 2 Way container element-->
        {% if request.user.is_authenticated %}
            {% include 'main/menu.html' %}
        {% endif %}


        {% block content %}

        {% endblock %}

        <div id="top-layer" class="yb-top-layer">
            
        <!--Prompts-->
        {% include 'main/prompts.html' %}
        
        <!--Main loading initial app-->
        <div class = "yb-fsContainer still yb-panel" id="yb-loading-main" style="transition: 0.5s; display:block;">
            <div id="yb-loading-iconContainer" class="yb-loading-iconContainer" style="position: relative; top: 0px; left: 0px; width: 100vw; height: 100vh;">
                <object type="image/svg+xml" class="loading-icon-animated" data="{% static 'images/main/animated_loading_screen.svg' %}"></object>
                <p class="loading-text yb-font-auto yb-fillWidth align-center font-medium yb-bounceDown-infinite font-gray">Loading Bitstream...</p>
            </div>
            
            <script>
                var loading = document.getElementById('yb-loading-iconContainer');
                //If on safari add "yb-blink-soft" and "infinite" to the class list
                if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
                    loading.classList.add('yb-blink-soft');
                    loading.classList.add('infinite');
                }
            </script>
        </div>

        {% include 'main/two_way_container.html' %}

        <!--Reusable Slide Up Container-->
        <div class = "yb-fsContainer list-menu yb-panel" id="yb-slide-up-core">
            <div id="loading-slide-up" class = "yb-loadingCircle main"></div>
        </div>
        {% if request.user.is_authenticated %}
            <!--Create Bit Mobile Button-->
            <div id="create-button-popout" class="yb-button-popout left yb-panel">
                <svg class="yb-icon yb-margin-center all" xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path class='yb-ui-icon yb-autoFill mobile-floating-actions-path' d="M218.87-135.869q-34.483 0-58.742-24.259t-24.259-58.742v-522.26q0-34.896 24.109-59.448 24.109-24.553 58.892-23.553h345.76l-83 83.001H218.87v522.26h522.26v-262.282l83.001-83v345.282q0 34.483-24.259 58.742t-58.742 24.259H218.87ZM480-480Zm-99.826 99.826v-158.5l350.413-350.174q12.674-12.674 27.587-18.391 14.913-5.718 30.565-5.718 16.313 0 31.396 5.718 15.083 5.717 27.698 18.174l41.015 40.934q12.913 12.674 18.63 27.913 5.718 15.239 5.718 31.003 0 15.789-5.823 31.108-5.822 15.32-18.525 27.998L538.674-380.174h-158.5Zm456.717-409.065L789-836.891l47.891 47.652Zm-378.5 330.848h47.652l228.848-228.848-23.238-24.326-24.175-23.326-229.087 228.848v47.652Zm253.262-253.174-24.175-23.326 24.175 23.326 23.238 24.326-23.238-24.326Z"/></svg>
                
            </div>

            <!--Search Mobile Button-->
            <div id="search-button-popout" class="yb-button-popout right yb-panel" href="{% url 'search-results' %}">
                <svg class ="yb-icon yb-margin-center all" xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="32"><path class='yb-ui-icon yb-autoFill mobile-floating-actions-path' d="M764.522-134.913 523.848-375.587q-29.761 21.044-65.434 33.065-35.672 12.022-76.292 12.022-102.187 0-173.861-71.674Q136.587-473.848 136.587-576q0-102.152 71.674-173.826Q279.935-821.5 382.087-821.5q102.152 0 173.826 71.674 71.674 71.674 71.674 173.861 0 40.859-12.022 76.292-12.021 35.434-33.065 64.956l240.913 241.152-58.891 58.652ZM382.087-413.5q67.848 0 115.174-47.326Q544.587-508.152 544.587-576q0-67.848-47.326-115.174Q449.935-738.5 382.087-738.5q-67.848 0-115.174 47.326Q219.587-643.848 219.587-576q0 67.848 47.326 115.174Q314.239-413.5 382.087-413.5Z"/></svg>
                
            </div>
        {% endif %}

        <!--YB Card is a vertical rectangular element with rounded corners centered on screen-->
        <div class="yb-card yb-vScroll yb-panel" id="yb-card">
        </div>

        <div id="core-focus-container" class="yb-container-focus">
        </div>

        <div id="photo-viewer" class="photo-viewer">
            {% include "yb_bits/full_screen_image.html" %}
        </div>

        <div id="core-drawer-container" style="overflow: visible;" data-state = "empty" class="yb-container-drawer yb-panel squared">
            <div class="yb-drawer-content" id="drawer-content">
                <!--Dynamic content will load here-->
            </div>
        </div>

        <div class="layer-divider-1" id="element-divider-1" style="display:none;">

        </div>

        <div class="yb-iframe-container" id="yb-iframe-mobile" style="position: fixed; top: 0px; left: 0px; width: 100vw; height: 100vh; background-color: black; z-index: 1100; display: none;">

            <div id="div-header" class="div-header" style="position: absolute; z-index: 2; display:grid; grid-template-columns: 1fr 1fr; top: 0px; left: 0px; width: 100%; height: 50px;">
                <h3 class="yb-fillWidth yb-margin-L10 yb-font-auto yb-margin-center tb">Mobile Preview</h3>
                <div class="yb-button-close" id="cb-panel-close" onclick="yb_hideIframe();"><svg class="yb-transform-center all yb-icon small" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path class="yb-fill-white" d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"></path></svg></div>
            </div>
            <div id="wrap" style="position: relative; top: 0px; left: 0px; height: 100%; width: 100%;">
                <iframe id="mobile-preview" class="yb-iframe-mobile-window" src="" style="    position: absolute;
                    pointer-events: none;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 655px;
                    border: none;
                    width: 314.4px;
                    border-radius: 25px; overflow: hidden;">
                </iframe>
            </div>
        </div>
    </body>

    <!--Import main scripts-->
    <script type="text/javascript" src="{% static 'scripts/main/yb_containers14.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/yb_systems/yb_routes20.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main/coloris.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main/yb_create.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'scripts/yb_customize/yb_customCore15.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/yb_notify/yb_notify.js' %}"></script>
    {% comment %} <script type="text/javascript" src="{% static 'scripts/main/yb_dragonDrop5.js' %}"></script> {% endcomment %}
    <script type="text/javascript" src="{% static 'scripts/main/yb_globalEvents.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main/yb_coreHandlers.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/yb_search/yb_search.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main/yb_elements3.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main/yb_2Way.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/main/yb_master17.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/yb_bitstream/yb_bitstream1.js' %}"></script>

    <script type="text/javascript" src="{% static 'scripts/menu/yb_menu3.js' %}"></script>


    <script type="text/javascript" src="{% static 'scripts/yb_bits/yb_bits29.js' %}"></script>
</html>