{% extends "social/base.html" %}
<html>
    {% load static %}
    



    {% block content %}
    <div id="content-container"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/personalization.css' %}"/>
    <h1>Personalization</h1>

    <div id="settingsGrid">
        <div id="profile-personalization" class = "personalizationPanel">
            <h2>Profile</h2>
                <p>Profile Picture</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ profile_image_form.image }}
                    <button type="submit" name="profile_image_button">Upload</button>
                </form>

        </div>
        <div id="postPersonalization" class = "personalizationPanel">
            <div id="ppGrid">
                <h2>Posts</h2>
                <div id="primaryColor">
                    <div id="previewSquare">
                        <p id="postText">preview</p>
                    </div>
                    <br>
                    <p>Primary Color</p>
                    <div id="color-select-container">
                        
                        <div class="color-options"id="option1" onclick='SetColor("88", "0", "206")'></div>
                        <div class="color-options" id="option2" onclick='SetColor("16", "175", "0")'></div>
                        <div class="color-options" id="option3" onclick='SetColor("225", "111", "0")'></div>
                        <div class="color-options" id="option4" onclick='SetColor("229" , "9" , "9")'></div>
                        <div class="color-options" id="option5" onclick='SetColor("0", "92", "206")'></div>
                        <div class="color-options" id="option6" onclick='SetColor("129", "220", "0")'></div>
                        <div class="color-options" id="option7" onclick='SetColor("247", "192", "0")'></div>
                        <div class="color-options" id="option8" onclick='SetColor("226", "0", "122")'></div>
                        <div class="color-options" id="option9" onclick='SetColor("0", "162", "255")'></div>
                        <div class="color-options" id="option10" onclick='SetColor("108", "108", "108")'></div>
                        <div class="color-options" id="option11" onclick='SetColor("133", "133", "133")'></div>
                        <div class="color-options" id="option12" onclick='SetColor("185", "185", "185")'></div>
                    </div>
                    <div id = "transparencyAmount">

                        <label for="slider">Background Opacity</label>
                        <br><br>
                        <input type="range" min=".50" max="1.0" value="1.0" step="0.01" class="range" id="transparencySlider" oninput="SetOpacity()">
                        <button type="button" id="updatePreview" onclick="UpdatePreview()">Update</button>
                    </div>
                </div>
                <br>
                <div>
                    <p>Text color</p>
                    <div id="color-select-container">
                        
                        <div class="text-color-options" id="textOption1" onclick='SetTextColor("rgb(88, 0, 206)")'></div>
                        <div class="text-color-options" id="textOption2" onclick='SetTextColor("rgb(16, 175, 0)")'></div>
                        <div class="text-color-options" id="textOption3" onclick='SetTextColor("rgb(225, 111, 0)")'></div>
                        <div class="text-color-options" id="textOption4" onclick='SetTextColor("rgb(229, 9, 9)")'></div>
                        <div class="text-color-options" id="textOption5" onclick='SetTextColor("rgb(0, 92, 206)")'></div>
                        <div class="text-color-options" id="textOption6" onclick='SetTextColor("rgb(129, 220, 0)")'></div>
                        <div class="text-color-options" id="textOption7" onclick='SetTextColor("rgb(247, 192, 0)")'></div>
                        <div class="text-color-options" id="textOption8" onclick='SetTextColor("rgb(226, 0, 122)")'></div>
                        <div class="text-color-options" id="textOption9" onclick='SetTextColor("rgb(0, 145, 205)")'></div>
                        <div class="text-color-options" id="textOption10" onclick='SetTextColor("rgb(108, 108, 108)")'></div>
                        <div class="text-color-options" id="textOption11" onclick='SetTextColor("rgb(133, 133, 133)")'></div>
                        <div class="text-color-options" id="textOption12" onclick='SetTextColor("rgb(185, 185, 185)")'></div>
                        <div class="text-color-options" id="textOption13" onclick='SetTextColor("black")'></div>
                        <div class="text-color-options" id="textOption14" onclick='SetTextColor("white")'></div>

                    </div>
                    <br><br>
                </div>
            </div>

        </div>

        <div id="background" class="personalizationPanel">
            <div id="backgroundGrid" >
                <div id="lightSwitch">
                    <h2>Theme</h2>
                    <h3>Mode</h3>
                    <label for="theme" class="lightSwitchLabel" id="switchLabelDark">Dark</label>
                    <label class="switch" id="theme">
                        <input type="checkbox" onclick="ChangeTheme()" id="themeSwitch">
                        <span class="slider round"></span>
                    </label>
                    <label for="theme" class="lightSwitchLabel" id="switchLabelLight">Light</label>
                </div>
                <br><br>
                <h3>Wallpaper</h3>
                <div id="wallpaperPreview">
                    <p id="previewLabel">preview</p>
                </div>
                <br><br>
                <div id = "blurAmount">
                    <label for="slider">Blur Amount</label>
                    <input type="range" min="20" max="75" value="50" class="range" id="blurSlider">
                </div>
                <br><br>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ background_image_form.background_image }}
                    <button type="submit" name="background_image_button">Upload</button>
                </form>
        
            </div>
            <div id="defaultTheme">

            </div>
        </div>


    </div>
</div>
    <div id="backgroundData">
        <label for ="colorSettings">Dev Panel</label>
        <form id = "colorSettings">
            <input id="postR_Bkd" type="text" value = "185">
            <input id="postG_Bkd" type="text" value = "185">
            <input id="postB_Bkd" type="text" value = "185">
            <input id="postA_Bkd" type="text" value = "100">
        </form>
    </div>
        <script>            
            var preview = document.getElementById("previewSquare");
            var slider = document.getElementById("transparencySlider");
            var colorRField = document.getElementById("postR_Bkd");
            var colorGField = document.getElementById("postG_Bkd");
            var colorBField = document.getElementById("postB_Bkd");
            var alphaField = document.getElementById("postA_Bkd");

            slider.oninput = function() {
                alpha = slider.value;
                alphaField.value = alpha;
                UpdatePreview();
                
            }

            function UpdatePreview() {
                SetColor(colorRField.value, colorGField.value, colorBField.value)
            }

            function SetColor(colorR, colorG, colorB)
            {
                alpha = alphaField.value;
                colorRField.value = colorR;
                colorGField.value = colorG;
                colorBField.value = colorB;
                colorR = colorRField.value;
                colorG = colorGField.value;
                colorB = colorBField.value;
                preview.style.backgroundColor = "rgb(" + colorR + "," + colorG + "," + colorB + "," + alpha + ")";
                return colorR, colorG, colorB;
            }

            function SetTextColor(textColor)
            {
                preview.style.color = textColor;
            }
            

            function ChangeTheme() {
                var themeSwitch = document.getElementById("themeSwitch");
                var body = document.getElementById("body");
                var postPanel = document.getElementById("postPersonalization");
                var bkdPanel = document.getElementById("background")
                var quickSettings = document.getElementById("quickSettings")

                if (themeSwitch.checked == true) {
                    body.style.backgroundColor = "white";
                    body.style.color = "rgb(155, 155, 155)";
                    postPanel.style.backgroundColor = "rgba(155, 155, 155, 0.5)";
                    postPanel.style.color = "black";
                    bkdPanel.style.backgroundColor = "rgba(155, 155, 155, 0.5)";
                    bkdPanel.style.color = "black";
                    quickSettings.style.backgroundColor = "rgba(155, 155, 155, 0.5)";
                    quickSettings.style.color = "black";
                }
                else {
                    body.style.backgroundColor = "rgb(25, 25, 25)";
                    body.style.color = "rgb(135, 135, 135)";
                    postPanel.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
                    postPanel.style.color = "rgb(114, 114, 114)";
                    bkdPanel.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
                    bkdPanel.style.color = "rgb(114, 114, 114)";
                    quickSettings.style.backgroundColor = "rgba(0, 0, 0, 0.5)";
                    quickSettings.style.color = "rgb(114, 114, 114)";

                }
            }


        </script>

    {% endblock %}

    </html>