{% load static %}
<div id="prompt-container" class="yb-container-center" data-state="empty">
    <div class="yb-prompt-content" id="prompt-content">
        <!--Dynamic content will load here-->
        <div class="yb-prompt-title align-center" id="prompt-content-a">
            <!--Dynamic content will load here-->
        </div>
        
        <div class="yb-prompt-body align-center" id="prompt-content-b">
            <!--Dynamic content will load here-->
        </div>
        
        <div class="yb-prompt-footer" id="prompt-content-c">
            <!--Dynamic content will load here-->
        </div>
    </div>
</div>  
</div>