{% extends "yourbit-auth.html" %}
{% block loginform %}
<div class="signUpPanel" id="sign-up-panel">
    <img src="/static/graphics/yourbit-logo.png" id="login-logo">
    <h2>Sign Up</h2>
    <form method="POST">  
        
        <input name="firstName" type="text" class="authField" id="firstName" placeholder="First Name">
        <input name="lastName" type="text" class="authField" id="lastName" placeholder="Last Name">
        <br>
        <input name="email" type="text" class="authField" id="email" placeholder="Email">
        <br>
        <input name="dob" type="date" class="authField" id="dob" placeholder="Birthday">
        <br>
        <input name="password1" type="password" class="authField" id="password1" placeholder="Password">
        <input name="password2" type="password" class="authField" id="password2" placeholder="Confirm Password">
        <br>
        <input type="checkbox" class="checkbox" id="agree">
        <label for="agree" id="agreeLabel">I understand and agree to the Yourbit Terms and Conditions</label>
        <br>
        <button type="submit" class="authButton" id="join">Join</button>
        
    </form>
    
</div>
{% endblock %}