

{% load static %}
<!--Reusable Adaptive Container-->
<div class="yb-2Way-container yb-panel" id="yb-dynamic-2way-a" data-state="empty">

    <div id="yb-loading-iconContainer" class="tw-loading-iconContainer" style="position: relative; width: 100%; height: 100%; margin: auto;  z-index: 100;">
        <object type="image/svg+xml" style="width: 70%; height: auto;" class="loading-icon-animated" data="{% static 'images/main/animated_loading_screen.svg' %}"></object>
        <p class="loading-text yb-font-auto yb-fillWidth align-center font-medium yb-bounceDown-infinite yb-font-autoGray">Loading Content...</p>
    </div>

    <div class="yb-2Way-expand yb-panel" id="yb-2way-expand-button-a">
        <!--Dynamic content will load here-->
    </div>
    
    <div class="yb-2Way-content yb-fillContainer" id="yb-2way-content-b">
        <!--Dynamic content will load here-->
    </div>

    <div class="yb-2Way-secondary yb-fillContainer" id="yb-2way-secondary-b">
        <!--Dynamic content will load here-->
    </div>

    <div class="yb-2Way-tetriary yb-fillContainer" id="yb-2way-tetriary-b">
        <!--Dynamic content will load here-->
    </div>

</div>

<div class="yb-2Way-container yb-panel" id="yb-dynamic-2way-b" data-state="empty">
    <div id="yb-loading-iconContainer" class="tw-loading-iconContainer" style="position: relative; width: 100%; height: 100%; margin: auto;  z-index: 100;">
        <object type="image/svg+xml" style="width: 70%; height: auto;" class="loading-icon-animated" data="{% static 'images/main/animated_loading_screen.svg' %}"></object>
        <p class="loading-text yb-font-auto yb-fillWidth align-center font-medium yb-bounceDown-infinite font-gray">Loading Content...</p>
    </div>

    <div class="yb-2Way-expand yb-panel" id="yb-2way-expand-button-a">
        <!--Dynamic content will load here-->
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z"/></svg>
    </div>
    

    <div class="yb-2Way-content yb-fillContainer" id="yb-2way-content-a">
        <!--Dynamic content will load here-->
    </div>

    <div class="yb-2Way-secondary yb-fillContainer" id="yb-2way-secondary-a">
        <!--Dynamic content will load here-->
        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M120-120v-320h80v184l504-504H520v-80h320v320h-80v-184L256-200h184v80H120Z"/></svg>
    </div>

    <div class="yb-2Way-tetriary yb-fillContainer" id="yb-2way-tetriary-a">
        <!--Dynamic content will load here-->
    </div>
</div>



