<div class="tutorial-overlay" id="profile-custom-tutorial">

    <div id="new-image-instructions">
        <p class="instruction-text-container">To upload a new wallpaper image click on this button</p>
        <div class="instruction-icon-container">
        </div>
    </div>
    <div id="blur-brightness-instructions">
        <p class="instruction-text-container">Separate background and foreground elements by defining brightness and blur</p>
        <div class="instruction-icon-container">
        </div>
    </div>

    <div id="color-overlay-instructions">
        <p class="instruction-text-container">Edit the color overlay of your wallpaper to match your style</p>
        <div class="instruction-icon-container">
        </div>
    </div>

    <div id="desktop-crop-instructions">
        <p class="instruction-text-container">To crop an already uploaded wallpaper for a desktop optimized view, click here.</p>
        <div class="instruction-icon-container">
        </div>
    </div>

    <div id="mobile-crop-instructions">
        <p class="instruction-text-container">To crop an already uploaded wallpaper for a mobile optimized view, click here.</p>
        <div class="instruction-icon-container">
        </div>
    </div>

    <div id="save-button-instructions">
        <p class="instruction-text-container">When you are finished editing, you can click the save button here.</p>
        <div class="instruction-icon-container">
        </div>
    </div>

</div>