{% load static %}
<style>
    {% if custom_core.bit_colors_on == False %}
        @media (prefers-color-scheme: dark) {
            .yb-player-actions {
                background-color: rgb(25, 25, 25);
            }

            
            .video-user-info {
                background-color: rgb(50, 50, 50);
            }

            #video-about-header {
                background-color: rgb(25, 25, 25);
            }
        }
        @media (prefers-color-scheme: light) {

            .yb-player-actions {
                background-color: rgb(200, 200, 200);
            }

            .video-user-info {
                background-color: rgb(255, 255, 255);
            }

            #video-about-header {
                background-color: rgb(200, 200, 200);
            }
        
        }

        
        mux-player {
            --center-seek-backward-button: block;
            --center-seek-forward-button: block;
            --center-play-button: block;
            --controls-backdrop-color: transparent;
        }
    {% endif %}
</style>
<link rel="stylesheet" href="{% static 'css/yb_video/player9.css' %}">
<meta property="og:title" content="{{bit.title}}" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="https://yourbit.me/bits/view/{{bit.id}}/" />
<meta property="og:image" content="{{bit.video_upload.thumbnail.medium_thumbnail_ext}}" />
<meta property="og:video" content="{{bit.video_upload.ext_url}}" />

<div class="yb-player-grid">
    <div class="yb-flexColumn player-scroll-section yb-vScroll">
        <div id="yb-player" class="yb-player" style="aspect-ratio: 16 / 9; max-height: 500px;">
            <div class="video-countdown-container" id="countdown-container">
                <h4>Next Video in:</h4>
                <h4 id="countdown">5</h4>

            </div>
            {% if bit.storage_type == "yb" %}
                
                <video 
                    id="video-{{bit.id}}" 
                    class="attached-video" 
                    controls="true" 
                    playsinline="true" 
                    data-id="{{bit.id}}" 
                    src="{{bit.video_upload.video.url}}" 
                    style="max-width: 100%; max-height:100%; margin-left: auto; margin-right: auto; display: block;"
                >
                </video>
            
            {% else %}
                <mux-player
                    id="yb-video-player"
                    style="height: 100%;"
                    playback-id="{{bit.video_upload.ext_id}}"
                    metadata-video-title="{{bit.title}}"
                    metadata-viewer-user-id="{{bit.username}}"
                    metadata-viewer-user-name="{{bit.profile.display_name}}"
                    accent-color="{{bit.custom.primary_color}}"
                    primary-color="{{bit.custom.icon_color}}"
                    secondary-color="{{bit.custom.button_color}}"
                ></mux-player>
            {% endif %}
        </div>
        {% include 'yb_video/components/player_info.html' %}
        <div id="video-about-header" class="bit-bg-dark-1" data-state="closed" style="margin-top: 5px;">
            <div class="yb-flexRow">
                <svg class="yb-autoFill" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#e8eaed"><path d="M440-280h80v-240h-80v240Zm40-320q17 0 28.5-11.5T520-640q0-17-11.5-28.5T480-680q-17 0-28.5 11.5T440-640q0 17 11.5 28.5T480-600Zm0 520q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>
                <h3 style="padding-left: 5px; margin-bottom: 5px;" class="yb-autoText bit-title-color">About this Video</h3>
            </div>
            <p style="grid-row: 2; font-size: 12px; padding-left: 32px;" class="yb-autoText bit-text-color" id="time-posted-{{bit.id}}">
                Aired: 
                {{bit.time|date:"M d, Y"}}
                
                <small> 
                    @{{bit.time|date:"g:i A"}}
                </small>
            </p>
            <svg style="grid-row-start: 1; grid-row-end: 3; grid-column: 2; margin-left: auto; margin-right: 0px;" class="yb-autoText yb-center-margin tb" xmlns="http://www.w3.org/2000/svg" height="28px" viewBox="0 -960 960 960" width="28px" fill="#e8eaed"><path d="M577.43-482 269.22-790.22q-13.83-13.82-14.11-34.28-.28-20.46 13.54-34.72 14.83-14.82 35.57-14.82 20.74 0 35 14.82L662-537.57q11.83 11.83 17.24 26.22 5.41 14.39 5.41 29.35t-5.41 29.35q-5.41 14.39-17.24 26.22L338.78-103.22Q323.96-88.39 304-88.89t-34.78-15.33q-13.83-14.82-14.33-34.78t14.33-34.78L577.43-482Z"/></svg>
            <div id="yb-player-description" style="display: none; padding-left: 30px; font-size: 14px; line-height: 1.5; margin-top: 15px; grid-row: 3;" class="yb-video-description yb-autoText">
                {{bit.body}}
            </div>
        </div>
    </div>
    <hr class="mobile-video-comment-divider" style="margin-top: 10px; margin-bottom: 10px;">
    
    {% include 'yb_video/components/player_sidebar.html' %}

    <section id="yb-player-controls" class="floating-controls">
    </section>



    <script>
        try {
            var video = document.getElementById("yb-video-player");
            var comment_container = document.getElementById("player-comments");
            var videoContainer = document.getElementById("yb-player");
            var about_section = document.getElementById("video-about-header");
            var description = document.getElementById("yb-player-description");
            var send_comment = comment_container.querySelector(".yb-send-comment");
            var countdown_container = document.getElementById("countdown-container");
            var timerInterval;
            var countdownTime = 5;
        } catch {
            video = document.getElementById("yb-video-player");
            comment_container = document.getElementById("player-comments");
            countdown_container = document.getElementById("countdown-container");
            videoContainer = document.getElementById("yb-player");
            about_section = document.getElementById("video-about-header");
            description = document.getElementById("yb-player-description");
            send_comment = comment_container.querySelector(".yb-send-comment");
            countdownTime = 5;
        }

        // Function to update the countdown every second
        function updateVideoCountdown() {
            const countdownElement = document.getElementById('countdown');
    
            // Update the text content to show the current countdown time
            countdownElement.innerText = countdownTime;
    
            // Check if the countdown is over
            if (countdownTime > 0) {
                countdownTime--; // Decrease the countdown by 1
            } else {
                clearInterval(timerInterval); // Stop the countdown when it reaches 0
                yb_getNextVideo();
            }
        }

        function startVideoCountdown() {
            video.style.setProperty('--controls-backdrop-color', video.getAttribute('primary-color'));
            timerInterval = setInterval(updateCountdown, 1000, countdownTime);

        }

        function cancelCountdown() {

        }

        $(document).ready(function(){
            send_comment.addEventListener("click", yb_pressSendComment);
        });
        $(video).ready(function() {
            video.play();

            video.addEventListener('ended', function() {
                // Action to take when the video ends
                if (VIDEO_QUEUE.length > 0) {
                    countdown_container.style.display = "block";
                    startVideoCountdown();
                } else {
                    console.log("No more videos in queue")
                }
            });

            about_section.addEventListener("click", function(){
                console.log("clicked")
                let about_state = about_section.getAttribute("data-state")
                if (about_state == "closed") {
                    about_section.setAttribute("data-state", "open");
                    description.style.display = "block";

                    var parent = about_section.parentElement; // Adjust this if your element is nested deeper
                    var rect = about_section.getBoundingClientRect();
                    var parentRect = parent.getBoundingClientRect();
                    
                    // Calculate the offset to scroll
                    var offsetTop = rect.top - parentRect.top + parent.scrollTop;
                    
                    parent.scrollTo({
                        top: offsetTop,
                        behavior: "smooth"
                    });
                } else {
                    console.log("About state open")
                    about_section.setAttribute("data-state", "closed");
                    description.style.display = "none";

                }
            })


            
            console.log('The video is now playing!');
    


        })
    </script>

</div>