{% load static %}
<style>
    {% if custom_core.bit_colors_on == False %}
        
        mux-player {
            --center-seek-backward-button: block;
            --center-seek-forward-button: block;
            --center-play-button: block;
            --controls-backdrop-color: transparent;
        }
    {% endif %}
</style>
<link rel="stylesheet" href="{% static 'css/yb_video/player17.css' %}">
<meta property="og:title" content="{{bit.title}}" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="https://yourbit.me/bits/view/{{bit.id}}/" />
<meta property="og:image" content="{{bit.video_upload.thumbnail.medium_thumbnail_ext}}" />
<meta property="og:video" content="{{bit.video_upload.ext_url}}" />

<div class="yb-player-grid">
    <div class="yb-flexColumn player-scroll-section yb-vScroll">
        <div id="yb-player" class="yb-player" style="aspect-ratio: 16 / 9;">
            <div class="video-countdown-container" id="countdown-container">
                <h4>Next Video in:</h4>
                <h4 id="countdown">5</h4>

            </div>
            {% if bit.storage_type == "yb" %}
                
                <video 
                    id="video-{{bit.id}}" 
                    class="attached-video" 
                    controls="true" 
                    playsinline="true" 
                    data-id="{{bit.id}}" 
                    src="{{bit.video_upload.video.url}}" 
                    style="max-width: 100%; max-height:100%; margin-left: auto; margin-right: auto; display: block;"
                >
                </video>
            
            {% else %}
                <mux-player
                    id="yb-video-player"
                    style="height: 100%;"
                    playback-id="{{bit.video_upload.ext_id}}"
                    metadata-video-title="{{bit.title}}"
                    metadata-viewer-user-id="{{bit.username}}"
                    metadata-viewer-user-name="{{bit.profile.display_name}}"
                    accent-color="{{bit.custom.primary_color}}"
                    primary-color="{{bit.custom.icon_color}}"
                    secondary-color="{{bit.custom.button_color}}"
                ></mux-player>
            {% endif %}
        </div>
        {% include 'yb_video/components/player_info.html' %}

    </div>
    <hr class="mobile-video-comment-divider" style="margin-top: 10px; margin-bottom: 10px;">
    
    {% include 'yb_video/components/player_sidebar.html' %}

    <section id="yb-player-controls" class="floating-controls">
    </section>



    <script>

        /* 
            Variables are defined under try/catch statements as a failsafe for when garbage 
            collection fails to run properly when leaving a subpage. In some cases, when initializing 
            a variable, the browser would say the variable was already defined. This is a workaround 
            for that.
        */

        try {
            var video = document.getElementById("yb-video-player");
            var comment_container = document.getElementById("player-comments");
            var videoContainer = document.getElementById("yb-player");
            var about_section = document.getElementById("video-about-header");
            var description = document.getElementById("yb-player-description");
            var send_comment = comment_container.querySelector(".yb-send-comment");
            var countdown_container = document.getElementById("countdown-container");
            var timerInterval;
            var countdownTime = 5;
        } catch {
            video = document.getElementById("yb-video-player");
            comment_container = document.getElementById("player-comments");
            countdown_container = document.getElementById("countdown-container");
            videoContainer = document.getElementById("yb-player");
            about_section = document.getElementById("video-about-header");
            description = document.getElementById("yb-player-description");
            send_comment = comment_container.querySelector(".yb-send-comment");
            countdownTime = 5;
        }

        // Function to update the countdown every second
        function updateVideoCountdown() {
            const countdownElement = document.getElementById('countdown');
    
            // Update the text content to show the current countdown time
            countdownElement.innerText = countdownTime;
    
            // Check if the countdown is over
            if (countdownTime > 0) {
                countdownTime--; // Decrease the countdown by 1
            } else {
                clearInterval(timerInterval); // Stop the countdown when it reaches 0
                yb_getNextVideo();
            }
        }

        function startVideoCountdown() {
            video.style.setProperty('--controls-backdrop-color', video.getAttribute('primary-color'));
            timerInterval = setInterval(updateVideoCountdown, 1000, countdownTime);

        }

        function cancelCountdown() {
            clearInterval(timerInterval); // Stop the countdown when it reaches 0
            countdown_container.style.display = "none";
            countdownTime = 5;
            video.style.setProperty('--controls-backdrop-color', "transparent");

        }

        $(document).ready(function(){
            send_comment.addEventListener("click", yb_pressSendComment);
        });
        $(video).ready(function() {
            video.play();

            video.addEventListener('ended', function() {
                // Action to take when the video ends
                if (VIDEO_QUEUE.length > 0) {
                    countdown_container.style.display = "block";
                    startVideoCountdown();
                } else {
                    console.log("No more videos in queue")
                }
            });

            about_section.addEventListener("click", function(){
                console.log("clicked")
                let about_state = about_section.getAttribute("data-state")
                if (about_state == "closed") {
                    about_section.setAttribute("data-state", "open");
                    description.style.display = "block";

                    var parent = about_section.parentElement; // Adjust this if your element is nested deeper
                    var rect = about_section.getBoundingClientRect();
                    var parentRect = parent.getBoundingClientRect();
                    
                    // Calculate the offset to scroll
                    var offsetTop = rect.top - parentRect.top + parent.scrollTop;
                    
                    parent.scrollTo({
                        top: offsetTop,
                        behavior: "smooth"
                    });
                } else {
                    console.log("About state open")
                    about_section.setAttribute("data-state", "closed");
                    description.style.display = "none";

                }
            })


            
            console.log('The video is now playing!');
    


        })
    </script>

</div>