{% load static %}
<style>
    {% if custom_core.bit_colors_on == False %}
        
        mux-player {
            --center-seek-backward-button: block;
            --center-seek-forward-button: block;
            --center-play-button: block;
            --controls-backdrop-color: transparent;
        }
    {% endif %}
</style>
<link rel="stylesheet" href="{% static 'css/yb_video/player18.css' %}">
<meta property="og:title" content="{{bit.title}}" />
<meta property="og:type" content="video.movie" />
<meta property="og:url" content="https://yourbit.me/bits/view/{{bit.id}}/" />
<meta property="og:image" content="{{bit.video_upload.thumbnail.medium_thumbnail_ext}}" />
<meta property="og:video" content="{{bit.video_upload.ext_url}}" />

<div class="yb-player-grid">
    <div class="yb-flexColumn player-scroll-section yb-vScroll">
        <div id="yb-player" class="yb-player" style="aspect-ratio: 16 / 9;">
            <div class="video-countdown-container" id="countdown-container">
                <h4>Next Video in:</h4>
                <h4 id="countdown">5</h4>

            </div>
            {% if bit.storage_type == "yb" %}
                
                <video 
                    id="video-{{bit.id}}" 
                    class="attached-video" 
                    controls="true" 
                    playsinline="true" 
                    data-id="{{bit.id}}" 
                    src="{{bit.video_upload.video.url}}" 
                    style="max-width: 100%; max-height:100%; margin-left: auto; margin-right: auto; display: block;"
                >
                </video>
            
            {% else %}
                <mux-player
                    id="yb-video-player"
                    style="height: 100%;"
                    playback-id="{{bit.video_upload.ext_id}}"
                    metadata-video-title="{{bit.title}}"
                    metadata-viewer-user-id="{{bit.username}}"
                    metadata-viewer-user-name="{{bit.profile.display_name}}"
                    accent-color="{{bit.custom.primary_color}}"
                    primary-color="{{bit.custom.icon_color}}"
                    secondary-color="{{bit.custom.button_color}}"
                ></mux-player>
            {% endif %}
        </div>
        {% include 'yb_video/components/player_info.html' %}

    </div>
    <hr class="mobile-video-comment-divider" style="margin-top: 10px; margin-bottom: 10px;">
    
    {% include 'yb_video/components/player_sidebar.html' %}

    <section id="yb-player-controls" class="floating-controls">
    </section>



    <script href="{{ static 'scripts/yb_video/yb_player.js'}}"></script>

</div>