<div class="yb-panel-wide yb-bg-autoGray">

    <h3 style="color:gray; text-align: left;">Color Options</h3>
    <br>
    <div class="yb-color-pallete">
        <div >
            <div class = "color-circle" id="bit-shell-color-circle" name="bit-shell" style="background-color: {{custom_bit.primary_color}}"></div>
            <input type="text" name="bit-shell" class="color-input" id="bit-shell-color-picker" style="display: none;" value="{{custom_bit.primary_color}}" data-coloris>
            
            <p class="yb-font-auto">Shell Color</p>
        </div>  
        <div >
            <div class = "color-circle" id="bit-button-color-circle" name="bit-button" style="background-color: {{custom_bit.button_color}}"></div>
            <input class="color-input" type="text" id="bit-button-color-picker" name="bit-button" style="display:none;" value="{{custom_bit.button_color}}" data-coloris>
            
            <p class="yb-font-auto">Button Color</p>
        </div>
        <div >
            <div class = "color-circle" id="bit-feedback-icon-color-circle" name="bit-feedback-icon" style="background-color: {{custom_bit.icon_color}}"></div>
            
            <input class="color-input" type="text" name="bit-feedback-icon" id="bit-feedback-icon-color-picker" style="display:none;" value="{{custom_bit.icon_color}}" data-coloris>
            
            <p class="yb-font-auto">Icon Color</p>
        </div>
    </div>
    <br>
    <div class="yb-color-pallete">
        <div >
            <div class = "color-circle" id="bit-title-color-circle" name="bit-title" style="background-color: {{custom_bit.title_color}}"></div>
            <input class="color-input" type="text" name="bit-title" id="bit-title-color-picker" style="display:none;" value="{{custom_bit.title_color}}" data-coloris>
            
            <p class="yb-font-auto">Title Color</p>
        </div>
        <div >

            <div class = "color-circle" id="bit-text-color-circle" name="bit-text" style="background-color: {{custom_bit.text_color}}"></div>
            
            <input class="color-input" type="text" name="bit-text" id="bit-text-color-picker" style="display:none;" value="{{custom_bit.text_color}}" data-coloris>
            
            <p class="yb-font-auto">Text Color</p>
        </div>
        <div >
            
            <div class = "color-circle" id="bit-accent-color-circle" name="bit-accent" style="background-color: {{custom_bit.accent_color}}"></div>
            <input class="color-input" type="text" name="bit-accent" id="bit-accent-color-picker" style="display:none;" value="{{custom_bit.accent_color}}" data-coloris>
            
            <p class="yb-font-auto">Image Border</p>
        </div>
    </div>