#notifications-dropdown {
    position: relative;
    top: 20px;
    right: 9vw;
    width: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 9;
    text-align: center;
    border-radius: 20px;
    height: auto;
    padding: 5px;
    display: none;
    transition: 0.5;
}

.interaction-notification {
    position: relative;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    display: grid;
    grid-template-columns: 15% 60% 15%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    column-gap: 5px;
    padding: 5px;
}

.interaction-notification-text {
    grid-column: 2;
}

.notification-profile-image {
    grid-column: 1;
    width: 100%;
    margin: auto;
    border-radius: 90px;
    
}

.notification-response-button-container {
    grid-column: 3;
    margin: auto;
    display: grid;
    grid-gap: 10px;
    width: 100%;
}

.friend-request-response-button {
    border-radius: 5px;
    border-width: 0px;
    height: 25px;
    width: 150px;
    margin-bottom: 3px;
}

.friend-request-response-button:hover {
    border-radius: 5px;
    border-width: 0px;
    width: 100%;
    cursor: pointer;
}

#messages-dropdown {
    position: absolute;
    display: block;
    top: 70px;
    right: 3vw;
    width: 20%;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 10;
    text-align: center;
    border-radius: 20px;
    height: auto;
    padding-bottom: 10px;
    visibility: hidden;
}

#non-interactive-notification-modal {
    position: fixed;
    display: none;
    z-index: 19;
    top: -70px;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    width: 70px; /*ending width: 400px*/
    height: 60px;
    border-radius: 40px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    overflow: hidden;

}

.mobile-notification {
    position: relative;
    display: block;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
    margin-bottom: 4px;
    height: 50px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.mobile-interaction-notification-text {
    position: relative;
    display: block;
    top: 7px;
}