/*



Profile Page

*/

.bobbing-object {
    animation: bobbing 2s infinite ease-in-out;
  }

@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }   
}


/*
    CSS Styling for Mobile

    tags: css mobile css styling mobile styles mobile screen mobile scaling

*/


/*
    Header Profile Image Mobile
    
    tags: mobile profile image mobile profile header image mobile profile picture header mobile profile picture on mobile profile
*/



#profile-image-profile {
    width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.large-profile-image {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    object-fit: contain;
    border-radius: 180px;
    margin-top: 5px;
    border: 3px solid white;
}

#profile-image-profile-image {
    position: relative;
    height: 80px;
    width: 80px;
    margin-left:5px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 15px;
    border: 3px solid white;
}

.profile-info {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 70px 20px auto;
    column-gap: 3px;
    color: white;

}

#profile-first-last-name {
    font-size: larger;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-column-span: 2;
    width: 300px;
    margin-bottom: 5px;
    
}

#username-profile {
    position: relative;
    grid-column: 2;
    top: 0px;
}

/*   --Buttons on Profile Header-- */

.profile-interaction-form {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 40px 40px 40px;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.profile-button {
    border-radius: 25px;
    border-width: 0px;
    font-size: 14px;
    text-align: center;
    color: auto;
    height: 40px;
}


.profile-header-link {
    display: block;
    position: relative;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-top: 2px;
    background-color: white;

}

.profile-interact-icon {
    display: block;
    position: relative;

}

#profile-connect-button {
    grid-column: 1;
    height: 40px;
}

#profile-follow-button {
    grid-column: 2;
    width: auto;
    height: 40px;
}

#profile-message-button {
    grid-column: 3;
    height: 40px;
}

#profile-bio-container {
    position: relative;
    width: 95%; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    justify-content: center;
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    min-height: 50px;

}

#profile-feed-content-container {
    position: relative;
    top: 0px;
    padding-top: 0px;
    z-index: 3;
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    transition: 0.25s;
    border-width: 0px;
    background-color: rgba(0,0,0,0);
}


.button-dropdown {
    position: absolute;
    width: 75px;
    height: 100px;
    top: 60px;
    left: 0px;

}


.swipe-up-element {
    position: absolute;
    bottom: 60px;
    text-align: center;
    width: 100%;
    color: white;
}
    .swipe_up_icon {
        margin-bottom: 0px;
        
    }
    .swipe-up-text {
        margin-top: -3px;
    }
.profile-interaction-container {
    display: grid;
    width: auto;
    grid-template-columns: 95px 95px 95px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
}

.button-profile-interaction {
    position: relative;
    width: 90px;
    border-width: 0px;
    background-color: rgb(69, 69, 69);
    color: white;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 550;
    height: 40px;
    z-index: 5;
    line-height: 2.5;
    text-align: center;
}

.profile-interact-icon {
    position: absolute;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

