/*
    Universal Post Styles
        -Feedback Icons
        -Base post container
        -Comment Design
    
*/

@keyframes bounce {
    0% { transform: scale(1); }
    25% { transform: scale(1.2); }
    50% { transform: scale(1); }
    75% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }

    .feed-message-bit-removed {
        position: relative;
        width: 90vw;
        height:100px;
        background-color: black;
        color: white;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
        box-shadow: 2px 2px 5px black;
    }
    
    .bit-context-menu {
        position: absolute;
        display: grid;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 170px;
        width: 150px;
        background-color: rgba(0, 0, 0, 0.7);
        -webkit-backdrop-filter: blur(50px) brightness(200%);
        backdrop-filter: blur(50px) brightness(200%);
        z-index: 6;
        border-radius: 20px;
        box-shadow: 2px 2px 5px;
        grid-template-rows: 40px 40px 40px 40px;
        overflow-y: scroll;
    }

    .bit-context-backdrop {
        position: absolute;
        z-index: 5;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        border-radius: 25px;
        width: 100%;
        height: 100%;
    }
    .bit-context-option{
        display: grid;
        grid-template-columns: 40px auto;
        color: white;
        font-weight: 500;
    }

    .context-menu-exit {
        position: fixed;
        z-index: 6;
        top: 0px;
        left: 0px;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .list-icon {
        margin: auto;
    }
    .feed-content-container {
        position: fixed;
        display: block;
        bottom: 0;
        left: 0px;
        z-index: 2;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        transition: 0.25s;
        border-width: 0px;
    }

    #content-container-feed {
        position: fixed;
        left: 0vw;
        top: 100vh;
        z-index: 3;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        transition: 1s;
        overflow-x: hidden;
        padding-top:40px;
    }

    #large-post-iframe {
        position: relative;
        display: block;
        margin: auto;
        top: 70px;
        height: 80%;
        width: 45%;
        border-width: 0px;
    }

    .post-wrapper {
        position: relative;
        border-radius: 25px;
        transition: 0.3s;
        cursor: pointer;
        padding: 2px;
        margin-bottom: 8px;
        background-color: rgb(70, 70, 70);
        box-shadow: 0px 1px 5px black;
        margin-top: 0px;
    }

    .post-wrapper.animate {
        animation: bounce 0.75s;
    }

    .container-bit-chat {
        display: grid;
        grid-template-rows: 25px 50px auto auto auto auto auto 48px;
        grid-gap: 2px;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 2px;
        margin-left: auto;
        margin-right: auto;
        width: 95vw;
    }

    @media screen and (min-width: 700px) {
        .container-bit-chat {
            max-width: 600px;
        }
    }
    
    .header-bit {
        grid-row: 2;
        display: grid;
        grid-template-columns: 30px 40% 42%;
        height: 50px;
        column-gap: 10px;
        z-index: 5;
        margin-top: -10px;

    }

    .bit-options {
        display: block;
        grid-row: 1;
        margin: auto;
        height: 25px;
        width: 50px;
        border-radius: 35px;
        border-width: 0px;
        margin-bottom: 0px;
        margin-top: 5px;
        background-color: rgba(0, 0, 0, 0.5);
    }

    h3 {
        margin-top: 0px;
        margin-bottom: 3px;
        font-size: 18px;
    }

    
    .image-thumbnail-small {
        position: relative;
        display: block;
        height: 30px;
        width:30px;
        object-fit: contain;
        margin: auto;
        
    
    }
    
    .container-image-tiny {
        grid-column: 1;
        height: 30px;
        width: 30px;
        border: 2px solid white;
        border-radius: 180px;
        margin: auto;
        pointer-events: none;
    }
    
    .bit-user-info {
        position: relative;
        grid-column: 2;
        font-size: 15px;
        margin-left: 2px;
    }
    
    .bit-time-label {
        position: relative;
        grid-column: 3;
        margin-top: auto;
        margin-bottom: auto;
        text-align: right;
        font-size: 12px;
        color: white;
    }
    
    #chat-bit-title {
        grid-row: 3;
        height: fit-content;
        margin-top: 0px;
        width: 100%;
        text-align: center;
    }
    
    #bit-feedback-chat {
        grid-row: 5;
        z-index: 3;
    }
    

    .description-bit-chat {
        position: relative;
        background-color:rgba(49, 49, 49, 0.7);
        border-radius: 20px;
        padding: 5px;
        font-size: 14px;
        grid-row: 4;
        z-index:3;
        margin-bottom: 2px;
    }

    .attached-photo {
        display: block;
        position: relative;

        top: 10px;
        z-index: 5;
        border: 1px solid black;
        box-shadow: 0.5px 0.5px 8px rgba(0, 0, 0, 0.7);
        border-radius: 20px;
        grid-row: 3;
        width: auto;
        min-width: 325px;
        max-width: 325px;
        margin-left: auto;
        margin-right: auto;
        max-height:350px;
        object-fit: contain;
        color: white;

        
    }

    .container-bit-photo {
        display: grid;
        grid-template-rows: 30px auto 340px auto 50px auto auto;
        
    }
    
    #photo-user-name {
        display: grid;
        grid-row: 1;
        grid-template-columns: 30px auto;
        column-gap: 10px;
        margin-left: 10px;
    
    }
    
    #photo-bit-profile-picture-link {
        grid-column: 1;
        margin: auto;
        width: 100%;
    }
    
    #photo-user-name-text {
        grid-column: 2;
    }


    .description-bit-photo {
        background-color: rgba(0, 0, 0, 0.5);
        width: 85%;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;
        height: fit-content;
        min-height: 40px;
        padding: 2px 2px 2px 2px;
        grid-row: 4;
    }
    .container-feedback-bit-photo {
        display: grid;
        position: relative;
        grid-template-columns: 50px auto 50px auto 50px auto 50px auto 50px;
        column-gap: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.5);
        height: 50px;
        border-radius: 40px;
        grid-row: 5;
        transition: 1s;
    }

    .container-bit-video {
        display: grid;
        grid-template-rows: 30px auto 30px 20px fit-content 10px fit-content 50px auto auto;
        grid-row-gap: 3px;
        text-align: center;
        background-color: black;

        margin-left: auto;
        margin-right: auto;
    }
    
    .attached-video {
        display: block;
        position: relative;
        border-radius: 20px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid rgb(70, 70, 70);
        grid-row: 3;
        
    }
    
    #video-user-name {
        position: relative;
        display: block;
        text-align: left;
        left: 10px;
    }
    
    #video-bit-name-date {
        position: relative;
        display: grid;
        grid-template-columns: 30px auto;
        left: 10px;
        grid-row: 1;
    }

    .description-bit-video {
        position: relative;
        background-color:rgba(49, 49, 49, 0.7);
        border-radius: 20px;
        padding: 5px;
        font-size: 14px;
        grid-row: 4;
        z-index:3;
        margin-bottom: 2px;
    }

    .container-feedback-bit-video {
        display: grid;
        position: relative;
        grid-template-columns: 50px auto 50px auto 50px auto 50px auto 50px;
        column-gap: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.5);
        height: 50px;
        border-radius: 40px;
        transition: 1s;
    }


    .container-feedback-bit-chat {
        display: grid;
        position: relative;
        grid-template-columns: 50px auto 50px auto 50px auto 50px auto 50px;
        column-gap: 3px;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(0, 0, 0, 0.5);
        height: 50px;
        border-radius: 40px;
        transition: 1s;
    }

    .feedback-icon {
        background-color: rgba(0, 0, 0, 0.0);
        position: relative;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        padding: auto;
        cursor: pointer;
        transition: 0.3s;
        border-width: 0px;
        display: block;
        line-height: 60px;
    }

    .feedback-icon.flash {
        animation-name: yb-flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }


    .feedback-icon-active {
        position: relative;
        display: block;
        background-color: rgb(125, 125, 125);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        cursor: pointer;
        transition: 0.3s;
        border-width: 0px;
        line-height: 60px;
    }

    #smiley-post-button {
        grid-column: 1;
    
    }
    
    #frowny-post-button {
        grid-column: 3;
    
    }
    
    #share-post-button {
        grid-column: 5;
    
    }
    
    #comment-post-button {
        grid-column: 7;
    }
    
    #donate-post-button {
        grid-column: 9;
    }
    
    .post-feedback-icon {
        position: relative;
        width: 100%;
        margin: auto;
    }
    
    .counter {
        font-size: 12px;
        font-weight: 400;
        color: white;
        margin: auto;
    }

    #like-count {
        grid-column: 2;
        color: lightgreen;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    #dislike-count {
        grid-column: 4;
        color: lightcoral;
        margin-top: auto;
        margin-bottom: auto;
    }
    #share-count {
        grid-column: 6;
        color: lightblue;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .comment-count {
        grid-column: 8;
        color: lightgoldenrodyellow;
        margin-top: auto;
        margin-bottom: auto;
    }

    .comment-container {
        color: white;
        grid-row: 7;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 20px;
        margin-top: 10px;
        height:fit-content;
        max-height: 100px;
        z-index: 7;
        display: flex;
        overflow: auto;
        flex-direction: column-reverse;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5) inset;
        
    }

    .comment-label {
        font-size: medium;
        grid-row: 6;
        margin-top: 15px;
        margin-bottom: 0px;
        margin-left: 8px
    }
    

    .comment-bubble-right {
        width: fit-content;
        position: relative;
        opacity: 0.8;
        border-radius: 10px;
        margin-left: auto;
        margin-right: 0;
        font-size: 14px;
        padding: 3px 3px 3px 3px;
        filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
        margin-bottom: 10px;
    }

    .image-hang-left {
        position: absolute;
        left: -32px;
        top: 3px;
        width: 20px;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
    }

    .image-hang-right {
        position: absolute;
        left: -32px;
        top: 3px;
        width: 20px;
        border-radius: 50%;
        filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.5));
    }
    
    .comment-bubble-left {
        background-color: rgb(100, 100, 100, 0.5);
        width: fit-content;
        border-radius: 10px;
        font-size: 14px;
    
    
    }
    
    .comment-wrapper-right {
        position: relative;
        width: 100%;
        
    }

    .comment-field-container {
        position: relative;
        grid-row: 8;
        margin-top: 10px;
        margin-bottom: 5px;
        width: 100%;
        grid-template-rows: 80% 20%;
        z-index: 5;
        display: block;
    }
    
    .write-comment-field-text {
        position: relative;
        padding: 10px;
        grid-column: 1;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.5);
        border-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        width: 93%;
        
    
    }

    .send-comment {
        border-radius: 30px;
        border-width: 0px;
        height: 30px;
        width: 30px;
        cursor: pointer;
        position: absolute;
        right: 7px;
        top:4px;
    }
    
    
    #write-comment-button:hover {
        filter: brightness(150%);
        -webkit-filter: brightness(150%);
        background-color: rgb(35,35,35);
        border-radius: 20px;
    }
    .comment-text-container {
        position: relative;
        display: block;
        padding: 5px;
        backdrop-filter: brightness(90%);
        -webkit-backdrop-filter: brightness(90%);
        width: 100%;
        height: 100%;
    }
    .comment-name {
        display: block;
        position: relative;
        margin-bottom: 5px;
        margin-top: 0px;
        font-weight: bold;
        

    }
    .comment-body {
        display: block;
        position: relative;
        margin-bottom: 0px;
        margin-top: 0px;

    }
    .comment-time {
        display: block;
        position: relative;
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 12px;
        color: rgb(150,150,150);
    }
    /* #write-comment-button {
        grid-column: 2;
        position: absolute;
        top: 5px;
        right: 5px;
        padding: 5px;
        
    
    }
    #field-write-comment {
        display: none;
    }

    #video-field-write-comment {
        display: none;
    } */
    





