/*



Profile Page

*/

.bobbing-object {
    animation: bobbing 2s infinite ease-in-out;
  }

@keyframes bobbing {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }   
}


/*
    CSS Styling for Mobile

    tags: css mobile css styling mobile styles mobile screen mobile scaling

*/


/*
    Header Profile Image Mobile
    
    tags: mobile profile image mobile profile header image mobile profile picture header mobile profile picture on mobile profile
*/



#profile-image-profile {
    width: 200px;
    height: 200px;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

.large-profile-image {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    object-fit: contain;
    border-radius: 180px;
    margin-top: 5px;
    border: 3px solid white;
}

.yb-name-size1 {
    font-size: 16px;
}

.yb-name-size2 {
    font-size: 20px;
}

.yb-name-size3 {
    font-size: 24px;
}

.yb-name-size4 {
    font-size: 28px;
}

.yb-name-size5 {
    font-size: 32px;
}

.yb-username-size1 {
    font-size: 14px;
}

.yb-username-size2 {
    font-size: 16px;
}

.yb-username-size3 {
    font-size: 18px;
}

.yb-username-size4 {
    font-size: 20px;
}

.yb-username-size5 {
    font-size: 22px;
}

.profile-image-border.preview {
    margin-left: auto;
    margin-right: auto;
    animation: yb-border-blink 2s infinite;
    animation-delay: 0.25s;
    border-radius: 20px;
    padding: 2px 2px 2px 2px;
}

#profile-image-profile-image {
    position: relative;
    height: 80px;
    width: 80px;
    margin-left:5px;
    object-fit: contain;
    border-radius: 50%;
    margin-top: 15px;
    border: 3px solid white;
}

.profile-info {
    display:grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 50px 70px 20px auto;
    column-gap: 3px;
    color: white;

}

#profile-first-last-name {
    font-size: larger;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end: 4;
    -ms-grid-column-span: 2;
    width: 300px;
    margin-bottom: 5px;
    
}

#username-profile {
    position: relative;
    grid-column: 2;
    top: 0px;
}

/*   --Buttons on Profile Header-- */

.profile-interaction-form {
    display: grid;
    grid-row: 2;
    grid-column: 2;
    grid-template-columns: 40px 40px 40px;
    column-gap: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

}

.button-profile-interaction {
    width: 25vw; 
    height: 35px !important;
    max-width: 150px;
}

.button-profile-interaction.end {
    height: 35px !important;
    width: 35px !important;
    pointer-events: auto !important;
}

.profile-button {
    border-radius: 25px;
    border-width: 0px;
    font-size: 14px;
    text-align: center;
    color: auto;
    height: 30px;
}


.profile-header-link {
    display: block;
    position: relative;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding-top: 2px;
    background-color: white;

}

.profile-interact-icon {
    display: none !important;
}

.profile-interact-icon.end {
    position: relative;
    display: block !important;
}

.profile-CME {
    grid-column: 1;
    height: 40px;
}

.profile-follow {
    grid-column: 2;
    width: auto;
    height: 40px;
}

.profile-message {
    grid-column: 3;
    height: 40px;
}

.yb-fsContainer.profile {
    position: fixed;
    z-index: 50;
    height: 100vh;
    width: 100vw;
    top: 0px;
    background-color: var(--yb-panel-color);
    transition: 0.5s;
    overflow: hidden;
}

.yb-fsContainer.end {    
    height: 80px !important;
    top: 60px !important;
    width: 100vw !important;
    transition: 0.5s !important;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.profile-bio-container {
    position: relative;
    width: 95%; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    justify-content: center;
    margin-top: 30px;
    padding: 5px 5px 5px 5px;
    min-height: 50px;
}

.profile-bio-container.end {
    display: none !important;
}
.yb-splash-label.end {
    
    display: grid !important;
    text-align: left !important;
    grid-template-columns: 70px auto 150px !important;
    width: 100% !important;
    height: 100% !important;
    transition: 0.5s !important;
}

.profile-name-splash.end {
    grid-column: 2 !important;
    height: 40px !important;
    transition: 0.5s !important;
}

.profile-name-header.end {
    font-size: 15px !important;
    margin-top: 20px !important;
    margin-bottom: 2px;
    transition: 0.5s !important;
}

.profile-handle.label.end {
    font-size: 12px !important;
    margin-left: 10px !important;
    transition: 0.5s !important;
}

.splash-bio-container.preview {
    animation: yb-border-blink 2s infinite;
    animation-delay: 1s;
    
}

#profile-feed-content-container {
    position: relative;
    top: 0px;
    padding-top: 0px;
    z-index: 3;
    width: 100vw;
    height: 100%;
    overflow-y: scroll;
    transition: 0.25s;
    border-width: 0px;
    background-color: rgba(0,0,0,0);
}

.profile-name-splash.preview {
    animation: yb-border-blink 2s infinite;
    animation-delay: 0.5s;
    border-radius: 20px;
    transition: 0.5s;
}

.profile-name-splash.preview:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.button-dropdown {
    position: absolute;
    width: 75px;
    height: 100px;
    top: 60px;
    left: 0px;

}


.swipe-up-element {
    position: absolute;
    display: none;
    bottom: 60px;
    text-align: center;
    width: 100%;
    color: white;
}

.swipe-up-element.end {
    top: 0;
    opacity: 0;
    display: none !important;
    transition: 0.5s !important;
}

@media screen and (min-width: 768px){
    .swipe-up-element {
        bottom: 100px !important;
    }
}
.swipe_up_icon {
    margin-bottom: 0px;
    
}
.swipe-up-text {
    margin-top: -3px;
}

.profile-interaction-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    max-width: 500px;
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    margin-top: 20px;

}

.profile-interaction-container.end {
    
    grid-column: 3 !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    text-align: center !important;
    margin-right: 20px;
    margin-bottom: 0px !important;
    height: 40px !important;
    transition: 0.5s !important;
}

.profile-interaction-container.preview {
    
    animation: yb-border-blink 2s infinite;
    animation-delay: 0.75s;
    border-radius: 20px;
    padding: 6px 6px 6px 6px;
    z-index: 101;
    transition: 0.5s;
}

.profile-interaction-container.preview:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;
}

.profile-interact-text.end {
    display: none !important;
}

.grid-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
    pointer-events: none;
    background-image: linear-gradient(to right, rgba(100, 100, 100, 0.3) 2px, transparent 1px), linear-gradient(to bottom, rgba(100, 100, 100, 0.3) 2px, transparent 1px);
    background-size: 10vw 10vw;
    z-index: 0;
    animation: yb-flash-soft 5s infinite;
}



#bit-preview {
    animation: yb-pulse-small 2s infinite;
    animation-delay: 1s;
}

#splash-preview-button-1 {
    animation: yb-pulse-small 1s infinite; 

}


#splash-preview-button-2 {
    animation: yb-pulse-small 1s infinite;
    animation-delay: 0.5s;
    
}

#splash-preview-button-3 {
    animation: yb-pulse-small 1s infinite;
    animation-delay: 1s;
    
}



.profile-interact-icon {
    position: absolute !important;
    display: block;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.yb-color-option-wrapper {
    position: relative;
    display: grid;
    grid-template-rows: 2fr 1fr;
    color: white;
    width: 150px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.color-circle {
    position: relative;
    display: block;
    border-radius: 50%;
    margin: auto;
}

#additional-options {
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 50%;
    transform: translate(-50%, 0%);
    grid-gap: 5px;
    background-color: white;
    padding: 10px;
    border-radius: 25px;
    z-index: 101;
    fill: purple;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
    #additional-options {
        bottom: 35px;
    }
}

@media screen and (min-width: 768px) {
    #additional-options {
        bottom: 35px;
    }
    
}

.mini-button-icon {
    position: relative;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-image-container {
    position: relative;
    width: 192px;
    height: 192px;
    overflow: hidden;
    transition: 0.5s;

}

.profile-image-container:hover {
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.5s;;
}

.yb-editBarLabel {
    padding-right: 20px;
}


.profile-image-container.end {
    height: 50px !important;
    width: 50px !important;
    top: 50%;
    transform: translate(0, -50%);
    grid-column: 1 !important;
    transition: 0.5s !important;
}


.swipe-up-loading {
    position: absolute;
    display: none;
    bottom: 2vh;
    width: 100%;
    text-align: center;
    color: white;
}

.swipe-up-loading.false {
    display:none;
    transition: 0.5s;
}

.swipe-up-loading.true {
    display: block;
    transition: 0.5s;
}

.swipe-up-element.show {
    display: block;
    transition: 0.5s;
}

