<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Dashboard | {{user.username}}</title>
    </head>
    <body>
        <div id='dashboard-container'>
            <h3>Hey, {{user.first_name}}</h3>
            <p>Let's get you up to speed</p>
            <div id='info-container'>
                <p id="notification-count">You have {{notifications.count}} Notifications
                <div id='latest-notifications'>
                    {% for notification in notifications%}
                        {{notification.from_user}}
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>