{% extends 'social/base.html' %}
{% load static %}
{% block content %}
<!--Content is divided by bit type. There is a post wrapper element for chats, videos, and photos.-->
<link rel="stylesheet" type="text/css" href="{% static 'css/feed_yourbit.css' %}"/>


<script type="text/javascript" src="{% static 'scripts/yourbit_core.js' %}"></script>
<iframe id='feed-content-container' name = "global" src="{% url 'feed' 'global' '0' %}" sandbox="allow-top-navigation allow-scripts allow-forms allow-same-origin allow-top-navigation-by-user-activation">
</iframe>


{% endblock %}


