{% extends 'social/base.html' %}
{% load static %}
{% block content %}
<!--Content is divided by bit type. There is a post wrapper element for chats, videos, and photos.-->
<link rel="stylesheet" type="text/css" href="{% static 'css/feed_yourbit.css' %}"/>
<div id="content-container">
    <iframe id='feed-content-container' name = "global" src="{% url 'feed' 'global' '0' %}" sandbox="allow-top-navigation allow-scripts allow-forms">
    </iframe>
</div>
<script type="text/javascript" src="{% static 'scripts/yourbit_core.js' %}"></script>


{% endblock %}

{% block notifications_quickpanel %}
    <p>Notifications</p>
    {% if notification_length == 0 %}
    <p>No Notifications</p>
    {% else %}
    {% for request_notification in friend_requests %}
    <form class="interaction-notification" id="friend-request" method="POST" action="{% url 'profile-interact' request_notification.pk %}">
        {% csrf_token %}
        <img class="notification-profile-image"src="{{ request_notification.from_user.profile.image.url }}">
        <p class="interaction-notification-text">{{request_notification.from_user.first_name}} {{request_notification.from_user.last_name}} requested to be your friend!</p>
        <div class="notification-response-button-container">
            <button type="submit" name="accept_friend" class="friend-request-response-button">Accept</button>
            <button type="submit" name="decline_friend" class="friend-request-response-button">Decline</button>
        <div>
    </form>


    {% endfor %}
    {% endif %}
   
{% endblock %}
