{%load static%}
<html>
    <head>
        <title>Oops! Somethings Wrong...</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: rgb(55, 55, 55); text-align:center;">
        <div id="logo-container" style="position: relative; display:block; margin-left:auto; margin-right:auto; width: 40%; top: 0px;"><img src="{% static 'images/yourbit-logo-modern.png' %}" width="100%" id="logo"></div>
        <h3 style="color:white; font-family:Arial, Helvetica, sans-serif;">Uh oh. Looks like we've lost our engines.
            <br>
            Maintenance will have us up and running again shortly!
        </h3>

    </body>
</html>