{% extends 'social/base.html' %}
{% load static %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/messages-yourbit.css' %}"/>
<div id = 'content-container' style='padding-top: 70px; overflow-y: scroll;'>
    <div id='create-new-conversation' style='padding-top: 110px;'>
        <div class='mobile-search-recipents-form'>
            <input type = 'text' id='mobile-searchbar-messages' class='single-line-input' placeholder='Search Friends' >
        </div>  
        <div id='message-connection-list'>
        {% for connection in connections%}
            <div id="user-list-container"style="background-color: {{connection.user.profile.bit_background}};">
                <img class="profile-image-medium" src="{{connection.user.profile.image.url}}">
                <p class="list-user-name"  ><b>{{connection.user.first_name}} {{connection.user.last_name}}</b></p>
                <div class="active-status"></div>
            </div>
        {% endfor %}
        </div>
    
        </div>
    


    <h2 style='text-align: center; color: white; text-shadow: 1px 1px 3px rgba(0,0,0,0.5);'>Messages</h2>
    <div id="friends-messages-actions">
        <input type="text-field" id="message-friends-search" placeholder="Search Messages">
        <a class="write-message-button-bkd"><svg xmlns="http://www.w3.org/2000/svg" id='write-message-icon'height="24" width="24"><path d="M5 23.7q-.825 0-1.413-.588Q3 22.525 3 21.7v-14q0-.825.587-1.413Q4.175 5.7 5 5.7h8.925l-2 2H5v14h14v-6.95l2-2v8.95q0 .825-.587 1.412-.588.588-1.413.588Zm7-9Zm4.175-8.425 1.425 1.4-6.6 6.6V15.7h1.4l6.625-6.625 1.425 1.4-7.2 7.225H9v-4.25Zm4.275 4.2-4.275-4.2 2.5-2.5q.6-.6 1.438-.6.837 0 1.412.6l1.4 1.425q.575.575.575 1.4T22.925 8Z"/></svg></a>
    </div>
    <hr>

</div>



{% endblock %}




{% block appendedScripts %}
<script type='text/javascript'>        
    var base_url = window.location.origin;
    
    $(document).ready(function() {
        $('#back-to-home').fadeIn('slow');
        $('#back-to-home').animate({'bottom': '90px'});
        
    });
    
    $('#back-to-home').click(function() {
        window.location.href = `${base_url}/social/home`
    });
    
    $('.write-message-button-bkd').click(function() {
        $('#create-new-conversation').fadeIn('slow');
    });

</script>
{% endblock %}