{% extends "social/base.html" %}
{% load static %}
{% block content %}
<div id="content-container" style="top: 100vh;">
    <link rel="stylesheet" type="text/css" href="{% static 'css/yourbit_settings.css' %}"/>
    <div id="settings-container">

        <div class="settingsBox" id="void-subscription">
            <h3 class="setting-header">Subscription</h3>
            <p class="setting-description">
                Manage your paid subscriptions and payment methods on yourbit
            </p>
            <div class="edit-button-container"><a class="editSetting" href=""> Edit </a></div>
            
        </div>

        <div class="settingsBox" id="account-settings">
            <div class="setting-header-container" id="account-settings-header-container">
                <h3 class="setting-header" id="account-settings-header"> Account </h3>
            </div>
            <p id="account-settings-description" class="setting-description">
                Change account settings, like username, email, and name.
            </p>
            <div class="edit-button-container"><a class="editSetting" href="">Edit</a></div>  
        </div>
        
        <div class="settingsBox" id="personalization">
            <h3 class="setting-header" id="personalize-header">Personalization</h3>
                <p class="setting-description">
                    Edit profile colors, profile, image, background image, fonts, bio, gender, and default spaces.
                </p>
            <div class="edit-button-container"><a class="editSetting" href={% url 'personalize' %}> Edit </a></div>
        </div>

        <div class="settingsBox" id="privacy">
            <h3 class="setting-header">Privacy</h3>
            <p class="setting-description">Manage your privacy and exposure settings here, like who you wish to see your posts, what information do friends and followers have access to, and how your data is used.</p>
            <div class="edit-button-container"><a class="editSetting" href=""> Edit </a></div>
        </div>

        <div class="settingsBox" id="moderation-bot">
            <h3 class="setting-header">Feed/Reccomendation Control</h3>
            <p class="setting-description">Modify feed algorithms to tailor yourbit feeds to your liking, create presets and use quick visibility settings to jump to various feed settings depending on your mood.</p>
            <div class="edit-button-container"><a class="editSetting" href=""> Edit </a></div>
        </div>

        <div class="settingsBox" id="monetization">
            <h3 class="setting-header">Monetization</h3>
            <p class="setting-description">Manage settings for sending and recieving tips, promotional monetization coming soon.</p>
            <div class="edit-button-container"><a class="editSetting" href=""> Edit </a></div>
        </div>

    </div>
    <div class="settingFormContainer" id="subscription-form-container">
        <div id="subscription-form-box">
            <form id="subscription-form">
                
            </form>
        </div>
    </div>
    <div id="mobile-spacer">
    </div>
</div>
<script type="text/javascript">
    var base_url = window.location.origin;
        
    $(document).ready(function() {
        $('#back-to-home').fadeIn('slow');
        $('#back-to-home').animate({'bottom': '90px'});
        $('#content-container').animate({'top':'0px'})
        
    });
    
    $('#back-to-home').click(function() {
        window.location.href = `${base_url}/social/home`
    });
</script>
{% endblock %}