<!DOCTYPE html>

<html>
    {% load static %}
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/onboarding.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/yourbit_core.css' %}"/>
        <title>Welcome, {{ user.first_name }}</title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1">
    </head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" />
    <script type="text/javascript" src="{% static 'scripts/yb-global.js' %}"></script>
    <body>
        <img id='bg-image' style='opacity:0;' class='bg-image' src=''>
        <div id='onboard-welcome' style='position: absolute; z-index: 2; width: 95%; margin-top: 100px; margin-left: auto; margin-right: auto; text-align: center;'>
            <p>
                <h3>Welcome aboard, {{user.first_name}}!</h3>
                You are almost to Yourbit. On our way, we're going to configure
                your initial profile settings with your preferences. Yourbit has
                a ton of options for managing appearance, your exposure, and what
                you see, this step will introduce you to the most important concepts.
                <br>
                <br>
                <button class="yb-pages-next" data-step = '0'>OK!</button>
            </p>
        </div>
        <div id='profile-images' style="position:absolute; z-index: 2; text-align: center; display:none; left: 100vw;">
            <h3 style="text-align: center;">Profile Images</h3>
            <p style="text-align: center;">You can upload a profile image and a background image to personalize your space</p>
            <div class='image-preview'>
                <div class='profile-image-preview-main'>
                    <img id='profile-image-preview-image' class='profile-image-preview-image' src="{{user_image.url}}">
                </div>

            </div>      
            
            <div class="cb-divider" style = "display: none; top: 0; left: 0; width: 100vw; height: 100vh; position: fixed; z-index: 24; -webkit-backdrop-filter: brightness(30%); backdrop-filter: brightness(30%);">
            </div>
            <div class="yb-cropper-container profile-image">
                <img id="profile-image-preview" style="object-fit: contain; max-width:100%; max-height: 250px;"/>
                <input type="hidden" id="cropper-output" value="">
                <div id="profile-cropper-submission-controls" style="display:none; width:100%; background-color: rgba(0, 0, 0, 0.5);">
                    <button id="profile-advanced-options-button" style="margin-top: 2px; position: absolute; left: 5px;" class = "yb-form-button">Show Advanced Options</button>
                    <button id="profile-image-cropper-save" class="yb-form-button" type = "button" style="background-color: darkgreen; position: absolute; right: 5px;" onclick="uploadImage('profile-image')">Save</button>
                </div>  
                <script>
                    let input = document.getElementById('profile-image-input');
                    let save_button = document.getElementById('profile-image-cropper-save');
                    save_button.addEventListener('click', function(){
                        
                        let profile_image_preview = document.getElementById('profile-image-preview');
                        let profile_cropper_controls = document.getElementById('profile-cropper-submission-controls');
                        let cropper = document.querySelector('.cropper-container'); 
                        let input_field = document.getElementById('profile-image-input');
                        let form = document.querySelector('.upload-field');

                        input_field.style.display = 'none';
                        profile_image_preview.style.display = 'none';
                        profile_cropper_controls.style.display = 'none';

                        
                        let complete_container = yb_createElement('div', 'profile-image-upload-complete', 'complete_message');
                        complete_container.style.width = 'fit-content';
                        complete_container.style.marginLeft = 'auto';
                        complete_container.style.marginRight = 'auto';
                        complete_container.style.marginTop = '10px';
                        $(".cb-divider").fadeOut();


                        let icon = `<svg style="position: relative; grid-column: 1; margin:auto;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path style="fill:green" d="m424 760 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197 859q-54-54-85.5-127T80 576q0-83 31.5-156T197 293q54-54 127-85.5T480 176q83 0 156 31.5T763 293q54 54 85.5 127T880 576q0 83-31.5 156T763 859q-54 54-127 85.5T480 976Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>`
                        complete_container.innerHTML = `<div style="display:grid; grid-template-columns: 30px 130px;">${icon} <p style="grid-column: 2; margin: auto;">Image Uploaded!</p></div>`;
                        form.appendChild(complete_container);

                    });
                </script>
            </div>

            <div class="yb-cropper-container background">
                <img id="background-image-preview" style="object-fit: contain; display: none; max-width:100%; max-height: 250px; margin-left: auto; margin-right: auto;"/>
                <input type="hidden" id="cropper-output" value="">
                <div id="background-cropper-submission-controls" style="display:none; width:100%; text-align:center;">
                    
                    <button id="background-advanced-options-button" style="margin-top: 2px; position: absolute; left: 5px;" class = "yb-form-button">Show Advanced Options</button>
                    <button id="background-image-cropper-save" class="yb-form-button" type="button" style="background-color: darkgreen; position: absolute; right: 5px;" onclick="uploadImage('background-image')">Save</button>
                    
                </div>
                <script>

                    let save_button_2 = document.getElementById('background-image-cropper-save');
                    save_button_2.addEventListener("click", function() {
                        
                        let profile_image_preview = document.getElementById('background-image-preview');
                        let profile_cropper_controls = document.getElementById('background-cropper-submission-controls');
                        let cropper = document.querySelectorAll('.cropper-container'); 
                        console.log(cropper)


                        
                        let input_field = document.getElementById('background-image-input');
                        let form = document.getElementById('background-image-onboard-container');
                        input_field.style.display = 'none';
                        profile_image_preview.style.display = 'none';
                        profile_cropper_controls.style.display = 'none';
                        
                        
                        let complete_container = yb_createElement('div', 'profile-image-upload-complete', 'complete_message');
                        complete_container.style.width = 'fit-content';
                        complete_container.style.marginLeft = 'auto';
                        complete_container.style.marginRight = 'auto';
                        complete_container.style.marginTop = '10px';
                        
                        $(".cb-divider").fadeOut();

                        let icon = `<svg style="position: relative; grid-column: 1; margin:auto;" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 96 960 960" width="24"><path style="fill:green" d="m424 760 282-282-56-56-226 226-114-114-56 56 170 170Zm56 216q-83 0-156-31.5T197 859q-54-54-85.5-127T80 576q0-83 31.5-156T197 293q54-54 127-85.5T480 176q83 0 156 31.5T763 293q54 54 85.5 127T880 576q0 83-31.5 156T763 859q-54 54-127 85.5T480 976Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/></svg>`
                        complete_container.innerHTML = `<div style="display:grid; grid-template-columns: 30px 130px;">${icon} <p style="grid-column: 2; margin: auto;">Image Uploaded!</p></div>`;
                        form.appendChild(complete_container);

                    })
                    
                </script>
            </div>

            <!--Profile Image Upload Form-->
            <form method="POST" class='upload-field' enctype="multipart/form-data" style="background-color: rgba(0, 0, 0, 0.8); position: relative; width: 90vw; left: 50%; transform: translate(-50%, 0);">
                    {% csrf_token %}
                    <h4>Profile Picture</h4>
                    
                    <input type="file" id="profile-image-input" style="width:225px;" onchange="previewImage('profile-image')" />


            </form>


            <!--Background image upload form-->
            <form class='upload-field' id="background-image-onboard-container" method="POST" enctype="multipart/form-data" style="background-color: rgba(0, 0, 0, 0.8); position: relative; width: 90vw; left: 50%; transform: translate(-50%, 0);">
                {% csrf_token %}
                <h4>Profile Skin</h4> 
                <input type="file" id="background-image-input" onchange = "previewImage('mobile-background')" style="width:225px;" />

                
            </form>
            <button class="yb-pages-back" data-step = '1'>Back</button>
            <button style='margin-left: auto; margin-right: auto;' class="yb-pages-next" data-step = '1';>Next</button>
        </div>
        <div id="profile-setup" style="position:absolute; z-index: 2; display:none; text-align: center; width: 100vw; left: 100vw;">
            <h2>Profile Info</h2>
            <p>Let's get to know you a little more</p>
            <br>
            <label for='gender-field' name='gender'>Gender</label>
            <br>
            <select type="text" class='yb-single-line-input' name="yb-align-text" id="gender-field" style='color: white;' placeholder="Paragraph Align">
                <option value="M">Male</option>
                <option value="F">Female</option>
                <option value="O">Other/Prefer not to say</option>
            </select>
            <br>
            <br>
            <label for="motto-field">Motto</label>
            <br>
            <input type="text" name='motto' class='yb-single-line-input' id="motto-field" placeholder="What's your motto?" style="color:white; font-size: 14px;">
            <br>
            <br>
            <label for='bio-field' >Bio</label>
            <br>
            <textarea  type="text" name='bio' class='yb-form-multi-line-field' id="bio-field" placeholder="Tell us about yourself!" style="color:white; font-size: 14px;"></textarea>
            <br>
            <br>
            <button class="yb-pages-back" data-step = '2'>Back</button>
            <button class="yb-pages-next" data-step = '2'>Next</button>
            
        </div>
        <div id='profile-privacy' style='position:absolute; left: 100vw; display:none; z-index: 2; text-align: center;'>
            <h2>Privacy</h2>
            <p>
                Yourbit has many ways of managing your privacy
                precisely how you want to, here we'll get the basics
                set up for you.
            </p>
            <br>
            <label for='name-check' >Who can see your real name?</label>
            <br>
            <select type="text" class='yb-single-line-input' name="yb-name-check" id="name-check" style='color: white;' placeholder="Select from list:">
                <option value="E">Everyone</option>
                <option value="FO">Friends Only</option>
                <option value="NO">Nobody</option>
            </select>

            <br>
            <br>
            <label for='message-check' >Who can message you?</label>
            <br>
            <select type="text" class='yb-single-line-input' name="yb-name-check" id="message-check" style='color: white;' placeholder="Select from list:">
                <option value="E">Everyone</option>
                <option value="FF">Friends and Following</option>
                <option value="FO">Friends Only</option>
                <option value="NO">Nobody</option>
            </select>
            <br>
            <div style='width:90vw; margin-left:auto; margin-right:auto; position: relative; height: fit-content; text-align:left;'>
                <br>
                <br>
                <input type='checkbox'class='yb-form-checkbox' id='visibility-check'>
                <label for='visibility-check'>Hide real name in search?</label>
                <br>
                <br>
                <input type='checkbox' class='yb-form-checkbox' id='toggle-followers' checked>
                <label for='toggle-followers'>Enable Followers</label>
            </div>
            <br>
            <br>
            <button class="yb-pages-back" data-step = '3'>Back</button>
            <button class="yb-pages-next" data-step = '3'>Next</button>
        </div>
        <div id='profile-personalization' style="position: absolute; z-index: 2; display:none; left: 100vw; text-align: center;">
            <h4>Personalization</h4>
            <p>
                We are all set with basic info. Now, let's give your 
                profile a splash of You. On the next page,
                you'll be presented with options for customizing various
                color and text settings on your profile. You can express 
                your individuality through color with a unique style that 
                allows you to stand out in the crowd.

            </p>
            <button class="yb-pages-back" data-step = '4'>Back</button>
            <button class="yb-pages-next" data-step = '4'>Let's Go!</button>
        </div>
        
    </body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'scripts/yb_crop.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/yb-ajax.js' %}"></script>
    <script>
        //List of pages to iterate through with each yb-pages-next button press
        var page_list = ['#onboard-welcome', '#profile-images', '#profile-setup', '#profile-privacy', '#profile-personalization'];
        
        //No function is first in list because there is no request submitted on the first page of onboarding
        var function_list = ['no-function','updateImages','updateInfo', 'updatePrivacy', 'updateCustom']
        
        var profile_image_loaded;

        var preview_stage = 0;

        var base_url = window.location.origin;

        $('.yb-pages-next').click(function() {
            let step = $(this).attr('data-step');
            let current_page = page_list[parseInt(step)];
            console.log("clicked")
            console.log(step);
            if (step != 0 && step != 4) {
                packageRequest(function_list[parseInt(step)])
            }
            if (step < 4) {
                console.log(current_page)
                let next_page_interval = parseInt(step) + 1;
                let next_page = page_list[next_page_interval];
                let motion = 1;
                nextPage(motion, current_page, next_page);
            }
            if (step === 4){
                console.log("button identified");
                window.location.href = `${base_url}/profile/customize/`;
            }
        });

        $('.yb-pages-back').click(function() {
            let step = $(this).attr('data-step');
            let current_page = page_list[parseInt(step)];
            let previous_page_interval = parseInt(step) - 1;
            let previous_page = page_list[previous_page_interval];
            let motion = 0;
            nextPage(motion, current_page, previous_page);
        });

        $('#toggle-colors').change(function() {
            $('#color-customizations').show();
            $('#color-customizations').animate({'height': '35vh'}, 'slow');
        });
        
        function nextPage(motion, current_page, next_page) {
            
            $(next_page).show();
            if (motion === 0) {
                $(current_page).animate({'left': '100vw'});
                $(next_page).animate({'left':'0vw'});

            }
            if (motion === 1) {
                $(current_page).animate({'left':'-100vw'});
                $(next_page).animate({'left': '0vw'});
            }
            $(current_page).hide();
        }

        const primary_color_field = document.getElementById('primary-color-select')
        primary_color_field.addEventListener("change", function() {
            let bit_background = document.getElementById('bit-colors-preview');
            bit_background.style.backgroundColor = this.value;
        });

        const accent_color_field = document.getElementById('accent-color-select')
        accent_color_field.addEventListener("change", function() {
            let border1 = document.getElementById('profile-image-preview-image2');
            let border2 = document.getElementById('bit-profile-image');
            border1.style.borderColor = this.value;
            border2.style.borderColor = this.value;
        });

        const feedback_icon_field = document.getElementById('feedback-icon-color-select');
        feedback_icon_field.addEventListener('change', function() {
            let feedback_preview1 = document.getElementById('button1').style.backgroundColor = this.value;
            let feedback_preview2 = document.getElementById('button2').style.backgroundColor = this.value;
            let feedback_preview3 = document.getElementById('button3').style.backgroundColor = this.value;
            let feedback_preview4 = document.getElementById('button4').style.backgroundColor = this.value;
            let feedback_preview5 = document.getElementById('button5').style.backgroundColor = this.value;
            
        });

        
        const icon_field = document.getElementById('icon-color-select');
        icon_field.addEventListener('change', function() {
            let space_icon1 = document.getElementById('icon-image-1').style.fill = this.value;
            let space_icon2 = document.getElementById('icon-image-2').style.fill = this.value;
            let space_icon3 = document.getElementById('icon-image-3').style.fill = this.value;
            let space_icon4 = document.getElementById('icon-image-4').style.fill = this.value;
            let space_icon5 = document.getElementById('icon-image-5').style.fill = this.value;
            let space_icon6 = document.getElementById('icon-image-6').style.fill = this.value;
            let space_icon7 = document.getElementById('icon-image-7').style.fill = this.value;
            let space_icon8 = document.getElementById('icon-image-8').style.fill = this.value;
            
        });

        const text_color_field = document.getElementById('pfont-color-select');
        text_color_field.addEventListener('change', function() {
            let text_color_preview = document.getElementById('preview-paragraph');
            text_color_preview.style.color = this.value;
        });

        const title_color_field = document.getElementById('tfont-color-select');
        title_color_field.addEventListener('change', function() {
            let title_color_preview = document.getElementById('preview-title');
            title_color_preview.style.color = this.value;
        });

        accent_color_field.addEventListener('click', function() {
            if (preview_stage === 1) {
                $('#bit-colors-preview').fadeOut();
                $('#accent-color-preview').fadeIn();
            }
            if (preview_stage === 2) {
                $('#icon-color-preview').fadeOut();
                $('#accent-color-preview').fadeIn();
            }

            preview_stage = 0
        });

        icon_field.addEventListener('click', function() {
            if (preview_stage === 0) {
                $('#accent-color-preview').fadeOut();
                $('#icon-color-preview').fadeIn();
            }
            if (preview_stage === 1) {
                $('#bit-colors-preview').fadeOut();
                $('#icon-color-preview').fadeIn();
            }
            preview_stage = 2
        });

        title_color_field.addEventListener('click', function() {
            if (preview_stage === 0) {
                $('#accent-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            if (preview_stage === 2) {
                $('#icon-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            preview_stage = 1
        });

        text_color_field.addEventListener('click', function() {
            if (preview_stage === 0) {
                $('#accent-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            if (preview_stage === 2) {
                $('#icon-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            preview_stage = 1
        });

        feedback_icon_field.addEventListener('click', function() {
            if (preview_stage === 0) {
                $('#accent-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            if (preview_stage === 2) {
                $('#icon-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            preview_stage = 1
        });
        primary_color_field.addEventListener('click', function() {
            if (preview_stage === 0) {
                $('#accent-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            if (preview_stage === 2) {
                $('#icon-color-preview').fadeOut();
                $('#bit-colors-preview').fadeIn();
            }
            preview_stage = 1
        });




        
        function packageRequest(form_request) {
            let request = new FormData();
            let page;
            console.log(form_request)
            if (form_request === 'updateInfo') {
                let gender = $('#gender-field').val();
                console.log(gender)
                let bio = $('#bio-field').val();
                let motto = $('#motto-field').val();
                console.log("update_info")
                page=1;
                console.log(page)
                request.append('page', page);
                request.append('motto', motto);
                request.append('gender', gender);
                request.append('bio', bio);
                console.log(request)
            } 
            if (form_request === 'updatePrivacy') {
                let name_visibility = $('#name-check').val();
                let message_availability = $('#message-check').val();
                let publicity = $('#public-check').val();
                let search_visibility = $('#visibility-check').val();
                if (search_visibility === 'on') {
                    search_visibility = true;
                } else {
                    search_visibility = false;
                }
                let followers_enabled = $('#toggle-followers').val();
                if (followers_enabled === 'on') {
                    followers_enabled = true;
                } else {
                    followers_enabled = false;
                }
                page=2;
                request.append('page', page);
                request.append('name_visibility', name_visibility);
                request.append('message_availability', message_availability);
                console.log(message_availability)
                request.append('publicity', publicity);
                request.append('search_visibility', search_visibility)
                request.append('followers_enabled', followers_enabled)
            }
            if (form_request === 'updateCustom') {
                console.log("Redirecting...")

                
            }
            console.log(page)
            yb_sendRequest(request, page)
            
        }

        function yb_sendRequest(request, page) {
            console.log(page)
            let cookie = document.cookie;
            let csrfToken = cookie.substring(cookie.indexOf('=') + 1);
            
            $.ajax(
                {
                    type: 'POST',
                    contentType: false,
                    // The following is necessary so jQuery won't try to convert the object into a string
                    processData: false,
                    headers: {

                        'X-CSRFToken': csrfToken,
                    },
                    url: '/onboarding/',
                    data: request,
        
                    success: function(response) {
                        console.log('Successfully Updated Information')
                        if (page === 3) {
                            window.location.href = `${base_url}/profile/customize/`;
                        }
                    }

                }
            )

        }


    
    </script>
</html>