<html>
    {% load static %}
    <head>
        <title>Create an Account | Yourbit</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}"/>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <script type="text/javascript" src="{% static 'scripts/yb-global.js' %}"></script>
    </head>
    <input id='csrf-token' type='hidden' value={{csrf_token}}>
    <body>
        <form method="POST" id="invisible-form" style="display: none;">
            {% csrf_token %}
            {{registration_form.dob}}
            {{registration_form.email}}
            {{registration_form.first_name}}
            {{registration_form.last_name}}
            {{registration_form.username}}
            {{registration_form.password1}}
            {{registration_form.password2}}

        </form>
        <div id="logo-container"><img src="{% static 'images/logo-flat.png' %}" width="30%" id="logo"></div>
        <h3 id="form-title" style="color:white; text-align:center;">Create an Account</h3>
        <div id="error-message" class="error-message" style="text-align:center; color: red;">
            <p id="error-message-text"></p>
        </div>

        <div method='POST' class='form-group' id="form" >
            
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script type="text/javascript" src="{% static 'scripts/yb-ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'scripts/register.js' %}"></script>
    </body>
</html>
