.options-bar {
    display: grid;
    position: relative;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: auto;
    z-index: 15;
    position:fixed;
    top: 60px;
    left: 0px;
    grid-template-columns: auto auto auto auto;
    padding-bottom: 5px;
    backdrop-filter: blur(20px);

}

#space-label {
    position: relative;
    margin-top: 5px;
    margin-bottom: auto;

}

.filter-label {
    position: relative;
    margin-top: 5px;
    margin-bottom: auto;
}

#no-content-message {
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
}

#no-content-message-text {
    display: block;
    position: relative;
    overflow: hidden;

}

#no-content-detail {
    display: block;
    position: relative;
    top: 40%;
}

    
#mobile-spacer {
    display: block;
    position: relative;
    height: 150px;
    bottom: 0px;
}

